@charset "UTF-8";
/* Color
-------------------------- */
/*============== ui library custom theme vars ==============*/
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Break-point
--------------------------*/
/*============== custom vars ==============*/
.hamburger__inner, .hamburger__hidden, .hamburger__inner:before, .hamburger__hidden:before, .hamburger__inner:after, .hamburger__hidden:after {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  border-radius: 4px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  opacity: 1; }

.hamburger__inner:before, .hamburger__hidden:before, .hamburger__inner:after, .hamburger__hidden:after {
  content: ""; }
.hamburger__inner:before, .hamburger__hidden:before {
  top: -8px; }
.hamburger__inner:after, .hamburger__hidden:after {
  top: 8px; }

/* WEB FONT SET
-------------------------- */
@font-face {
  font-family: 'NanumBarunGothic';
  font-weight: 700;
  src: url(../fonts/nanumBarunGothic/nanumBarunGothicBoldSubset.eot);
  src: url(../fonts/nanumBarunGothic/nanumBarunGothicBoldSubset.eot?#iefix) format("embedded-opentype"), url(../fonts/nanumBarunGothic/nanumBarunGothicBoldSubset.woff2) format("woff2"), url(../fonts/nanumBarunGothic/nanumBarunGothicBoldSubset.woff) format("woff"), url(../fonts/nanumBarunGothic/nanumBarunGothicBoldSubset.ttf) format("truetype"); }
@font-face {
  font-family: 'NanumBarunGothic';
  font-weight: 400;
  src: url(../fonts/nanumBarunGothic/nanumBarunGothicSubset.eot);
  src: url(../fonts/nanumBarunGothic/nanumBarunGothicSubset.eot?#iefix) format("embedded-opentype"), url(../fonts/nanumBarunGothic/nanumBarunGothicSubset.woff2) format("woff2"), url(../fonts/nanumBarunGothic/nanumBarunGothicSubset.woff) format("woff"), url(../fonts/nanumBarunGothic/nanumBarunGothicSubset.ttf) format("truetype"); }
@font-face {
  font-family: 'NanumBarunGothic';
  font-weight: 300;
  src: url(../fonts/nanumBarunGothic/nanumBarunGothicLightSubset.eot);
  src: url(../fonts/nanumBarunGothic/nanumBarunGothicLightSubset.eot?#iefix) format("embedded-opentype"), url(../fonts/nanumBarunGothic/nanumBarunGothicLightSubset.woff2) format("woff2"), url(../fonts/nanumBarunGothic/nanumBarunGothicLightSubset.woff) format("woff"), url(../fonts/nanumBarunGothic/nanumBarunGothicLightSubset.ttf) format("truetype"); }
@font-face {
  font-family: 'NanumBarunGothic';
  font-weight: 200;
  src: url(../fonts/nanumBarunGothic/nanumBarunGothicUltraLightSubset.eot);
  src: url(../fonts/nanumBarunGothic/nanumBarunGothicUltraLightSubset.eot?#iefix) format("embedded-opentype"), url(../fonts/nanumBarunGothic/nanumBarunGothicUltraLightSubset.woff2) format("woff2"), url(../fonts/nanumBarunGothic/nanumBarunGothicUltraLightSubset.woff) format("woff"), url(../fonts/nanumBarunGothic/nanumBarunGothicUltraLightSubset.ttf) format("truetype"); }
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url(../fonts/roboto/roboto-Medium.eot);
  src: url(../fonts/roboto/roboto-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/roboto/roboto-Medium.woff2) format("woff2"), url(../fonts/roboto/roboto-Medium.woff) format("woff"), url(../fonts/roboto/roboto-Medium.ttf) format("truetype"); }
/* RESET STYLE
-------------------------- */
html {
  background: #ffffff !important;
  font-size: 15px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  line-height: 1.42857143;
  background: #ffffff !important;
  font-family: "NanumBarunGothic", Malgun Gothic, Dotum, "Apple SD Gothic Neo", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #212121;
  letter-spacing: -0.15px; }

input, button, select, textarea {
  line-height: inherit;
  font-family: inherit;
  font-size: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, main, nav, section, summary {
  display: block; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, q, s, samp, strike, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  padding: 0;
  /*line-height:1.5;*/
  margin: 0;
  border: 0 none; }

body {
  position: relative;
  word-break: break-all;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

header, h1 {
  font-size: 100%; }

html, body {
  height: 100%; }

caption, legend {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
  font-size: 0;
  visibility: hidden;
  overflow: hidden; }

caption {
  display: none; }

img {
  border: none;
  vertical-align: top; }

select, input {
  background-color: transparent;
  border: 0px;
  vertical-align: top;
  border-radius: 0;
  box-shadow: none; }

hr {
  display: none;
  border: 0 none; }

ol, ul, ul li {
  padding: 0;
  margin: 0;
  list-style: none; }

dl, dt, dd {
  padding: 0;
  margin: 0; }

em {
  font-style: normal; }

menu li {
  list-style: none; }

address {
  display: inline;
  font-style: normal; }

button {
  background-color: transparent;
  border: 0px;
  border-radius: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

button:active {
  outline: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

input, textarea, keygen, select, button {
  font-family: "NanumBarunGothic", Malgun Gothic, Dotum, "Apple SD Gothic Neo", sans-serif; }

strong {
  font-weight: 800; }

dfn {
  font-style: normal; }

a {
  color: inherit; }

a, a:hover, a:link, a:visited, a:active, a:focus {
  text-decoration: none;
  cursor: pointer;
  /*color:inherit;*/ }

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

fieldset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

select, input[type=radio], input[type=submit], input[type=search] {
  border: 0px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

select::-ms-expand {
  display: none; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button, input[type=date]::-webkit-inner-spin-button, input[type=date]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none; }

input[type=date]::-webkit-calendar-picker-indicator {
  background: none;
  color: transparent;
  z-index: 1; }

textarea {
  width: 100%;
  background: none;
  border: none;
  color: #666666;
  resize: none; }

body, input, textarea, select, button {
  font-family: "NanumBarunGothic", Malgun Gothic, Dotum, "Apple SD Gothic Neo", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal; }

img {
  height: auto;
  vertical-align: top;
  max-width: 100%;
  -ms-interpolation-mode: bicubic; }

small {
  font-size: 88%;
  font-weight: 400;
  color: #7d8592; }

/* HELP STYLE
-------------------------- */
.invisible {
  position: absolute !important;
  width: 0 !important;
  height: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  overflow: hidden !important; }

.under {
  text-decoration: underline !important;
  cursor: pointer; }
  .under:hover, .under:active, .under:focus {
    text-decoration: underline; }

.del {
  text-decoration: line-through; }

.en {
  letter-spacing: 0 !important; }

.link-hover:hover, .link-hover:focus, .link-hover:active {
  color: #ff2951; }

.mgt5 {
  margin-top: 5px; }
.mgt10 {
  margin-top: 10px; }
.mgt15 {
  margin-top: 15px; }
.mgt20 {
  margin-top: 20px; }
.mgt25 {
  margin-top: 25px; }
.mgt30 {
  margin-top: 30px; }
.mgt40 {
  margin-top: 40px !important; }
.mgb15 {
  margin-bottom: 15px !important; }
.mgl-auto {
  margin-left: auto; }
.mgl5 {
  margin-left: 5px !important; }
.mgl10 {
  margin-left: 10px !important; }
.mgl20 {
  margin-left: 20px !important; }
.mgl30 {
  margin-left: 30px !important; }
.mgl40 {
  margin-left: 40px !important; }
.mgl50 {
  margin-left: 50px !important; }

.bdb-1 {
  border-bottom: 1px solid #aaaaaa; }

.pull-left {
  display: inline-block;
  float: left; }
.pull-right {
  display: inline-block;
  float: right; }

.text-left {
  text-align: left !important; }
.text-center {
  text-align: center !important; }
.text-right {
  text-align: right !important; }

.vertical-mid {
  vertical-align: middle !important; }

.hand {
  cursor: pointer; }

/* CUSTOM ANIMATION STYLE
-------------------------- */
@-webkit-keyframes shadow-pulse1 {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 41, 81, 0.3); }
  100% {
    box-shadow: 0 0 0 12px rgba(255, 41, 81, 0); } }
@-moz-keyframes shadow-pulse1 {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 41, 81, 0.3); }
  100% {
    box-shadow: 0 0 0 12px rgba(255, 41, 81, 0); } }
@-ms-keyframes shadow-pulse1 {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 41, 81, 0.3); }
  100% {
    box-shadow: 0 0 0 12px rgba(255, 41, 81, 0); } }
@keyframes shadow-pulse1 {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 41, 81, 0.3); }
  100% {
    box-shadow: 0 0 0 12px rgba(255, 41, 81, 0); } }
@-webkit-keyframes shadow-sm-pulse1 {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 41, 81, 0.3); }
  100% {
    box-shadow: 0 0 0 5px rgba(255, 41, 81, 0); } }
@-moz-keyframes shadow-sm-pulse1 {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 41, 81, 0.3); }
  100% {
    box-shadow: 0 0 0 5px rgba(255, 41, 81, 0); } }
@-ms-keyframes shadow-sm-pulse1 {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 41, 81, 0.3); }
  100% {
    box-shadow: 0 0 0 5px rgba(255, 41, 81, 0); } }
@keyframes shadow-sm-pulse1 {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 41, 81, 0.3); }
  100% {
    box-shadow: 0 0 0 5px rgba(255, 41, 81, 0); } }
@-webkit-keyframes shadow-pulse2 {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 41, 81, 0.3); }
  100% {
    box-shadow: 0 0 0 12px rgba(255, 41, 81, 0); } }
@-moz-keyframes shadow-pulse2 {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 41, 81, 0.3); }
  100% {
    box-shadow: 0 0 0 12px rgba(255, 41, 81, 0); } }
@-ms-keyframes shadow-pulse2 {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 41, 81, 0.3); }
  100% {
    box-shadow: 0 0 0 12px rgba(255, 41, 81, 0); } }
@keyframes shadow-pulse2 {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 41, 81, 0.3); }
  100% {
    box-shadow: 0 0 0 12px rgba(255, 41, 81, 0); } }
@-webkit-keyframes shadow-pulse3 {
  0% {
    box-shadow: 0 0 0 0px rgba(19, 105, 250, 0.3); }
  100% {
    box-shadow: 0 0 0 12px rgba(19, 105, 250, 0); } }
@-moz-keyframes shadow-pulse3 {
  0% {
    box-shadow: 0 0 0 0px rgba(19, 105, 250, 0.3); }
  100% {
    box-shadow: 0 0 0 12px rgba(19, 105, 250, 0); } }
@-ms-keyframes shadow-pulse3 {
  0% {
    box-shadow: 0 0 0 0px rgba(19, 105, 250, 0.3); }
  100% {
    box-shadow: 0 0 0 12px rgba(19, 105, 250, 0); } }
@keyframes shadow-pulse3 {
  0% {
    box-shadow: 0 0 0 0px rgba(19, 105, 250, 0.3); }
  100% {
    box-shadow: 0 0 0 12px rgba(19, 105, 250, 0); } }
@-webkit-keyframes shadow-pulse4 {
  0% {
    box-shadow: 0 0 0 0px rgba(102, 102, 102, 0.3); }
  100% {
    box-shadow: 0 0 0 12px rgba(102, 102, 102, 0); } }
@-moz-keyframes shadow-pulse4 {
  0% {
    box-shadow: 0 0 0 0px rgba(102, 102, 102, 0.3); }
  100% {
    box-shadow: 0 0 0 12px rgba(102, 102, 102, 0); } }
@-ms-keyframes shadow-pulse4 {
  0% {
    box-shadow: 0 0 0 0px rgba(102, 102, 102, 0.3); }
  100% {
    box-shadow: 0 0 0 12px rgba(102, 102, 102, 0); } }
@keyframes shadow-pulse4 {
  0% {
    box-shadow: 0 0 0 0px rgba(102, 102, 102, 0.3); }
  100% {
    box-shadow: 0 0 0 12px rgba(102, 102, 102, 0); } }
@keyframes spin-inf {
  100% {
    transform: rotate(360deg); } }
@-webkit-keyframes burger-hover {
  0% {
    width: 100%; }
  50% {
    width: 50%; }
  100% {
    width: 100%; } }
@-moz-keyframes burger-hover {
  0% {
    width: 100%; }
  50% {
    width: 50%; }
  100% {
    width: 100%; } }
@-ms-keyframes burger-hover {
  0% {
    width: 100%; }
  50% {
    width: 50%; }
  100% {
    width: 100%; } }
@keyframes burger-hover {
  0% {
    width: 100%; }
  50% {
    width: 50%; }
  100% {
    width: 100%; } }
@-webkit-keyframes icon-ani {
  0% {
    transform: scaleX(1); }
  25% {
    transform: scaleX(0); }
  50% {
    transform: scaleX(1); }
  75% {
    transform: scaleX(0); }
  100% {
    transform: scaleX(1); } }
@-moz-keyframes icon-ani {
  0% {
    transform: scaleX(1); }
  25% {
    transform: scaleX(0); }
  50% {
    transform: scaleX(1); }
  75% {
    transform: scaleX(0); }
  100% {
    transform: scaleX(1); } }
@-ms-keyframes icon-ani {
  0% {
    transform: scaleX(1); }
  25% {
    transform: scaleX(0); }
  50% {
    transform: scaleX(1); }
  75% {
    transform: scaleX(0); }
  100% {
    transform: scaleX(1); } }
@keyframes icon-ani {
  0% {
    transform: scaleX(1); }
  25% {
    transform: scaleX(0); }
  50% {
    transform: scaleX(1); }
  75% {
    transform: scaleX(0); }
  100% {
    transform: scaleX(1); } }
@-webkit-keyframes arrow-icon-ani {
  0% {
    margin-left: 0px; }
  50% {
    margin-left: 7px; }
  100% {
    margin-left: 0px; } }
@-moz-keyframes arrow-icon-ani {
  0% {
    margin-left: 0px; }
  50% {
    margin-left: 7px; }
  100% {
    margin-left: 0px; } }
@-ms-keyframes arrow-icon-ani {
  0% {
    margin-left: 0px; }
  50% {
    margin-left: 7px; }
  100% {
    margin-left: 0px; } }
@keyframes arrow-icon-ani {
  0% {
    margin-left: 0px; }
  50% {
    margin-left: 7px; }
  100% {
    margin-left: 0px; } }
@-webkit-keyframes bg-ani {
  0% {
    background-position: 50% 45%;
    background-size: 100%; }
  50% {
    background-position: 50% 50%;
    background-size: 95%; }
  100% {
    background-position: 50% 45%;
    background-size: 100%; } }
@-moz-keyframes bg-ani {
  0% {
    background-position: 50% 45%;
    background-size: 100%; }
  50% {
    background-position: 50% 50%;
    background-size: 95%; }
  100% {
    background-position: 50% 45%;
    background-size: 100%; } }
@-ms-keyframes bg-ani {
  0% {
    background-position: 50% 45%;
    background-size: 100%; }
  50% {
    background-position: 50% 50%;
    background-size: 95%; }
  100% {
    background-position: 50% 45%;
    background-size: 100%; } }
@keyframes bg-ani {
  0% {
    background-position: 50% 45%;
    background-size: 100%; }
  50% {
    background-position: 50% 50%;
    background-size: 95%; }
  100% {
    background-position: 50% 45%;
    background-size: 100%; } }
@keyframes osc-l {
  0% {
    left: 20%; }
  50% {
    left: 50%; }
  100% {
    left: 20%; } }
@keyframes osc-r {
  0% {
    left: 80%; }
  50% {
    left: 50%; }
  100% {
    left: 80%; } }
@keyframes ripple {
  from {
    opacity: 1;
    transform: scale3d(0.75, 0.75, 1); }
  to {
    opacity: 0;
    transform: scale3d(1.5, 1.5, 1); } }
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    -ms-transform: translate3d(0, 20px, 0);
    -moz-transform: translate3d(0, 20px, 0);
    -o-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0); }
  to {
    opacity: 1;
    transform: none; } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
/* INIT
-------------------------- */
html {
  font-size: 13px;
  min-width: 360px;
  overflow-x: auto; }
  @media screen and (min-width: 425px) {
    html {
      font-size: 13.5px; } }
  @media screen and (min-width: 768px) {
    html {
      font-size: 14px; } }
  @media screen and (min-width: 992px) {
    html {
      font-size: 15px; } }

/* HELP STYLE
-------------------------- */
.label-tag {
  padding: 3px 12px 0;
  background-color: inherit;
  font-size: 0.8rem;
  font-weight: 400;
  color: inherit;
  text-align: center;
  border-radius: 50em;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .label-tag__line {
    background-color: none;
    border: 2px solid; }
  .label-tag__default {
    border-color: #aaaaaa;
    color: #666666; }
  .label-tag__primary {
    border-color: #1369fa;
    color: #1369fa; }
  .label-tag__success {
    border-color: #3eb63e;
    color: #3eb63e; }
  .label-tag__secondary {
    border-color: #9a40ff;
    color: #9a40ff; }
  .label-tag__warning {
    border-color: #f89b00;
    color: #f89b00; }
  .label-tag__danger {
    border-color: #ff2960;
    color: #ff2960; }

.text-primary {
  color: #ff2951 !important; }
.text-deep-primary {
  color: #263b54; }
.text-secondary {
  color: #263b54; }
.text-success {
  color: #00d593 !important; }
.text-info {
  color: #7d8592; }
.text-warning {
  color: #ffa443; }
.text-danger {
  color: #1369fa !important; }
.text-regular {
  color: #666666 !important; }
.text-light {
  color: #555555;
  /*8395a5*/ }
.text-muddy {
  color: #6c6c6c;
  /*58819e*/ }
.text-disabled {
  color: #989ba1 !important; }
.text-black {
  color: #000000 !important; }
.text-highlight {
  color: #000000 !important; }

.img_font.sm {
  font-size: 0.9333rem; }
.img_font.md {
  font-size: 1.2rem; }
.img_font.lg {
  font-size: 1.467rem; }

.content-divider {
  display: block;
  margin: 0;
  margin: 40px 0 30px 0;
  background: none;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #d7d7d7; }

.change-viewMode {
  position: absolute;
  top: 60px;
  right: 60px;
  z-index: 10; }
  .change-viewMode .btn {
    background-color: #ffffff;
    border: 1px solid #ff2951;
    font-size: 0.8667rem;
    color: #ff2951; }
    .change-viewMode .btn:hover, .change-viewMode .btn:active, .change-viewMode .btn:focus, .change-viewMode .btn:visited, .change-viewMode .btn.active {
      background-color: #ff2951;
      color: #ffffff; }
    .change-viewMode .btn:not(:first-child) {
      margin-left: -4px \0/IE9;
      /*IE9적용*/ }
  @media (max-width: 1200px) {
    .change-viewMode {
      top: 25px;
      right: 25px; } }

.btn-page-mover {
  display: flex;
  position: fixed;
  top: 0;
  right: 10px;
  bottom: 0;
  vertical-align: middle;
  align-items: center; }
  .btn-page-mover .btn {
    padding: 5px 10px;
    line-height: auto;
    background-color: #ffffff;
    border: 1px solid #ff2951;
    font-size: 0.9333rem;
    color: #ff2951; }
    .btn-page-mover .btn:first-child {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px; }
    .btn-page-mover .btn:last-child {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px; }
    .btn-page-mover .btn i {
      font-weight: 700;
      vertical-align: middle; }
      .btn-page-mover .btn i:first-child {
        margin-top: -0.3em; }
      .btn-page-mover .btn i:last-child {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 0.15em; }
    .btn-page-mover .btn:hover, .btn-page-mover .btn:active, .btn-page-mover .btn:focus, .btn-page-mover .btn:visited {
      background-color: #ff2951;
      color: #ffffff; }

.sel {
  display: inline-block;
  position: relative;
  height: 40px;
  padding: 0 1.667rem 0 5px;
  line-height: 37px;
  background-color: transparent;
  font-size: 0.9333rem;
  cursor: pointer; }
  .sel:before {
    content: "\e941";
    position: absolute;
    top: 0;
    right: 0;
    font-family: xeicon;
    font-size: 0.8667rem;
    font-weight: 300;
    color: #ffffff; }
  .sel__placeholder {
    display: block;
    font-size: 0.9333rem;
    text-align: left;
    pointer-events: none;
    user-select: none; }
    .sel__placeholder:before {
      content: "";
      padding-right: 5px; }
  .sel__box {
    display: none;
    position: absolute;
    top: calc(100% + 3px);
    left: -4px;
    width: calc(100% + 8px);
    padding: 10px 0;
    background-color: #202a3a;
    font-size: 1em;
    text-align: left;
    list-style-type: none;
    box-sizing: border-box; }
  .sel__box__options {
    display: list-item;
    padding: 7px 15px;
    line-height: 1.4;
    font-size: 0.9333rem;
    color: rgba(255, 255, 255, 0.87);
    user-select: none; }
    .sel__box__options:hover, .sel__box__options.selected {
      color: #ff2951; }
  .sel.active {
    color: #ff2951;
    border-bottom: 3px solid #ff2951; }
    .sel.active:before {
      color: #ff2951;
      transform: rotateX(-180deg); }
    .sel.active .sel__box {
      display: block;
      animation: fadeInUp 500ms; }
  .sel.used .sel__placeholder:before {
    content: attr(data-placeholder); }

/* HEADER
-------------------------- */
#site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 360px;
  z-index: 100; }
  #site-header:after {
    content: "";
    display: block;
    clear: both; }
  #site-header .logo-box {
    float: left;
    position: absolute;
    left: 0;
    width: 75px;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 100; }
    #site-header .logo-box .logo-txt {
      font-size: 100%;
      line-height: 1;
      vertical-align: middle;
      word-break: keep-all; }
    #site-header .logo-box .logo-dev {
      display: none; }
  #site-header .top-navbar {
    width: 100%;
    padding-left: 75px;
    box-sizing: border-box; }
  @media (min-width: 768px) {
    #site-header .logo-box {
      width: 270px; }
      #site-header .logo-box .logo-txt {
        font-size: 1.267rem;
        vertical-align: sub; }
      #site-header .logo-box .logo-dev {
        display: inline-block; }
    #site-header .top-navbar {
      padding-left: 270px; } }

.top-navbar {
  background-color: #202a3a; }

.logo-box {
  display: inline-block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
  border-right: 1px solid #e3e8ee; }
  .logo-box h1 {
    width: 100%;
    height: 100%;
    line-height: 50px; }
  .logo-box a {
    display: inline-block;
    width: 100%;
    height: 100%; }
  .logo-box img {
    display: inline-block;
    vertical-align: middle; }
  .logo-box .logo-img {
    display: inline-block;
    vertical-align: middle; }
  .logo-box .logo-txt {
    display: inline-block;
    font-size: 100%;
    font-size: 1.267rem;
    font-weight: 700;
    color: #323c4e;
    vertical-align: sub; }
  .logo-box .logo-dev {
    vertical-align: -webkit-baseline-middle; }

.user-menu {
  width: 100%;
  height: 50px;
  text-align: left; }
  .user-menu:after {
    content: "";
    display: block;
    clear: both; }
  .user-menu .util-item {
    height: 100%;
    line-height: 50px; }
    .user-menu .util-item.left {
      float: left; }
    .user-menu .util-item.right {
      float: right; }

.api-nav:after {
  content: "";
  display: block;
  clear: both; }
.api-nav li {
  float: left;
  font-size: 1rem;
  border-right: 1px solid rgba(255, 255, 255, 0.15); }
.api-nav a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  margin: 0;
  color: #ffffff;
  opacity: 0.7; }
  .api-nav a:hover, .api-nav a:active, .api-nav a:focus, .api-nav a:visited, .api-nav a.current {
    background-color: #ff2951;
    opacity: 1; }
.api-nav .current,
.api-nav .current a {
  background-color: #ff2951;
  opacity: 1; }
@media screen and (min-width: 361px) {
  .api-nav a {
    padding: 0 2.667rem; } }

.hamburger {
  display: inline-block;
  padding: 15px;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden; }
  .hamburger__container {
    position: relative;
    width: 22px;
    height: 20px; }
  .hamburger__inner {
    top: 50%;
    -webkit-transform: translate(5px, -50%);
    -ms-transform: translate(5px, -50%);
    -moz-transform: translate(5px, -50%);
    -o-transform: translate(5px, -50%);
    transform: translate(5px, -50%); }
    .hamburger__inner:before, .hamburger__inner:after {
      -webkit-transform: translate(5px, 0);
      -ms-transform: translate(5px, 0);
      -moz-transform: translate(5px, 0);
      -o-transform: translate(5px, 0);
      transform: translate(5px, 0); }
  .hamburger__hidden {
    top: 50%;
    -webkit-transform: translate(37px, -50%);
    -ms-transform: translate(37px, -50%);
    -moz-transform: translate(37px, -50%);
    -o-transform: translate(37px, -50%);
    transform: translate(37px, -50%); }
    .hamburger__hidden:before, .hamburger__hidden:after {
      -webkit-transform: translate(74px, 0);
      -ms-transform: translate(74px, 0);
      -moz-transform: translate(74px, 0);
      -o-transform: translate(74px, 0);
      transform: translate(74px, 0); }
  .hamburger:hover {
    background-color: #ff2951; }
    .hamburger:hover .hamburger__inner {
      -webkit-transform: translate(-37px, 50%);
      -ms-transform: translate(-37px, 50%);
      -moz-transform: translate(-37px, 50%);
      -o-transform: translate(-37px, 50%);
      transform: translate(-37px, 50%);
      opacity: 0; }
      .hamburger:hover .hamburger__inner:before, .hamburger:hover .hamburger__inner:after {
        -webkit-transform: translate(74px, 0);
        -ms-transform: translate(74px, 0);
        -moz-transform: translate(74px, 0);
        -o-transform: translate(74px, 0);
        transform: translate(74px, 0);
        opacity: 0; }
    .hamburger:hover .hamburger__hidden {
      opacity: 1;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%); }
      .hamburger:hover .hamburger__hidden:before, .hamburger:hover .hamburger__hidden:after {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0); }
  .hamburger.is-active {
    background-color: #ff2951; }
    .hamburger.is-active .hamburger__inner {
      display: none; }
    .hamburger.is-active .hamburger__hidden {
      opacity: 1;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
      .hamburger.is-active .hamburger__hidden:before {
        -webkit-transform: translate(0, 8px) rotate(90deg);
        -ms-transform: translate(0, 8px) rotate(90deg);
        -moz-transform: translate(0, 8px) rotate(90deg);
        -o-transform: translate(0, 8px) rotate(90deg);
        transform: translate(0, 8px) rotate(90deg);
        transform-origin: center; }
      .hamburger.is-active .hamburger__hidden:after {
        transform-origin: center;
        -webkit-transform: translate(0, -8px) rotate(0);
        -ms-transform: translate(0, -8px) rotate(0);
        -moz-transform: translate(0, -8px) rotate(0);
        -o-transform: translate(0, -8px) rotate(0);
        transform: translate(0, -8px) rotate(0); }

#lnb {
  position: fixed;
  top: 0;
  left: -270px;
  width: 270px;
  height: 100%;
  padding-top: 50px;
  background-color: #ffffff;
  vertical-align: top;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 90;
  border-right: 1px solid #e3e8ee;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.sidebar {
  width: 100%;
  height: 100%; }
  .sidebar-search {
    padding: 1rem 2rem; }
    .sidebar-search .form-control {
      position: relative;
      padding-left: 34px;
      border-color: #d8dce1; }
    .sidebar-search .search-input {
      position: relative; }
      .sidebar-search .search-input:before {
        content: "\e97a";
        display: inline-block;
        position: absolute;
        top: 50%;
        height: 100%;
        padding: 7px 10px;
        font-family: xeicon;
        font-size: 1rem;
        color: #989ba1;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 1000; }
  .sidebar-nav > .sidebar-item {
    border-bottom: 1px solid #e3e8ee; }
    .sidebar-nav > .sidebar-item:first-child {
      border-top: 1px solid #e3e8ee; }
    .sidebar-nav > .sidebar-item > .sidebar-link {
      padding: 1.067rem 2rem;
      /* 16px 30px */
      color: #222222; }
  .sidebar-link {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-weight: 700;
    color: #666666;
    text-decoration: none;
    cursor: pointer; }
    .sidebar-link:hover, .sidebar-link:focus, .sidebar-link:active, .sidebar-link.active {
      color: #ff2951; }
  .sidebar-item {
    position: relative; }
    .sidebar-item.active > .sidebar-link,
    .sidebar-item.active .sidebar-link:hover, .sidebar-item:hover > .sidebar-link,
    .sidebar-item:hover .sidebar-link:hover, .sidebar-item:focus > .sidebar-link,
    .sidebar-item:focus .sidebar-link:hover, .sidebar-item:active > .sidebar-link,
    .sidebar-item:active .sidebar-link:hover, .sidebar-item:visited > .sidebar-link,
    .sidebar-item:visited .sidebar-link:hover {
      color: #ff2951; }
  .sidebar [data-toggle=collapse] {
    position: relative; }
    .sidebar [data-toggle=collapse]:before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 1.133rem;
      right: 30px;
      width: 10px;
      height: 10px;
      padding: 1px;
      border: solid;
      border-width: 0 2px 2px 0;
      color: #aaaaaa;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }
    .sidebar [data-toggle=collapse].sidebar-link.collapsed {
      color: #ff2951; }
      .sidebar [data-toggle=collapse].sidebar-link.collapsed:before {
        color: #ff2951; }
    .sidebar [data-toggle=collapse].sidebar-link:not(.collapsed) {
      color: #222222; }
  .sidebar [aria-expanded=true] {
    color: #ff2951 !important; }
    .sidebar [aria-expanded=true]:before {
      color: #ff2951; }
  .sidebar [aria-expanded=true]:before,
  .sidebar [data-toggle=collapse]:not(.collapsed):before {
    top: 1.467rem;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg); }
  .sidebar-dropdown.show {
    position: relative; }
    .sidebar-dropdown.show:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 30px;
      width: 2px;
      height: 100%;
      background-color: #e3e8ee;
      opacity: 1;
      z-index: 5; }
  .sidebar-dropdown .sidebar-link {
    padding: 0 24px 0 54px;
    margin: 10px 0; }
  .sidebar-dropdown > .sidebar-item:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 29px;
    width: 4px;
    height: 100%;
    opacity: 0;
    z-index: 5;
    -webkit-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
  .sidebar-dropdown > .sidebar-item:last-child .sidebar-link {
    margin-bottom: 27px; }

.anchor-link.current {
  color: #ff2951; }

.anchor-link.current:before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 100%;
  background-color: #ff2951;
  position: absolute;
  left: 29px;
  z-index: 10; }

/* CONTENTS LAYOUT
-------------------------- */
#content_wrap {
  position: relative;
  width: 100%;
  height: 100%; }

#content {
  margin-top: 50px;
  margin-left: 0px;
  -webkit-transition: margin-left 0.2s ease;
  -ms-transition: margin-left 0.2s ease;
  -moz-transition: margin-left 0.2s ease;
  -o-transition: margin-left 0.2s ease;
  transition: margin-left 0.2s ease; }

#content_inner {
  width: 100%;
  min-height: 827px; }

#site-header.show {
  left: 0;
  transform: translateX(0); }
  #site-header.show + #content_wrap:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 15; }
  #site-header.show + #content_wrap .top-navbar,
  #site-header.show + #content_wrap #content {
    margin-left: 270px; }

#lnb.show {
  left: 0;
  width: 100%;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.bg-dimm {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 15; }

@media screen and (min-width: 1199px) {
  .top-navbar {
    padding-left: 270px; }

  #lnb {
    left: 0; }

  #lnb.show {
    width: 270px; }

  #content {
    margin-left: 270px; }

  .hamburger {
    display: none; } }
.pre-print {
  display: table-cell;
  width: 95%;
  font-family: "Roboto", "NanumBarunGothic", Malgun Gothic, Dotum, "Apple SD Gothic Neo", sans-serif;
  font-weight: 400;
  color: #222; }
  .pre-print code {
    display: block;
    width: 95%;
    font-family: "Roboto", "NanumBarunGothic", Malgun Gothic, Dotum, "Apple SD Gothic Neo", sans-serif;
    min-width: 214px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal !important;
    overflow: hidden;
    word-break: keep-all; }
.pre-print-wrap {
  display: table;
  width: 100%;
  padding: 3px 15px 5px 15px;
  background-color: #ffffff;
  border: 3px solid #e3e8ee;
  font-size: 0.9333rem;
  color: #ffffff;
  border-radius: 8px;
  table-layout: fixed; }
  .pre-print-wrap button {
    display: table-cell;
    width: 5%;
    padding: 0;
    font-size: 1.333rem;
    color: #ff2951; }
    .pre-print-wrap button i {
      vertical-align: middle; }
@media screen and (min-width: 992px) {
  .pre-print {
    display: inline-block;
    width: auto;
    vertical-align: middle; }
    .pre-print code {
      width: 100%; }
  .pre-print-wrap {
    display: inline-block;
    width: auto;
    vertical-align: middle; }
    .pre-print-wrap button {
      display: inline-block;
      width: auto;
      margin-left: 140px; } }

/* API LIST
-------------------------- */
.api-category {
  padding: 1.667rem;
  /*25px*/ }
  .api-category:not(:first-child) {
    padding-top: 3.333rem;
    /*50px*/
    border-top: 1px solid #e3e8ee; }
  .api-category__title {
    font-size: 1.8rem;
    font-weight: 700;
    color: #000000; }
  @media screen and (min-width: 1200px) {
    .api-category {
      padding: 4rem;
      /* 60px*/ } }

.api-item {
  position: relative; }
  .api-item:first-child {
    padding-top: 1.667rem;
    /*50px*/ }
  .api-item:not(:first-child) {
    padding-top: 1.667rem;
    /*50px*/
    margin-top: 1.667rem;
    /*50px*/
    border-top: 1px solid #f1f1f1; }
  @media screen and (min-width: 768px) {
    .api-item:first-child {
      padding-top: 3.333rem;
      /*50px*/ }
    .api-item:not(:first-child) {
      padding-top: 3.333rem;
      /*50px*/
      margin-top: 3.333rem;
      /*50px*/
      border-top: 1px solid #f1f1f1; } }
.api-item__header {
  padding-bottom: 0;
  border-bottom: 1px solid #f1f1f1; }
  @media screen and (min-width: 768px) {
    .api-item__header {
      padding-bottom: 1.667rem; } }
.api-item__title {
  margin-bottom: 1rem; }
  .api-item__title .tt {
    font-size: 1.467rem;
    color: #263b54; }
    .api-item__title .tt > * {
      display: inline-block;
      vertical-align: middle; }
    .api-item__title .tt .label-tag {
      margin-left: 1.333rem; }
  .api-item__title .stt {
    margin-top: 0.4667rem;
    /*7px*/
    font-size: 1.067rem;
    color: #7d8592; }
  @media screen and (min-width: 768px) {
    .api-item__title {
      margin-bottom: 1.333rem; } }

.api-set__header {
  width: 100%;
  height: 40px;
  padding: 0 17px;
  margin-top: 1rem;
  line-height: 40px;
  background-color: #e3e8ee;
  border-radius: 8px; }
  .api-set__header a {
    display: block; }
    .api-set__header a[data-toggle=collapse] {
      position: relative; }
      .api-set__header a[data-toggle=collapse]:before {
        content: " ";
        display: inline-block;
        position: absolute;
        top: 13px;
        right: 0;
        width: 8px;
        height: 8px;
        padding: 1px;
        border: solid;
        border-width: 0 1px 1px 0;
        border-color: #222222;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all 0.2s ease-out;
        -ms-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out; }
    .api-set__header a[aria-expanded=true]:before, .api-set__header a[data-toggle=collapse]:not(.collapsed):before {
      top: 18px;
      -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg); }
    .api-set__header a[data-toggle=collapse]:not(.collapsed) {
      color: #ff2951; }
    .api-set__header a > * {
      display: inline-block;
      vertical-align: middle; }
  .api-set__header > * {
    display: inline-block;
    vertical-align: middle; }
  .api-set__header .set-title {
    line-height: 40px;
    font-size: 1.133rem;
    font-weight: 700;
    color: #263b54; }
    .api-set__header .set-title__exp {
      margin-left: 20px;
      font-size: 0.9333rem;
      color: #86909d; }
  @media screen and (min-width: 992px) {
    .api-set__header {
      width: 720px;
      margin-top: 2rem; } }
.api-set__body {
  border-bottom: 1px solid #e3e8ee; }
  .api-set__body:after {
    content: "";
    display: block;
    clear: both; }
.api-set:last-child .api-set__body {
  border-bottom: 0; }

.overview-summary, .overview-codePrint {
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
.overview-summary {
  width: 100%; }
  .overview-summary ul {
    margin-top: 10px;
    margin-bottom: 25px; }
  .overview-summary li {
    padding: 1.333rem 0;
    border-top: 1px solid #f1f1f1; }
    .overview-summary li:first-child {
      border-top: 0; }
.overview-codePrint {
  width: 100%;
  height: 400px;
  margin-bottom: 2rem;
  background-color: #111721;
  border-radius: 8px;
  max-width: 640px;
  overflow: hidden; }
@media screen and (min-width: 1799px) {
  .overview-summary {
    float: left;
    width: 720px; }
  .overview-codePrint {
    float: right;
    width: 640px;
    margin-top: 30px;
    margin-bottom: 0; } }

.param-title {
  margin-bottom: 20px; }
  .param-title span {
    margin: 8px; }
    .param-title span:first-child {
      margin-left: 0; }
  .param-title .par1 {
    font-size: 1.133rem;
    font-weight: 700;
    color: #263b54; }
  .param-title .par2 {
    font-size: 0.9333rem;
    color: #878787; }

.param-item {
  display: block;
  width: 100%; }
  .param-item__value, .param-item__exp {
    display: block;
    width: 100%; }
  .param-item__value {
    padding-bottom: 1.333rem;
    font-weight: 700; }
    .param-item__value .txt1 {
      font-size: 1rem;
      color: #263b54; }
    .param-item__value .txt2 {
      margin-top: 5px;
      font-size: 0.9333rem; }
      .param-item__value .txt2 span:first-child {
        color: #878787; }
      .param-item__value .txt2 span:last-child {
        margin-left: 7px;
        color: #ff2951; }
  .param-item__exp {
    padding-top: 20px;
    border-top: 1px solid #f1f1f1; }
    .param-item__exp .exp1 {
      font-size: 1rem;
      color: #263b54; }
    .param-item__exp .exp2 {
      margin-top: 3px;
      font-size: 0.9333rem;
      color: #878787;
      word-break: keep-all; }
    .param-item__exp table {
      margin-bottom: 0;
      font-size: 0.9333rem; }
      .param-item__exp table th, .param-item__exp table td {
        padding: .6rem;
        border-color: #e3e8ee; }
      .param-item__exp table th {
        color: #222222; }
      .param-item__exp table td {
        color: #666666; }
      .param-item__exp table tr:first-child th, .param-item__exp table tr:first-child td {
        border-width: 2px;
        border-color: #bcc2ca; }
      .param-item__exp table tr:last-child th, .param-item__exp table tr:last-child td {
        border-bottom: 1px solid #e3e8ee; }
  @media screen and (min-width: 426px) {
    .param-item {
      display: table;
      width: 100%; }
      .param-item__value, .param-item__exp {
        display: table-cell;
        width: auto; }
      .param-item__value {
        width: 183px;
        padding-bottom: 0; }
      .param-item__exp {
        padding-top: 0;
        border-top: 0; } }

.inner:after {
  content: "";
  display: block;
  clear: both; }

.sample-code__outer {
  position: relative;
  height: 100%;
  color: #ffffff;
  box-sizing: border-box; }
.sample-code__header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0 20px;
  background-color: #202a3a;
  box-sizing: border-box;
  z-index: 1; }
  .sample-code__header:after {
    content: "";
    display: block;
    clear: both; }
  .sample-code__header .code-subj {
    float: left;
    line-height: 40px;
    font-size: 1rem; }
  .sample-code__header .code-lang {
    float: right;
    font-size: 0.9333rem; }
    .sample-code__header .code-lang__item {
      display: inline-block;
      margin-left: 1.333rem;
      color: rgba(255, 255, 255, 0.87); }
      .sample-code__header .code-lang__item:first-child {
        margin-left: 0; }
.sample-code__body {
  position: relative;
  height: 100%;
  padding: 60px 20px 20px;
  box-sizing: border-box; }
  .sample-code__body #btn-copy-code {
    position: absolute;
    top: 60px;
    right: 20px;
    height: 26px;
    padding: 5px 14px 3px 14px;
    background-color: #292f38;
    font-size: 0.8667rem;
    font-weight: 700;
    color: #ffffff;
    vertical-align: middle;
    border-radius: 9px;
    text-transform: uppercase;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .sample-code__body #btn-copy-code i {
      margin-right: 5px;
      font-size: 1rem;
      vertical-align: middle; }
    .sample-code__body #btn-copy-code.overT {
      opacity: 1;
      -webkit-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }

/*# sourceMappingURL=style_red.css.map */
