@charset "UTF-8";
/* _button.scss */

// el-button
.el-button{

  &__block{
    display: block;
  }

  // Icon in the button
  [class*="xi-"]{
    position: relative;
    font-size: 120%;

    + span {
      margin-left: 5px;
    }
  }

  // button style with icon
  &--icon{
    &.el-button--medium{
      padding:10px 16px;

      [class*="xi-"]{
        transform: translateY(.17rem);
      }
    }
  }
}


// Add button style
.btn-dark{
  color:$--color-white !important;
  border-color: $--color-dark !important;
  background-color: $--color-dark !important;

  &:hover,
  &:focus{
    color:$--color-white !important;
    border-color: darken($--color-dark, 8%) !important;
    background-color: darken($--color-dark, 8%) !important;
  }
}
.btn-dark-light{
  color:$--color-info !important;
  border-color: $--color-dark-lighter !important;
  background-color: $--color-dark-lighter !important;

  &:hover,
  &:focus{
    color:$--color-info !important;
    border-color: darken($--color-dark-lighter, 8%) !important;
    background-color: darken($--color-dark-lighter, 8%) !important;
  }
}
.btn-secondary{
  color:$--color-white !important;
  border-color: $--color-secondary !important;
  background-color: $--color-secondary !important;

  &:hover,
  &:focus{
    color:$--color-white !important;
    border-color: lighten($--color-secondary, 5%) !important;
    background-color: lighten($--color-secondary, 5%) !important;
  }
}
.btn-secondary-light{
  color:$--color-secondary !important;
  border-color: $--color-secondary-light !important;
  background-color: $--color-secondary-light !important;

  &:hover,
  &:focus{
    color:$--color-white !important;
    border-color: $--color-secondary !important;
    background-color: $--color-secondary !important;
  }
}


// 리스트 상단 전체 관리버튼
.list-control{
  .el-button [class*="xi-"]{
    transform: translateY(.17rem);
    opacity: 0.7;
    font-size: 120%;
  }
  .el-button [class*="xi-"] + span {
    margin-left: 5px;
  }
}

// 리스트 내 관리버튼
.td-btns{
  .el-button{
    width:34px;
    height:34px;
    padding:0;
    border-radius: 4px;
    font-weight: $font-weight-bold;
  }

  .is-plain{
    border:0;
  }
}

// 폼 하단 완료버튼
.el-button__wrap{
  margin: 0 auto;
  text-align: center;

  &-submit{
    margin-top:60px;
  }

  .el-button{
    @include prefix(transition, min-width .2s ease-in-out, webkit o);
    min-width:110px;

    @media screen and (max-width: 767px){
      .el-button{
        min-width:48%;
      }
    }
  }
}

// left-sidebar 열기버튼
@include keyframes(burger-hover) {
  0% { width: 100%; }
  50% { width: 50%; }
  100% { width: 100%;}
}
.btn-menu-opener{
  display: inline-block;
  height:60px;
  padding: 0 18px;
  text-align: left;
  vertical-align: top;

  @include res(md){
    &{
      padding:0 33px;
    }
  }

  .btn-menu-opener__inn{
    display: inline-block;
    width: 24px;
    vertical-align: middle;
  }
  .bar{
    display: block;
    width: 100%;
    height: 3px;
    margin-top:4px;
    text-align: left;
    background: $--color-dark;

    &.top{
      width: 76%;
      margin-top:0;
      @include prefix(transition, all 200ms ease-in-out, webkit o);
    }
    &.mid{
      transition: all 200ms ease-in-out;
      transition-delay: 200ms;
    }
    &.bottom{
      width: 76%;
      transition: all 200ms ease-in-out;
      transition-delay: 400ms;
    }
  }
  &:hover,
  &:focus,
  &:active{
    .bar{
      width: 100%;
      @include prefix(transition-delay, 500ms, webkit o);

      &.top{
        @include prefix(animation, burger-hover 1s infinite ease-in-out alternate, webkit);
      }
      &.mid{
        @include prefix(animation, burger-hover 1s infinite ease-in-out alternate forwards 200ms, webkit);
        @include prefix(transition-delay, 200ms, webkit o);
      }
      &.bottom{
        @include prefix(animation, burger-hover 1s infinite ease-in-out alternate forwards 400ms, webkit);
        @include prefix(transition-delay, 400ms, webkit o);
      }
    }
  }
}
