@charset "UTF-8";

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxIIzQ.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc-.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxM.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc-.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc-.woff) format('woff');
}

@font-face {
  font-family: "FontAwesome";
  src: url('../fonts/FontAwesome-webfont.eot');
  src: url('../fonts/FontAwesome-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/FontAwesome-webfont.woff') format('woff'), url('../fonts/FontAwesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus input:-webkit-autofill, textarea:-webkit-autofill, textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
  background: #fff !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1555e4;
}
* {
  margin: 0;
  padding: 0;
  outline: none !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  white-space-collapse: collapse;
}

.group:before, .group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}
body, html {
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

header, footer, aside, nav, hgroup, details, menu, figure, figcaption {
  display: block;
  padding: 100%;
  margin: 100%;
}
fieldset, img, abbr, acronym {
  border: 0;
}
/*180517수정*/
.rd50 {
  border-radius: 50em;
}
.btn.pdlr {
  padding-left: 1em !important;
  padding-right: 1em !important;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
ol, ul, li {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  width: 100%;
}
caption, th, td {
  font-weight: normal;
}
address, caption, strong, em, cite {
  font-weight: normal;
}
strong{
  font-weight: 700;
}
.ins {
  text-decoration: none;
}
.del {
  text-decoration: line-through;
}
.under {
  text-decoration: underline;
}
.under:hover {
  text-decoration: underline;
}
.under:active {
  text-decoration: underline;
}
.under:focus {
  text-decoration: underline;
}
em {
  font-style: normal; /*jh*/
}
a {
  text-decoration: none;
  color: #3e3e3e;
  outline: none !important;
  cursor: pointer /*180615*/
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
.inBlock {
  display: inline-block !important;
  vertical-align: top;
  position: relative; /*jh*/
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}
.hand {
  cursor: pointer;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
legend, caption {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
}
canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
input, select, textarea, button, textarea {
  font-family: Malgun Gothic, '맑은고딕', Dotum, '돋움';
  outline: none !important;
  line-height: inherit;
}
button {
  background: none;
  border: 0;
  cursor: pointer;
}
input {
  box-sizing: border-box;
}

input::-ms-clear {/* 180621 IE에서 x버튼 */
  width: 23px;
  height: 23px
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
/*jh*/
input::placeholder, textarea::placeholder {
  color: #999;
  font-weight: normal;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder { /*180702 input placeholder IE에서도 적용되게 */
  color: #999;
  font-weight: normal;
}

/*//jh*/
input::foucs {
  border-color: #007aff !important; /* 180508 수정 */
}
input[type="checkbox"], input[type="radio"] {
  padding: 0;
  margin: 0;
  vertical-align: middle;
  *overflow: hidden;
  -webkit-appearance: none;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  border: 0;
  background: 0;
  opacity: 0;
  cursor: pointer;
  width: 18px;
  height: 18px;
}
.input_chk {
  position: relative;
  display: inline-block;
  height: 18px;
  line-height: 18px;
  margin-left: 20px;
}
.input_chk:first-child {
  margin-left: 0px;
}
@media (max-width: 800px) {
  .chkMb .input_chk {
    width: 48%;
    margin-left: 0px;
    margin: 5px 0;
  }
}
.input_chk input[type="checkbox"] + label:before, .input_chk input[type="radio"] + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  display: inline-block;
  color: transparent;
  overflow: hidden;
  white-space: nowrap;
  background: url(../images/images.png) no-repeat;
  -webkit-background-size: 500px 500px;
  cursor: hand;
}
.input_chk input[type="checkbox"] + label:before {
  background-position: 0px -75px;
}
.input_chk input[type="checkbox"]:checked + label:before {
  background-position: 0px -93px;
}
.input_chk input[type="radio"] + label:before {
  background-position: -28px -75px;
}
.input_chk input[type="radio"]:checked + label:before {
  background-position: -28px -93px;
}
.input_chk input[type="checkbox"] + label, .input_chk input[type="radio"] + label {
  padding-left: 25px;
}
.input_chk.first input[type="checkbox"] + label, .input_chk.first input[type="radio"] + label {
  padding-left: 18px;
}
.input_info p {
  font-size: 12px;
  color: #999;
  margin-top: 6px;
}
.input_info li {
  margin-bottom: 15px;
}
.input_info li:last-child {
  margin-bottom: 0px;
}
select {
  box-sizing: border-box;
}
/***********************************
 * margin
 ***********************************/
.mgl5 {
  margin-left: 5px !important;
}
.mgl10 {
  margin-left: 10px !important;
}
.mgl20 {
  margin-left: 20px !important;
}
.mgl30 {
  margin-left: 30px !important;
}

.mgr5 {
  margin-right: 5px !important;
}
.mgr10 {
  margin-right: 10px !important;
}
.mgr20 {
  margin-right: 20px !important;
}
.mgt0 {
  margin-top: 0px !important;
}
.mgt5 {
  margin-top: 5px !important;
}
.mgt10 {
  margin-top: 10px !important;
}
.mgt15 {
  margin-top: 15px !important;
}
/*0323*/
.mgt20 {
  margin-top: 20px !important;
}
.mgt30 {
  margin-top: 30px !important;
}/*0323*/
.mgb0 {
  margin-bottom: 0px !important;
}
.mgb15 {
  margin-bottom: 15px !important;
}
.mgb20 {
  margin-bottom: 20px !important;
}
.mgb25 {
  margin-bottom: 25px !important;
}
.mgb30 {
  margin-bottom: 30px !important;
}/*0323*/
.mgb10 {
  margin-bottom: 10px;
}
.mg0{
  margin:0 !important;
}
.mgt-2 {
  margin-top: -2px;
}
.mgt-3 {
  margin-top: -3px;
}
.mgr-3 {
  margin-right: -3px;
}
.mgl0 {
  margin-left: 0px !important;
}

.pBox p{
  margin-top:5px
}
.pBox:first-child{
  padding-top: 0px;
}
.pdl0 {
  padding-left: 0px !important;
}
.pdr0 {
  padding-right: 0px !important;
}
.pdr9 {
  padding-right: 9px !important;
}
.pdr10 {
  padding-right: 10px !important;
}
.pdl9 {
  padding-left: 9px !important;
}
.pdl10 {
  padding-left: 10px !important;
}
.pdl15 {
  padding-left: 15px !important;
}
.pdl30 {
  padding-left: 30px !important;
}

.pd5 {
  padding: 5px 5px;
}
.pd20 {
  padding: 20px 20px !important;
}
.pd30 {
  padding: 30px 30px !important;
}
.pd40 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
/*0323*/
.pdlr20 {
  padding: 20px 20px !important;
}/*0323*/

.plr20 {
  padding: 0 20px !important;
}
.ptb20 {
  padding: 20px 0 !important;
}

.borderT_none {
  border-top: none !important;
}
.borderR {
  border-right: 1px solid #d8dbe2;
}
.cwhite {
  color: #fff;
}

.bgWhite {
  background: #fff;
}

.bdt0 {
  border-top: 0px !important;
}
.bdt1{
  border-width: 1px !important;
}
.bdon{
  border: 1px solid #d8dbe2;
}
.bdon2{
  border-top: 1px solid #d8dbe2;
  border-bottom: 1px solid #d8dbe2;
}
.bdb0 {
  border-bottom: 0px !important;
}
.carrow {
  cursor: default !important;
}



textarea {
  box-sizing: border-box;
}
.form-group {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
}
.int {
  width: 100%;
  padding: 0 10px;
  height: 36px;
  line-height: 36px;
  font-size: 13px;
  color: #2e2e2e;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  display: inline-block;
}
.int:disabled {
  background-color: #f1f1f1;
  color: #6e6e6e;
}
select.int {
  min-width: 60px;
  padding-left: 6px; /*180426*/
}
select.int {
  padding-right: 0px;
}
.input-group {
  position: relative;
  display: table;
  width: 100%;
  table-layout: fixed;
  overflow: hidden;
}
.input-group .tt {
  color: #999;
  margin-right: 12px;
  margin-bottom: 5px;
  font-size: 13px;
  display: block;
}
.number-group {
  position: relative;
  display: table;
  width: 100px;
  table-layout: fixed;
  overflow: hidden;
}
.number-group .input-group-btn {
  width: 30px;
}
.input-group-btn .btn{
  top: inherit;
}
.number-group .int {
  text-align: center;
  border-left: 0px;
  border-right: 0px;
  width: 100%;
  height: 30px;
  line-height: 30px; /*jh*/
  border-color: #ccc;
}
.number-group button {
  color: #007aff !important; /* 180508 수정 */
  height: 30px;
  padding: 0px !important; /* 180508 수정 */
}
.intBox {
  position: relative;
  margin-bottom: 0;
  display: table-cell;
}
.intBox .int_label {
  padding-left: 50px;
}
.intBox2 {
  position: relative;
  margin-bottom: 0;
}
.intBox2 .int_label {
  padding-left: 80px;
}
.intBox2 .int {
  text-align: right;
}
.intBox label, .intBox2 label {
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-45%);
  transform: translateY(-45%);
}
.intBox2 label {
  min-width: 80px;
}
.intBox.src .int {
  width: 180px;
  padding-right: 40px; /* 검색아이콘 보이게 여백 */
}
.schbox_wrapper .int {
  border-color: #c8c8c8 !important;
}
.intBox.src .srcBtn {
  width: 36px;
  height: 36px;
  line-height: 36px;
  right: 0px;
  top: 0px;
  display: block;
  background: none;
  position: absolute;
  text-align: center;
}/*0326*/
.intBox.src .srcBtn button {
  width: 36px;
  height: 36px;
  line-height: 36px;
}
@media (max-width: 800px) {
  .mw100p .int {
    width: 100% !important;
  }
}

.input-group .custom-file {
  display: table-cell;
  align-items: center;
}
.input-group-append {
  display: table-cell;
  vertical-align: top;
  width: 100px;
}
.input-group-btn {
  display: table-cell;
  vertical-align: top;
  width: 36px;
}
.input-group-btn button {
  width: 100%;
}

.input-btn {
  background: #f9fafc;
  border: 1px solid #c8c8c8;
  border-left: 0px;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
  line-height: 34px;
  display: block;
  width: 100%;
}
.input-group .select_aw {
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
  position: relative;
  height: 36px;
  width: 36px;
  display: table-cell;
  vertical-align: middle;
}
.input-group .select_aw span {
  display: block;
  /*	position: absolute;*/
  text-align: center;
  /*
     top: 50%;
     -webkit-transform: translateY(-50%);
     transform: translateY(-50%);
     */
  line-height: 36px;
  width: 100%;
  padding: 0 12px;
}

@media (max-width: 800px) {
  .input-group .select_aw span {
    width: 100%;
  }
  .input-group .select_aw {
    margin: 0 auto;
  }
}
.btn {
  position: relative;
  z-index: 2;
}
/* jh */
.btn + .btn, .btn + .input-group-text, .input-group-text + .input-group-text, .input-group-text + .btn {
  margin-left: -1px;
  position: relative;
  margin-left: -2px; /*라인이 겹쳐서 보일때가 있어서*/
}
.btn.active {
  background: #007aff !important; /* 180508 수정 */
  border-color: #007aff !important; /* 180508 수정 */
  color: #fff !important;
}
/*//jh*/

.input-group-text {
  display: table-cell;
  align-items: center;
  margin-bottom: 0;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
}
/* color */
.cgray {
  color: #999 !important;
}
.cdgray {
  color: #333 !important;
}
.cred {
  color: #ff4545 !important;
}
.cdarkgray {
  color: #d8e8e8 !important;
}
.cblack {
  color: #3e3e3e !important;
}
.cwhite {
  color: #fff !important;
}
.clightwhite {
  color: #f5f7f9 !important;
}
.cgreen {
  color: #01b8b5 !important;
}
.cmainblue {
  color: #007aff !important; /* 180508 수정 */
}
.csubblue {
  color: #4b74e0 !important;
}
.cectblue {
  color: #2f468a !important;
}
.cpurple{
  color: #7f45df !important;
}
.line {
  color: #d8dbe2 !important;
}
.subline {
  color: #f1f1f4 !important;
}
.bgray {
  background: #dddddd !important;
  border-color: #dddddd !important;
  color: #fff !important;
}
.lgray {
  background: #fff !important;
  border-color: #ddd !important;
  color: #6e6e6e !important;
}
.bdarkgray {
  background: #a6a6a6 !important;
  border-color: #a6a6a6 !important;
  color: #fff !important;
}
/* 180508 추가 */
.bgrayblue {
  background: #abb7c1 !important;
  border-color: #abb7c1 !important;
  color: #fff !important;
}
.lgrayblue {
  background: #fff !important;
  border-color: #abb7c1 !important;
  color: #898989 !important;
}
.bred {
  background: #eb5176 !important;
  border-color: #eb5176 !important;
  color: #fff !important;
}
.lred {
  background: #fff !important;
  border-color: #eb5176 !important;
  color: #eb5176 !important;
}
.bpurple {
  background: #7f45df !important;
  border-color: #7f45df !important;
  color: #fff !important;
}
.lpurple {
  background: #fff !important;
  border-color: #7f45df !important;
  color: #7f45df !important;
}
.bmainblue {
  background: #007aff !important; /* 180508 수정 */
  border-color: #007aff !important; /* 180508 수정 */
  color: #fff !important;
}
.lmainblue {
  background: #fff !important;
  border-color: #007aff !important; /* 180508 수정 */
  color: #007aff !important; /* 180508 수정 */
}
.bsubblue {
  background: #4b74e0 !important;
  border-color: #4b74e0 !important;
  color: #fff !important;
}
.bectblue {
  background: #2f468a !important;
  border-color: #2f468a !important;
  color: #fff !important;
}
.lectblue {
  background: #fff !important;
  border-color: #2f468a !important;
  color: #2f468a !important;
}
.bgreen {
  background: #01b8b5 !important;
  border-color: #01b8b5 !important;
  color: #fff !important;
}
.lgreen {
  background: #fff !important;
  border-color: #01b8b5 !important;
  color: #01b8b5 !important;
}
.borange {
  background: #ff9111 !important;
  border-color: #ff9111 !important;
  color: #fff !important;
}
.lorange{
  background: #fff !important;
  border-color: #ff9111 !important;
  color: #ff9111 !important;
}
.bblack{
  background: #2d3e4e !important;
  border-color: #2d3e4e !important;
  color: #fff !important;
}
.lblack {
  background: #fff !important;
  border-color: #ccc !important;
  color: #2d3e4e !important;
}
/* align */

.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
@media (max-width: 800px) {
  .mtl {
    text-align: left !important;
  }
  .mtr {
    text-align: right !important;
  }
  .mclearfix {
    float: inherit !important;
    display: block;
    width: 100%;
  }
}
/* font */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  letter-spacing: -1px;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777777;
}
h1, .h1 {
  font-size: 36px;
}
h2, .h2 {
  font-size: 30px;
}
h3, .h3 {
  font-size: 24px;
}
h4, .h4 {
  font-size: 18px;
}
h5, .h5 {
  font-size: 14px;
}
h6, .h6 {
  font-size: 12px;
}
/* 180508 추가 */
small {
  letter-spacing: 0px;
}
.number {
  font-size: 1.4em !important;
  position: relative;
  top: 2px;
}
.number_b {
  font-size: 1.6em;
  font-size: 2em; /*jh*/
  position: relative;
  top: 2px;
}
.num {
  font-size: 1.05em;
  position: relative;
  top: 1px;
}
strong.num {
  font-weight: 700;
}
.sum_num {
  font-size: 1.3em;
}

.wHalf {
  width: 48% !important;
}
.w100p {
  width: 100% !important;
}
.w220px {
  width: 220px !important;
}
.w250px {
  width: 250px !important;
}
.w320px {
  width: 320px !important;
}
.w330px {
  width: 330px !important;
}
.w100px {
  width: 100px !important;
  display: inline-block;
}
.w90px {
  width: 90px !important;
  display: inline-block;
}
.w80px {
  width: 80px !important;
  display: inline-block;
}

.w150px {
  width: 150px !important;
}

.line42 {
  line-height: 36px;
}
.line32 {
  line-height: 32px;
}/*0326*/
@media (max-width: 800px) {
  .w250px, .w320px {
    width: 100% !important;
  }
  .mw100p {
    width: 100% !important;
    margin: 0 !important;
    margin-top: 10px !important;
    display: table;
    float: inherit !important;
  }
  .mw100p.first {
    margin-top: 0px !important;
  }
  .modal-top .pull-right {
    margin-top: 0px !important;
  }
  .info-text.line42 {
    line-height: inherit;
  }
}
@media (max-width: 600px) {
  .mw100p2 {
    /*width: 100% !important;*/
    margin: 0 !important;
    margin-top: 10px !important;
    display: table;
  }
}

/* images */
.images, .images_before:before {
  display: inline-block;
  color: transparent;
  overflow: hidden;
  white-space: nowrap;
  background: url('../images/images.png') no-repeat;
  -webkit-background-size: 500px 500px;
  background-size: 500px 500px;
  position: relative;
  top: 4px;
}
.images_before {
  padding-left: 30px;
  position: relative;
  display: inline-block;
}
.images_before:before {
  content: '';
  clear: both;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}


/* align */
.clearfix:before, .clearfix:after, .mclearfix:before, .mclearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
  content: " ";
  display: table;
}
.clearfix:after, .mclearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-header:after, .modal-footer:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
small {
  color: #999;
}
.cred small{
  color: #ff4545;
}
.cmainblue small{
  color: #007aff ;
}