@charset "UTF-8";

// 이미지업로드 파일박스
input[type="file"].up-goods-file {
  display: none;
  cursor: pointer;
}
.fileWrap{
  margin: 0 -6px;
  dl{
    width:100%;
    dd{
      display: inline-block;
      float:left;
      padding: 0 6px;
      label{
      }
    }
  }
}
.fileInfo{
  margin-top: 6px;
  color: $gray-9;
}

.fileUpload {
  label{
    position: relative;
    width: 116px;
    height: 116px;
    text-align: center;
    border: 1px solid $line-dark;
    cursor: pointer;
    display: block;
  }
  .up-img{
    width: 100%;
    height: 100%;
    display: inline-block;
    background: $white;
    box-sizing: border-box;
  }
}
.goodsImgWrap{
  position: relative;
}
.delFile {
  position: absolute;
  top: 1px;
  right: 1px;
  z-index: 99;
  cursor: pointer;
  i {
    z-index: 99;
    position: relative;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    color: $white;
    font-size: 1.2em;
    display: block;
    background: rgba(0,0,0,0.8);
  }
}


.input_line {
  .input_chk,
  .input_radio{
    margin-left: 0;
  }
  dd{
    margin: 6px 0;
  }
  br + small{
    padding-left:23px;
    line-height: 2;
  }
}

// input_chk, input_radio
input[type="checkbox"], input[type="radio"] {
  width: 18px;
  height: 18px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  vertical-align: middle;
  *overflow: hidden;
  -webkit-appearance: none;
  border: 0;
  background: 0;
  opacity: 0;
  cursor: pointer;

}

.input_chk,
.input_radio {
  position: relative;
  display: inline-block;
  height: 18px;
  margin-left: 20px;
  line-height: 18px;
  &.first{
    margin-left: 0;
  }
}

.input_chk input[type="checkbox"],
.input_radio input[type="radio"]{
  & + label{
    padding-left: 23px;
    cursor: pointer;
    font-weight: 400;
    color: $gray-6;

    &:before{
      display: inline-block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      color: transparent;
      overflow: hidden;
      white-space: nowrap;
      background: url("../images/input.png") no-repeat;
      -webkit-background-size: 18px 121px;
      cursor: pointer;
    }
  }
}

.input_chk{
  input[type="checkbox"]{
    & + label:before{
      background-position: 0px -22px;
    }
    &:checked + label:before {
      background-position: 0 0;
    }
  }
}

.input_radio{
  input[type="radio"]{
    & + label:before{
      background-position: 0px -43px;
    }
    &:checked + label:before {
      background-position: 0px -63px;
    }
  }

  //disabled 추가
  input[type="radio"][disabled]{
    & + label{
      color:$gray-9;
      &:before{
        background-position: 0px -84px;
      }
    }
    &:checked + label{
      color:$gray-9;
      &:before{
        background-position: 0px -105px;
      }
    }
  }
}


/*---------------------------
 * switch toggle
 -----------------------------*/
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 27px;
  input {
    display: none;
  }
}
.check_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $line-dark;
  -webkit-transition: .4s;
  transition: .4s;
}
.check_slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: $white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .check_slider {
  background-color: $green;
}
input:focus + .check_slider {
  box-shadow: 0 0 1px $green;
}
input:checked + .check_slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.check_slider.round {
  border-radius: 50em;
}
.check_slider.round:before {
  border-radius: 50em;
}

// 재고페이지 작은 스위치 버튼
.switch.sm{
  width:68px;
  height:18px;
  vertical-align: middle;
  .check_slider{
    width: 40px;
    height: 18px;
    margin-left: 27px;

    &:before{
      height: 12px;
      width: 12px;
      left: 4px;
      bottom: 3px;
    }
    &:after{
      display: inline-block;
      content:"불가";
      width:30px;
      position: absolute;
      left:-30px;
    }
  }
  input:checked {
    & + .check_slider{
      &:before {
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
      }
      &:after {
        content:"가능";
      }
    }
  }
}

  .switch.sm.sell{
    input:checked {
      & + .check_slider{
        &:after {
          content:"판매";
        }
      }
    }
  }


// 요일 선택 체크박스
input[type="checkbox"]{
  &.check_toggle {
    position: relative;
    display: none;

    & + label{
      display: inline-block;
      float: left;
      color: $gray-9;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      background-color: $white;
      border: 1px solid $line-light;
      border-left: 0px;
      height: 35px;
      line-height: 34px;
      padding: 0;
      margin: 0px;
    }
    &:first-child{
      & + label{
        border-left: 1px solid $line-light;
      }
    }
    // checked
    &:checked{
      & + label{
        background: lighten($green, 7);
        // background: rgba($green, 0.65);
        color: $white;
        font-weight: $font-weight-exbold;
        border-color: #00d593;
      }
    }
  }
}
.btnGroup input[type="checkbox"].check_toggle + label {
  width: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


// 선택된 날짜
.mem_tagGroup {
  > span,
  > button{
    margin-top: 5px;
    margin-bottom:5px;
  }
  button{
    &:hover,
    &:active,
    &:focus,
    &.active{
      border-color: $green;
      color: $green;
    }
  }
}
.mem_tag {
  display: inline-block;
  width: auto !important;
  padding: 2px 7px;
  height: 28px;
  line-height: 1.7;
  font-size: $font-size-base;
  font-weight: normal;
  vertical-align: middle;
  border-radius: 50em;
  border: 1px solid $line-dark;
  color: $gray-6;
  background: $white;
  text-align: center;

  .remove {
    cursor: pointer;
    margin-left: 10px;
  }
}

// 수량 컨트롤러 추가
.number-group {
  position: relative;
  display: table;
  table-layout: fixed;
  overflow: hidden;
  margin: 0 auto;

  .int {
    width: 100%;
    min-width: 30px;
    //height: 36px;
    padding-left:0;
    //line-height: 36px;
    //border: 1px solid $line;
    border-left-width: 0px;
    border-right-width: 0px;
    text-align: center;
    //font-weight: bold;
    /*color: $disabled;*/

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
    & {
      -moz-appearance:textfield; /* Firefox */
    }
  }

  button {
    min-width: 30px;
    height: 30px;
    padding: 0px !important;
    border-radius:0;
    border-color: $line;
    font-size:14px;
    font-weight: bold !important;
    /*color: $disabled;*/
  }

  .input-group-btn {
    display: table-cell;
    width: 30px;
    vertical-align: top;
    border-radius: 0;
  }

  &.on {
    .int {
      /*color: $light-black;*/
    }
    button {
      /*color: $light-black;*/
    }
  }
}