@charset "UTF-8";

//color
$white: #ffffff !default;
$black: #2e2e2e !default;
$grey-9: #999999 !default;

$base: #656c7f !default;
$red: #ec3939 !default;
$green: #00d593 !default;
$blue: #065fd4 !default;

$line-d: #d5d8db !default;
$line-e: #e1e4e7 !default;

//fontstyle
$font-family: Malgun Gothic, Dotum, "Apple SD Gothic Neo", sans-serif !default;

$font-size-base: 1rem !default;
$font-size-xlg: 2.588rem !default;
$font-size-lg: 2rem !default;
$font-size-slg: 1.6rem !default;
$font-size-middle: 1.2rem !default;
$font-size-sm: 0.9rem !default;

$font-weight-light: 100 !default;
$font-weight-base: 400 !default;
$font-weight-normal: 500 !default;
$font-weight-bold: 700 !default;

$small-font-size: 80% !default;

$normal: normal;

//radius

$radius-50: 50em !default;

%button-radius {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

%box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

//vertical
%top50 {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
}

%left50 {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
}

%clear {
  zoom: 1;
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

%trans {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

%button {
  padding: 0;
  border: 1px solid $line-d;
  color: $white;
  font-weight: $font-weight-bold;
  text-align: center;
  display: inline-block;
  @extend  %button-radius;
}