@charset "UTF-8";
/* mixins/_roundbox.scss */

/* ------------------------------------------------- */
/* ==from https://codepen.io/jakob-e/pen/doMoML      */
/* ------------------------------------------------- */
@function svg-url($svg){
  //
  //  Chunk up string in order to avoid
  //  "stack level too deep" error
  //
  $encoded:'';
  $slice: 2000;
  $index: 0;
  $loops: ceil(str-length($svg)/$slice);
  @for $i from 1 through $loops {
    $chunk: str-slice($svg, $index, $index + $slice - 1);
    //
    //   Encode (may need a few extra replacements)
    //
    $chunk: str-replace($chunk,'"','\'');
    $chunk: str-replace($chunk,'<','%3C');
    $chunk: str-replace($chunk,'>','%3E');
    $chunk: str-replace($chunk,'&','%26');
    $chunk: str-replace($chunk,'#','%23');
    $encoded: #{$encoded}#{$chunk};
    $index: $index + $slice;
  }
  @return url("data:image/svg+xml;charset=utf8,#{$encoded}");
}

//  Helper function to replace characters in a string
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
            str-replace(str-slice($string, $index +
            str-length($search)), $search, $replace);
  }
  @return $string;
}

/* ------------- */
/* ==end         */
/* ------------- */



/* custom mixin to replace a defined fill color with another one */
@function svg-url-with-replaced-fill($svg, $fill-to-replace, $new-fill) {
  $replaced-svg: str-replace($svg, $fill-to-replace, $new-fill);
  $replaced-svg-url: svg-url('#{$replaced-svg}');
  @return $replaced-svg-url;
}



// Custom CSS
// insert the svg code in a variable, make sure the svg only contains double quotes and surround the whole code with simple quotes
$svg-icon-code: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 55"><path fill="#000000" d="M49.093,49.094C44.584,53.819,36.041,54.888,27.5,55c-8.542-.112-17.085-1.181-21.594-5.907C1.179,44.585.11,36.042,0,27.5,0.11,18.957,1.179,10.415,5.9,5.906,10.414,1.18,18.956.111,27.5,0,36.041,0.111,44.584,1.18,49.093,5.906,53.819,10.415,54.887,18.957,55,27.5,54.887,36.042,53.819,44.585,49.093,49.094Z"/></svg>';



// 티비박스 라이트 믹스인
@mixin svgFillWhite($color1) {
  .svg-fill{
    fill: $white !important;
    transition: all .2s ease-in-out;
  }
  i, .ico, .txt, .num {
    color: $color1;
    transition: all .2s ease-in-out;
  }
}

// 리스트 상단 써머리 컬러 믹스인 - default
@mixin summaryItem($bgColor) {
  &{
    transition: all .2s ease-in-out;

    .emphasis{
      color: $bgColor;
    }
  }
}

// 리스트 상단 써머리 컬러 믹스인 - hover
@mixin summaryItemHover($bgColor) {
  &:hover, &.active{
    cursor:pointer;
    transition: all .2s ease-in-out;

    .summary-item__container{
      border-left:0;
      background-color: mix($white, $bgColor, 88%);
      border-radius: 1rem;
    }
  }
}


// svg roundbox default Styles
.svg-fill{
  position:relative;
  width:55px;
  height:55px;
  overflow: hidden;
  display:inline-block;
  vertical-align: middle;
  background-image: svg-url-with-replaced-fill($svg-icon-code, '#000000', $bg-base);
  color:$base-lighter;

  &-md{
    width:65px;
    height: 65px;
  }

  .ico, .txt, .num{
    position:absolute;
    width:100%;
    top:50%;
    left:50%;
    @include prefix(transform, translate(-50%, -50%), webkit ms);
    text-align: center;
  }
  .ico{
    i{
      font-size:180%;
      vertical-align: middle;
    }

    &-xs{
      i{
        font-size:160%;
      }
    }
  }
  .num {
    font-size:$font-size-extra-large;
  }
  .txt {
    font-size: $font-size-base;
    font-weight:$font-weight-bolder;
    line-height: 1.2;
    word-break: break-all;
    width:76%;
  }

  // 이미지 맵핑
  image{
    clip-path:url(#svg-clipper);
    height:100%;
    @include prefix(transform-origin, center center, webkit ms);
    @include prefix(object-fit, cover, o);
  }
}

// svg roundbox background-color Styles
//## svg used as background image via data URI
@each $color, $value in $round-box-colors{
  // theme plain color
  .svg-fill-#{$color}{
    background-image: svg-url-with-replaced-fill($svg-icon-code, '#000000', $value);
    color: $white;
  }

  // theme lighten color
  .svg-fill-#{$color}-light{
    background-image: svg-url-with-replaced-fill($svg-icon-code, '#000000', mix($white, $value, 88%));
    color: $value;
  }
}


// list summary layout Styles
.summary-wrapper{

  // theme plain colors
  @each $color, $value in $round-box-colors {
    .summary-#{$color} {
      @include summaryItem($value);
    }
  }

  // theme plain HOVER colors
  &.is-hover{
    .summary-item{
      cursor:pointer;
    }

    @each $color, $value in $round-box-colors {
      .summary-#{$color} {
        // 201022 주석처리, 추후 스타일 재정의 필요
        @include summaryItemHover($value);

        .num-txt__base{
          strong{
            border-bottom:1px solid $base-lighter;
          }
        }
        .emphasis{
          strong{
            border-bottom:1px solid $value;
          }
        }
      }
    }
  }

  // 카카오 색상분리
  .summary-kakao{
    .emphasis{
      color: $kakao-color;
    }
  }
}