@charset "UTF-8";
body {
  font-family: $font-family;
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: -0.7px;
  color: $black;
  background: $white-gray;
}

@media (max-width: 800px) {
  body {
    //overflow-x: hidden;
  }
}

@media(max-width: 900px) {
  .utilHello {
    display: none;
  }
}

#header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  min-width: 580px;
  z-index: 999;
  background: $white;
  border-bottom: 1px solid $line;

  .utilWrap {
    height: 50px;
    @include clearfix;
  }
  .user-menu{
    float:right;
    @include clearfix;
  }
  .utilHello {
    color: $gray-6;
    //position: absolute;
    //right: 200px;
    text-align: right;
    height: 50px;
    line-height: 50px;
    margin-right:30px;
    font-size: 13px;
    letter-spacing: 0;
    float:left;
    i {
      font-size: 1.4em;
      position: relative;
      top: 1.7px;
    }
    strong {
      color: $green;
    }
    span {
      margin-left: 8px;
      color: $gray-9;
      em {
        padding: 3px 5px;
        margin-right: 8px;
        border: 1px solid $line;
        font-size: 11px;
        letter-spacing: -0.5px;
        border-radius: 8px;
      }
    }
  }
  .utilBox {
    color: $gray-9;
    display: table;
    padding-right: 30px;
    //float: right;
    float:left;
  }
  .util li {
    float: left;
    display: inline-block;
    padding-left: 6px;
  }
  .userMenu {
    display: table;
    height: 50px;
    > li {
      position: relative;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      width: 43px;
      a {
        display: block;
        width: 100%;
        height: 100%;
        line-height: 50px;
        &:hover i {
          color: $green;
        }
      }
    }
    i{
      color: $gray-6;
      font-size: 1.7em;
      position: relative;
      top: 1px;
    }
    .alarm {
      position: relative;
      em {
        display: none;
      }
      &.active em {
        position: absolute;
        right: 12px;
        top: 12px;
        width: 4px;
        height: 4px;
        display: block;
        border-radius: 50em;
        background: $green;
      }
    }
    // 사이다페이 전환버튼
    .convert{
      button{
        width:34px;
        height:34px;
        border:2px solid $green;
        border-radius: 50em;
        color: $gray-6;
        transition: width, border-color, 0.1s cubic-bezier(.23,.67,.89,.5);
        //transform: scale(1.4);

        content:"\f021";
        overflow: hidden;
        .btn_inn{
          display: block;
          width:120px;
          text-align: left;
          font-weight: $font-weight-exbold;
        }
      }
      .t, .iconify{
        display: inline-block;
        color:$green;
        //vertical-align: middle;
        vertical-align: text-top;
      }
      .t{
        letter-spacing: -1.6px;
      }
      .iconify{
        padding:0 6.5px;
        font-size: 1.25em;
        font-weight: 600;
        vertical-align: text-top;
      }
      &:hover,
      &:focus,
      &:active,
      &.active{
        button{
          width:120px;
          padding:0 14px;
          border-color:$green;
          transition: width, border-color, 0.2s cubic-bezier(.23,.67,.89,.5);
        }
        .t, .iconify{
          display: inline-block;
        }
        .iconify{
          padding-left:0;
        }
      }
    }
    li.active * {
      color: $green !important;
    }
  }
  .ltnav_btn {
    position: fixed;
    cursor: pointer;
    text-align: center;
    border: 0;
    z-index: 3;
    top: 0;
    left: 210px;
    overflow: hidden;
    i {
      display: block;
      height: 50px;
      line-height: 50px;
      width: 60px;
      cursor: pointer;
      color: $green;
      font-size: 2em;
      position: relative;
    }
  }
}

#ltnav {
  width: 210px;
  position: fixed;
  left: 0px;
  top: 0px;
  vertical-align: top;
  height: 100%;
  z-index: 999;
  background: $blue-black;
  overflow-x: hidden;
  overflow-y: auto;
  .logoBox {
    background: $green;
    height: 80px;
    line-height: 80px;
    text-align: center;
    img {
      max-width: 128px;
      position: relative;
      //top: 5px;
    }
  }
}

@media screen and (max-width: 800px) {
  #header .utilBox {
    padding-right: 15px;
  }
}

/* main menu */
#cssmenu {
  width: 210px;
  background: $white;
  background: none;
  position: relative;

  > ul > li > a > span > i {
    font-size: 1.4em;
    font-weight: $font-weight-base;
    position: relative;
    top: 2px;
  }
  ul, li, a {
    position: relative;
  }
  > ul > li > ul {
    padding: 20px 0;
    padding-top: 0px;
    position: relative;
  }
  > ul > li > a {
    display: block;
    color: $white;
    > span {
      display: block;
      padding: 15px 18px;
      position: relative;
    }
  }
  > ul > li.active,
  > ul > li.dep1.active {
    background: $blue-black-dark;
  }
  .dep1 > ul > li {
    padding: 5px 15px;
  }
  .dep1 > a span:after {
    font-family: $font-icon;
    content: '\f2c2';
    display: block;
    position: absolute;
    right: 20px;
    font-size: 0.9em;
    @extend %top50;
    color: $white-lgray;
    font-weight: $font-weight-base;
  }
  .dep2 > a span:after {
    right: 5px;
  }
  .dep2 > ul {
    padding-top: 10px;
  }
  .dep2 > ul > li {
    padding: 3px 15px;
    &:first-child {
      padding-top: 0px;
    }
    &:last-child {
      padding-bottom: 0px;
    }
  }
  .dep1.active > a span:after, .dep2.active_sub > a span:after {
    content: '\f28e';
  }
  .active > a, .active_sub > a, > a:hover, .active > a span:after, a:hover {
    color: $green;
  }
  ul ul {
    display: none;
  }
  ul ul li {
    line-height: 22px;
    a {
      display: block;
      color: rgba($white, 0.7)
    }
  }
}

.csInfo {
  padding: 13px;
  color: $white;
  border-top: 1px solid rgba(242, 248, 255, .05);
  border-bottom: 1px solid rgba(242, 248, 255, .05);
  /*margin-top: 20px;*/
}

.csInfo p {
  margin: 8px 0
}

.cs_tt {
  font-size: 14px;
  i{
    font-size: 1.4em;
    font-weight: $font-weight-base;
    position: relative;
    top: 2px;
  }
}

.cs_tel {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 2px;
  color: $green;
}
.cs_time {
  font-size: 12px;
  opacity: .8;
}

/* content_wrap */
#content_wrap {
  height: 100%;
  width: 100%;
  position: relative;
  display: table;
}

#content {
  margin-left: 210px;
  min-width: 320px;
  padding-top: 50px;
  #table-fixed {
    display: table;
    table-layout: fixed;
    width: 100%;
    min-width: 580px;
  }
}

#content_inner {
  min-width: 580px;
}
@media (max-width: 840px){
#content_inner{
  padding: 20px 15px 30px 15px !important;
}
}
@media (min-width: 801px) {
  #content #table-fixed {
    display: block;
  }
  #content_inner {
    max-width: 1500px;
    min-height: 827px;
    padding: 24px 30px 50px 30px;

  }
}

@media screen and (min-width: 1601px) {
  .ltnav_btn.mb {
    display: none;
  }
}

/* width 사이즈 변경 1440 -> 1600 */
@media screen and (max-width: 1600px) {
  #content {
    margin-left: 0px;
  }
  #header .ltnav_btn {
    left: 0px;
  }
  #ltnav {
    left: -210px;
  }
  .ltnav_btn.web {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .centerThis {
    padding: 15px;
  }
  #content_inner {
    min-width: 600px;
    padding: 20px 15px 50px 15px;
  }
}

#footer {
  text-align: center;
  border-top: 1px solid $line;
  padding: 10px;
  font-size: 12px;
  p {
    font-size: $font-size-sm;
    color: $gray-9;
    letter-spacing: 1px;
  }
}

/* ----------------------------------------------------------------
 location
 -----------------------------------------------------------------*/

.title_box {
  display: table;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  .ttBox {
    float: left;
    display: inline-block;
    //margin-bottom: 20px;
    h2 {
      font-size: 19px;
      font-weight: $font-weight-exbold;
      letter-spacing: -1px;
      line-height: 27px;
    }
    h3 {
      margin-top: 5px;
      color: $gray-6;
      font-size: 14px;
    }
  }
}
.ttBox2{
  > .tt{
    font-size: 15px;
    font-weight: $font-weight-exbold;
    letter-spacing: -1px;
    line-height: 27px;
  }
}

.location {
  font-size: 12px;
  letter-spacing: -0.8px;
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  li {
    text-align: center;
    display: inline-block;
    padding: 0px 4px;
    &.first {
      padding-left: 0px;
    }
    a {
      color: $gray-9;
    }
    &:after {
      font-family: $font-icon;
      content: '\f112';
      display: inline-block;
      right: 0px;
      font-size: 13.5px;
      color: $gray-9;
      margin-left: 6px;
    }
    &:last-child:after {
      content: '';
    }
    &.first {
      background: none;
    }
    &.last {
      padding-right: 0px;
    }
    .active {
      font-weight: $font-weight-exbold;
      color: #3e3e3e;
    }
  }
}

.searchBox {
  background: $white-lgray;
  border: 1px solid $line-dark;
  margin-bottom: 20px;
  padding: 0 7px;
  padding-bottom: 13px;
  display: table;
  width: 100%;
  height: 100%;
  dl {
    display: inline-block;
    width: 24.55%;
    margin-top: 10px;
    &.dl_date {
      width: 37%;
    }
    &.dl_search {
      width: 49%;
    }
    &.dl_search2 {
      width: 49%;
    }
    dt, dd {
      padding: 0 6px;
    }
    dt {
      font-size: 12px;
      color: $gray-9;
      margin-bottom: 3px;
    }
    dd {
      display: table;
      width: 100%;
      > span {
        display: table-cell;
      }
    }
  }
  .int {
    width: 100%;
  }
  .intAmong {
    color: $gray-9;
    padding: 0 3px;
  }
}

@media(max-width: 1036px) {
  .searchBox {
    dl {
      width: 33%;
      &.dl_date {
        width: 66%;
        min-width: 240px;
      }
      &.dl_search {
        width: 66%;
      }
    }
  }
}

.searchFtWrap {
  display: table-cell;
}

.searchFtBtnWrap {
  display: table-cell;
  width: 100px;
  padding: 13px;
  padding-right: 6px;
  padding-bottom: 0;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  .searchFtBtn {
    display: block;
    height: 100%;
    width: 100%;
    background: $white;
    border: 1px solid $black;
    color: $black;
    font-weight: $font-weight-exbold;
    position: relative;
    @extend %button-radius;
    span {
      position: absolute;
      @extend %top50;
      width: 100%;
      display: inline-block;
      left: 0;
      text-align: center;
    }
  }
}

.title_box + .cardBox{
  margin-top: 0px;
}

.cardBox {
  border: 1px solid $line-dark;
  margin-top: 20px;
  &.first{
    margin-top:0;
  }
  .cardTT {
    background: $white-gray;
    padding: 18px;
    border-top: 1px solid $line-dark;
    border-bottom: 1px solid $line-dark;
    small {
      font-size: 12px;
    }
    &:first-child {
      border-top: 0px;
    }
    h2 {
      display: inline-block;
      font-size: 15px;
      font-weight: $font-weight-exbold;
    }
    small {
      color: $gray-9;
      margin-left: 7px;
    }
  }
  .cardText{
    background: $white;
    &.row{
      margin-left:0;
      margin-right:0;
      [class*="col-"]{
        padding:0;
      }
    }
  }
  .im_bullet {
    color: $green;
    font-weight: $font-weight-exbold;
    font-size: 1.2em;
    position: relative;
    top: 3px;
  }

  //라인 없는거
  &.noline{
    border-width:0;
    margin-top:0;
    border-bottom:1px solid $line-dark;  //메인때문에 주석처리

    .cardTT{
      border: 1px solid $line-dark;
    }
    .cardText{
      //border: 1px solid $line-dark;
      //border-top-width: 0;
    }
  }
  // 마진 없는거
  &.noMg{
    margin-top: 0;
    .cardTT{
      padding:10px 13px;
    }
    .cardText{
      padding: 13px;
    }
    .btnArea{
      margin-bottom:0;
    }
  }
}

// wrap
.row .cardBox{
  margin-top:0
}
.row.wrap{
  margin-top:-12px;  // row flex로 되어잇는 경우, 주석풀기
}
.row.wrap2{
  //margin-top:-24px;  // row flex로 되어있는 경우, 주석풀기
}
.cardWrap{
  margin-top:20px;
}

.text-info {
  font-size: 12px;
  color: $gray-9;
  margin-top: 3px;
  i {
    font-size: 1.1em;
    font-weight: $font-weight-exbold;
    color: $gray-9;
    position: relative;
    top: 0.5px;
  }
  &.first{
    margin-top:0;
  }
  & + &{
    margin-top:20px;
  }
}
.booking_main{
  margin-top:-12px;
}
.btnArea {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  span {
    margin: 0 6px;
    a, button {
      width: 120px;
    }
  }
  @at-root .booking_main{
    + .btnArea{
      span {
        a, button {
          width: 140px;
        }
      }
    }
  }
}

.cardAlert {
  height: 443px;
  text-align: center;
  display: table;
  width: 100%;
  h2 {
    font-size: 14px;
    font-weight: $font-weight-exbold;
    &:before {
      content: '\f24b';
      font-family: $font-icon;
      color: $gray-9;
      display: block;
      margin: 0 auto;
      margin-bottom: 15px;
      text-align: center;
      font-size: 1.6em;
    }
  }
  h3 {
    margin-top: 6px;
    font-size: 12px;
    color: $gray-9;
  }
  .inner {
    display: table-cell;
    vertical-align: middle;
  }
  .btnArea {
    margin-top: 20px;
  }
}

.info_alert {
  dt {
    font-size: 15px;
    font-weight: $font-weight-exbold;
    margin-bottom: 4px;
    i {
      font-weight: 700;
      font-size: 1.2em;
    }
  }
  dd{
    color: $gray-9;
  }
  width: 100%;
  padding: 13px;
  font-size: 13px;
  border: 1px solid $line;
  /*background: #fffae0;*/
  background: #fff;
  border-left: 5px solid $green;
}


/* ----------------------------------------------------------------
 tabGroup
 -----------------------------------------------------------------*/
.tabGroup{
  width:50%;
  &.full{
    width: 100%;
  }
  .group {
    display: table;
    width: 100%;
  }
  a {
    display: table-cell;
    text-align: center;
    background: $white-lgray;
    border: 1px solid $line-dark;
    border-left-width: 0;
    color: $gray-9;
    height: 40px;
    vertical-align: middle;
    &:first-child {
      -webkit-border-top-left-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-bottomleft: 5px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-left: 1px solid $line-dark;
    }
    &:last-child {
      -webkit-border-top-right-radius: 5px;
      -webkit-border-bottom-right-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-bottomleft: 5px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    &.active {
      background: $white;
      border: 1px solid $green;
      color: $green;
      font-weight: bold;
    }
  }

  &.col_4 a{
    width: 25%;
  }
  &.col_3 a{
    width: 33.333%;
  }
  &.col_2 a{
    width: 50%;
  }

  &.list{
    margin-bottom:20px;
  }
}

@media(max-width: 1036px) {
  .searchBox {
    dl {
      width: 32.7%;
      &.dl_date {
        width: 66%;
        min-width: 240px;
      }
      &.dl_search {
        width: 66%;
      }
    }
  }
}

@media screen and (max-width: 1036px) {
  .tabGroup{
    width:100%;
  }
}

// 수정된 값 표시
.modified{
  position: relative;
  //border:1px solid !important;
  background: #fcf8e3;
  &.top{
    //border-color: darken(#fcf8e3, 25%) !important;
    //border-bottom:0 !important;
    &:after{
      position: absolute;
      top: 3px;
      right: 5px;
      display: inline-block;
      font-family: LineAwesome;
      content:"\f1c1";
      font-size:12px;
      color: darken(#fcf8e3, 70%);
    }
  }
  &.mid{
    //border-color: darken(#fcf8e3, 25%) !important;
    //border-top:1px solid $line !important;
    //border-bottom:0 !important;
  }
  &.bottom{
    //border-color: darken(#fcf8e3, 25%) !important;
    //border-top:0 !important;
  }
}


// 텍스트 라벨처리
.labeling{
  display: inline-block;
  padding:0px 6px 1px 4px;
  margin-left:10px;
  background: $green;
  border:1px solid $green;
  border-radius: 3px;
  line-height: 15px;
  font-size:11px;
  color:$white;
  //-webkit-box-shadow: 6px 6px 12px rgba($green,.13);
  //box-shadow: 6px 6px 12px rgba($green,.12);
  //animation: shadow-pulse-green 1s infinite;
  i{
    font-size:12px;
  }
}
