@charset "UTF-8";
/* custom/_button.scss */

// Button
.btn {
  // 버튼 색상 커스텀
  &-base-lighter {
    border-color: $line-default;
    background-color: $white;
    font-size: $font-size-md;
    font-weight: $font-weight-bold;
    color: lighten($black, 13%);
    i{
      color:$gray-600;
    }
    &:hover {
      background-color: darken($white, 6%);
    }

    &:focus{
      box-shadow: 0 0 0 .2rem rgba(lighten($black, 13%),.15);
    }
  }

  &-white {
    background-color: $white;
    color: $primary;

    @include hover(){
      background-color: rgba($white,.9);
      color: $primary;
    }
  }

  &-outline-white {
    border-color: $white;
    color: $white;
  }

  &-danger-light{
    background-color: lighten($danger, 37%);
    border-color: lighten($danger, 37%);
    color:$danger;

    @include hover(){
      color:$danger;
    }
  }

  // 검색창 열기 버튼
  &-open-search {
    @include btnShape($primary-dark);
  }

  // 결제 바로요청 창 열기 버튼
  &-open-payment {
    @include btnShape($primary);
  }

  // 상세검색창 초기화 버튼 (디자인 변경 전, 사용 안하면 최종버전에서 삭제)
  &-reload {
    width: 32px;
    height: 32px;
    padding: 0;
    margin-left: 7px;
    margin-top: -3px;

    @include hover(){
      i {
        @include prefix(animation, spin360 .75s linear 2, webkit ms moz o);
      }
    }
  }

  &-reset{
    @include hover(){
      i {
        @include prefix(animation, spin360 .75s linear 2, webkit ms moz o);
      }
    }
  }

  // 상세검색창 하단버튼
  &-filter-search {
    font-size: $font-size-md;
    font-weight: $font-weight-bold;
    @include prefix(box-shadow, 2px 2px 9px 1px rgba($primary, .47), webkit);
  }

  //상세보기 하단버튼
  &-more-view {
    border-color: $line-default;
    background-color: $white;
    font-size: $font-size-md;
    font-weight: $font-weight-bold;
    color: lighten($black, 13%);

    &:hover {
      background-color: darken($white, 6%);
    }
    &:focus{
      box-shadow: 0 0 0 .2rem rgba(lighten($black, 13%),.15);
    }
  }

  // 고객센터 최신게시물 더보기 버튼
  &-more-link {
    display: inline-block;
    margin-top: 20px;
    font-weight: $font-weight-normal;
    color: $text-default;

    &:after{
      content:"\EA6E";
      font-family: $font-family-icon;
      font-weight: $font-weight-normal;
      font-size: 155%;
      display: inline-block;
      vertical-align: middle;
    }

    @include hover-focus-active(){
      &:after {
        @include prefix(animation, wobble 1.7s ease-in-out infinite, webkit moz);
      }
    }
  }

  // 라디오 버튼 그룹
  &-group-flex {
    display: flex;
  }

  // 버튼형식 토글 (개발 다중처리일 때 사용)
  &-group-toggle{
    display: flex;

    .el-button{
      flex-grow: 1;
      flex-basis: 0;
      color: $gray-600;
      border-color: $gray-400;
      padding: 10px 16px;

      &:hover{
        color: $primary;
        background-color: rgba($primary,0.05);
      }
      &:focus{
        outline:0;
        color: $primary;
        background-color: rgba($primary,0.1);
        -webkit-box-shadow: 0 0 0 .2rem rgba(19, 105, 250, .5);
        box-shadow: 0 0 0 .2rem rgba(19, 105, 250, .5);
      }

      // 선택됐을 때,
      &.btn-toggle__active{
        color: $primary;
        background-color: rgba($primary,0.05);
        border-color: rgba($primary,0.5);
        position: relative;
        font-weight: $font-weight-bold;
        z-index: 2;
      }
      &.btn-toggle__nouse{
        //color: $white;
        //background-color: $secondary;
        //border-color: $secondary;.

        &:hover{
          color: $white;
          background-color: $secondary;
          border-color: $secondary;
        }
        &:focus{
          outline:0;
          color: $white;
          border-color: $secondary;
          background-color: $secondary;
          -webkit-box-shadow: 0 0 0 .2rem rgba($secondary, .5);
          box-shadow: 0 0 0 .2rem rgba($secondary, .5);
        }
        &:focus:not(.is-focus):not(:active):not(.is-disabled) {
          -webkit-box-shadow: 0 0 2px 2px rgba($secondary, .5);
          box-shadow: 0 0 2px 2px rgba($secondary, .5);
        }

        &.btn-toggle__active{
          color: $white;
          background-color: $secondary;
          border-color: $secondary;
          z-index: 2;

          &:hover{
            color: $white;
            background-color: $secondary;
            border-color: $secondary;
          }
          &:focus{
            outline:0;
            color: $white;
            border-color: $secondary;
            background-color: $secondary;
            -webkit-box-shadow: 0 0 0 .2rem rgba($secondary, .5);
            box-shadow: 0 0 0 .2rem rgba($secondary, .5);
          }
        }
      }
    }
  }

  // 라디오버튼형식 토글 (개발 단일처리일 때 사용)
  &-radiogroup-toggle {
    display: flex;

    .el-radio-button {
      flex-grow: 1;
      flex-basis: 0;

      &:not(:first-child){
        margin-left: -1px;
      }
      &:first-child{
        .el-radio-button__inner {
          border-left: 1px solid $primary;
        }
      }

      &:focus:not(.is-focus):not(:active):not(.is-disabled){
        outline: 0;
        -webkit-box-shadow: 0 0 0 .2rem rgba($primary, .25);
        box-shadow: 0 0 0 .2rem rgba($primary, .25);
      }
    }


    .el-radio-button__inner {
      width: 100%;
      border: 1px solid $primary;
      border-left-color:$primary;
      color: $primary;

      &:hover{
        color: $white;
        border-color: $primary;
        background-color: $primary;
      }
      &:focus{
        outline:0;
        color: $primary;
        border-color: $primary;
        background-color: $white;
        -webkit-box-shadow: 0 0 0 .2rem rgba(19, 105, 250, .5);
        box-shadow: 0 0 0 .2rem rgba(19, 105, 250, .5);
      }
    }
    .el-radio-button__orig-radio:checked + .el-radio-button__inner {
      background-color: $primary;
      border-color: $primary;
      -webkit-box-shadow: -1px 0 0 0 $primary;
      box-shadow: -1px 0 0 0 $primary;
    }

    .el-radio-button__orig-radio:first-child:disabled+.el-radio-button__inner {
      border-left: 1px solid #EBEEF5;

      &:hover{
        color: #C0C4CC;
        border-color: #EBEEF5;
        background-color: #FFF;
      }
    }
    .el-radio-button__orig-radio:disabled:checked + .el-radio-button__inner{
      color: #ffffff;
    }

    // 사용안함, 비활성 버튼 색상
    .btn-toggle__nouse {

      .el-radio-button__orig-radio:checked + .el-radio-button__inner{
        background-color: $base-lighter;
        border-color: $base-lighter;
      }
      .el-radio-button__inner {
        &:hover{
          color: $white;
          border-color: $base-lighter;
          background-color: $base-lighter;
        }
      }

      &:focus:not(.is-focus):not(:active):not(.is-disabled){
        outline: 0;
        -webkit-box-shadow: 0 0 0 .2rem rgba($base-lighter, .25);
        box-shadow: 0 0 0 .2rem rgba($base-lighter, .25);
      }
    }
  }

  &-group-toggle__fixed {
    width: 205px;
  }

  // 사용, 사용안함 라디오 버튼
  &-group-toggle__use {
    .no-use {
      &.btn-outline-primary {
        &:not(:disabled):not(.disalbed) {
          &:active,
          &.active {
            color: $white;
            background-color: $secondary;
            border-color: $secondary;

            &:focus,
            &.focus {
              box-shadow: 0 0 0 .2rem rgba($secondary, .5);
            }
          }
        }
        &:hover {
          color: $white;
          background-color: $secondary;
          border-color: $secondary;
        }
      }
    }
  }

  // btn hover, icon moving
  &-ico-hover {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-left:32px;

    i {
      margin-right: 3px;
      position: absolute;
      left: 0.6667rem;
      top:50%;
      -webkit-transform: translate3d(0, -46%, 0);
      transform: translate3d(0, -46%, 0);
      -webkit-transition-duration: .3s;
      transition-duration: .3s;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }

    @include hover-focus-active(){
      i {
        -webkit-animation-name: btn-icon-move;
        animation-name: btn-icon-move;
        -webkit-animation-duration: .3s;
        animation-duration: .3s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
      }
    }

  }
}

// left sidebar 열기 버튼
.btn-menu-opener {
  display: inline-block;
  height: 60px;
  padding: 0 33px;
  text-align: left;
  vertical-align: top;

  &__inn {
    display: inline-block;
    width: 25px;
    vertical-align: middle;
  }
  .bar {
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 6.5px;
    text-align: left;
    background: $primary-dark;
    transition: all 200ms ease-in-out;

    &.top {
      margin-top: 0;
    }
    &.mid {
      width: 76%;
      transition-delay: 200ms;
    }
    &.bottom {
      width: 76%;
      transition-delay: 400ms;
    }
  }

  @include hover(){
    .bar {
      width: 100%;
      @include prefix(transition-delay, 500ms, webkit o);

      &.top {
        @include prefix(animation, burger-hover 1s infinite ease-in-out alternate, webkit);
      }
      &.mid {
        @include prefix(animation, burger-hover 1s infinite ease-in-out alternate forwards 200ms, webkit);
        @include prefix(transition-delay, 200ms, webkit o);
      }
      &.bottom {
        @include prefix(animation, burger-hover 1s infinite ease-in-out alternate forwards 400ms, webkit);
        @include prefix(transition-delay, 400ms, webkit o);
      }
    }
  }
}


// 상단 / 하단 버튼 그룹
.btn-ct {
  // .btn-ct-top
  &-top {
    margin-left: auto;

    .btn {
      margin: 0 5px;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  // .btn-ct-bottom
  &-bottom {
    display: flex;
    width: 100%;
    margin-top: 40px;

    .btn {
      margin-top: 0;
      font-size: $font-size-md;
      font-weight: $font-weight-bold;

      &:not(:first-child) {
        margin-left: 1.5vw;
      }
    }
    &.block {
      justify-content: space-evenly;

      .btn {
        width: 100%;
      }
    }
    &.inline {
      justify-content: center;

      .btn {
        min-width: 130px;
      }
    }
  }
}


// 상품 수량 컨트롤러
.number-controller{

  .btn-group{
    .btn{
      border:1px solid $gray-400;
      //padding:$input-btn-padding-y $input-btn-padding-x-sm;
      padding:0 $input-btn-padding-x-sm;
      color:$gray-999;
      font-weight: $font-weight-bold;

      i{
        font-size: 135%;
      }

      @include hover(){
        color:$primary;
        background: rgba($primary,0.05);
      }
    }
  }
  .form-control{
    text-align: center;
    min-width: 40px;
    margin-left:-1px;
    border-radius: 0;
    padding:$input-btn-padding-y $input-btn-padding-x-sm;
  }



  &.sm{
    .btn-group{
      .btn{
        padding:0 7px;
        color:$gray-600;
        border-radius: 2px;

        i{
          font-size:115%;
          vertical-align: middle;
        }
      }
    }

    .form-control{
      min-width: 27px;
      padding:$input-btn-padding-y $input-btn-padding-x-sm;
      height: 27px;
    }
  }
}

// 리스트 내 우측 관리버튼 (모바일, pc 분리)
.btn-control {
  @include prefix(transition, all .5s ease-in-out, webkit o);

  &-web {
    display: block;
    width: 95px;
  }
  &-m {
    display: none;
  }

  @at-root{
    .page-body{
      // 개발작업 시, 검색, 상세창 없어지면 class 추가해서 제어하기.

        .btn-control {
          &-web {
            display: none;
          }

          &-m {
            display: block;
          }
        }

    }
  }


  .el-dropdown{
    vertical-align: middle;
    transition-property: box-shadow, transform;
    transition-duration: 250ms;

    &:hover,
    &:focus{
      @include prefix(box-shadow, (0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba($black, .08)), webkit);
      @include prefix(transform, translateY(-1px), webkit ms);
      border-radius: $border-radius-sm;
    }

    &-link{
      padding:10.5px 9px;
      vertical-align: middle;
      cursor: pointer;
    }
  }

}


.btn-delete{
  width:21px;
  height:21px;
  padding:0;
  position: relative;

  i{
    font-size:104%;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}