@charset "UTF-8";
/* _common.scss */

//
//  Help Style
// --------------------------------------------------

// only screen reader
.invisible {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

// text decoration
.under {
  //text-decoration: underline !important;
  text-decoration: none;
  border-bottom: 1px solid;
  line-height: initial;
  padding: 0;

  &:hover, &:active, &:focus {
    //text-decoration: none;
  }
}
a.under,
button.under{
  cursor: pointer !important;
  color:inherit;
  transition-property: color, border-top;
  transition-duration: 200ms;

  &:hover, &:active, &:focus {
    color:$primary;
    border-top: 1px solid inherit;
  }
}

.del {
  text-decoration: line-through;
}
.en{
  letter-spacing: 0 !important;
}
.hand {
  cursor: pointer;
}


.font-gmarket{
  font-family: $font-family-gmarket;
}


// 텍스트 컬러
.text {
  &-deep-primary {
    color: $text-darker !important;
  }
  &-disabled {
    color: $base-lighter !important;
  }
  &-yellow{
    color:#fffa82 !important;
  }
}


.pre-text{
  width:100%;
  white-space: pre-line;
  overflow: hidden;
  //text-overflow:ellipsis;
}

// 포인트 불렛 (필수값 표시)
em.point {
  @include circleBullet($primary, 4px);
  margin-right: 4px;
  margin-left: 4px;
  top: -.5em;
}
.icon_tooltip{
  position: relative;
  top: 5px;
  font-size: 130%;
  cursor: pointer;
}

table {
  em.point {
    margin-right: 0;
    margin-left: 5px;
    top: -.5em;
  }
}

// 팁 (안내문구)
.tip {
  display: block;
  font-weight: $font-weight-light;
  font-size: $font-size-sm;
  color: $gray-999;
  margin-top: 8px;

  // 상단에 위치
  &.on-top{
    margin-top: 0;
    margin-bottom: 8px;
  }

  i{
    font-size:120%;
    vertical-align: middle;
  }
}

// 공통 넘버 텍스트 스타일(건수, 금액)
.num-txt {
  @include strongText;

  strong {
    font-family: $font-family-gmarket;
    font-weight: $font-weight-bold;
    letter-spacing: .618px;
  }
}

.strong-txt {
  @include strongText;
}

.price-txt{
  color:#263b54;

  strong{
    font-weight:$font-weight-bolder;
  }
  small{
    margin-left:2px;
    font-size:93%;
    opacity: .95;
  }
}

// 공통 서브텍스트
.sub-text {
  font-weight: $font-weight-normal;
  color:$text-dark;
  word-break: keep-all;

  &.md{
    font-size: $font-size-lg;
  }
}


// 공통 타이틀넘버
.card-title{
  em{
    color: $primary;
  }
}

// 폰트아이콘 크기
.i-font{
  // 기본사이즈 : md
  font-size:150% !important;
  background-size: inherit;
  vertical-align: middle;

  &-lg{
    font-size:180% !important;
  }
  &-sm{
    font-size:130% !important;
  }
  &-xs{
    font-size:115% !important;
  }
}


.i-circle-shadow{
  display: inline-block;
  width:26px;
  height:26px;
  background-color: inherit;
  border:3px solid;
  border-radius: 50%;
  color:$white;
  text-align: center;
  vertical-align: middle;
  margin-right: 5px;
  margin-top:-2px;
  position: relative;

  i{
    //transform: translateY(.1vh);
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @at-root{
    .text-primary .i-circle-shadow{
      background-color: $primary;
      border-color:lighten($primary, 35%);
    }
    .text-secondary .i-circle-shadow{
      background-color: $secondary;
      border-color:lighten($secondary, 35%);
    }

    .text-danger .i-circle-shadow{
      background-color: $danger;
      border-color:lighten($danger, 35%);
    }
  }
}

.badge-with-icon {
  position:relative;
  padding-left:23px;

  i{
    font-size: 120%;
    position:absolute;
    top: ($badge-padding-y / 2);
    left: ($badge-padding-x / 2);
  }
}


// bg-light - theme array
@each $color, $value in $theme-colors{
  .bg-#{$color}-light {
    @include bgColor($value);
  }
}


//
//  The Text Layout Style
// --------------------------------------------------
// span wrapper
.inline-span-wrap{
  span{
    &:not(:first-child){
      margin-left: 7px;
    }
  }
  &:not(:first-child){
    margin-top:5px
  }

  @at-root .d-flex{
    .inline-span-wrap{
      &:not(:first-child){
        margin-top:0;
        margin-left:15px;
      }
    }
  }
}

.span-group{
  &:not(:first-child){
    margin-top:5px
  }

  & &__item{
    &:not(:first-child){
      margin-left: 7px;
      font-weight: $font-weight-bold;
    }
  }
  @at-root .d-flex{
    .span-group{
      &:not(:first-child){
        margin-top:0;
        margin-left:15px;
      }
    }



  }
}

// 데이터 키 + 데이터 밸류 구조
.list-data{
  &__text{
    &:last-child {
      color:$text-dark;
    }
    &:first-child {
      //min-width: 30px;
      word-break: keep-all;
      font-weight: $font-weight-bold;
      color:lighten($gray-600,9%);
      text-align: left;
    }
    &.emphasis{
      min-width: 30px;
      font-weight: $font-weight-bold;
      color: $text-darker;
      text-align: left;
    }
  }



  &__wrapper{
    &:not(:first-child) {
      margin-top: 4px;
    }

    & > & {
      margin-top: 0;
    }

    // 흰 색 글씨일 때,
    &.is-white {
      > .list-data__text {
        color:$white;

        // 항목명 제목
        &.list-data__text-cate{
          opacity: .8;
        }
      }
    }

    // 한 줄 레이아웃
    &.inline-layout {
      display: flex;

      > .list-data__text{
        + .list-data__text{
          margin-left: 10px;
          text-align: left;
        }
        //&:last-child {
        //  margin-left: 10px;
        //  text-align: left;
        //}
      }

      &.stretch {
        justify-content: space-between;
        align-items: baseline;
        margin-left: auto;
        margin-right: auto;

        > .list-data__text {
          &:last-child {
            text-align: right;
          }
        }
      }
    }

    &.inline-layout__fixed {
      > .list-data__text {
        &:first-child {
          width:75px;
        }
      }
    }

    // 두 줄 레이아웃
    &.block-layout {
      display: block;
      text-align: left;

      > .list-data__text {
        &:not(:first-child) {
          margin-top: 2px; //링크결제 > 링크내역 결제정보 가격
        }
      }
      &.center {
        text-align: center;

        > .list-data__text {
          text-align: center;
        }
      }
    }

    // 한 줄 > 두 줄 레이아웃
    &.inBlock-layout {
      display: flex;

      > .list-data__text{
        + .list-data__text{
          margin-left: 10px;
          text-align: left;
        }
        //&:last-child {
        //  margin-left: 10px;
        //  text-align: left;
        //}
      }

      &.stretch {
        justify-content: space-between;
        align-items: baseline;
        margin-left: auto;
        margin-right: auto;

        > .list-data__text {
          &:last-child {
            text-align: right;
          }
        }
      }
    }

    // 리스트에서 width 잡아주기
    @at-root .table &{
      &.inline-layout, &.block-layout {
        &.stretch {
          //max-width: 270px;
          //max-width:300px;
          padding: 0 1rem; /* content 100%일경우 텍스트가 많으면 가독성이 떨어짐 */
        }

        // dt가 4글자일때, 너비
        &.w200{
          max-width: 205px;
        }

        // dt가 2글자일때, 너비
        &.w180{
          max-width: 180px;
        }
      }

      @media screen and (min-width:1280px) and (max-width:1440px){
        &.inline-layout{
          &.stretch{
            //-ms-flex-wrap: nowrap;
            //flex-wrap: nowrap;
            //-webkit-box-pack: normal;
            //-ms-flex-pack: normal;
            //justify-content: normal;
            //flex-direction: column;
            //margin-top: 5px;
          }
        }
      }


    }

    // 리스트에서 width 풀기

  }


  &__rowtext{
    .list-data__text{
      position: relative;
      padding: 0 0.5rem;
      &:before{
        content:'|';
        color: rgba($table-border-color,0.7);
        left: -0.5rem;
        position: absolute;
        top: 0px;
      }
      &:first-child{
        padding-left:0;
        &:before{
          display: none;
        }
      }
      &:last-child{
        border:0;
      }
      .span-group{
        span{
          color:lighten($gray-600,9%);
        }
      }
    }
  }


}


// 80%일때 inline-layout을 block-layout으로 바꾸기
.page-body .col-md-8 .table-responsive-md{

  .list-data{
    &__wrapper{
      // 한 줄 레이아웃
      &.inBlock-layout {
        display: block;
        text-align: left;

        > .list-data__text {
          &:not(:first-child) {
            margin-top: 5px;
          }
        }
        &.center {
          text-align: center;

          > .list-data__text {
            text-align: center;
          }
        }

        @include media-breakpoint-down(sm) {
          &{
            display: flex;

            > .list-data__text{
              + .list-data__text{
                margin-left: 10px;
                text-align: left;
              }
            }
          }
        }

      }
    }
  }

}

// flex-item__wrap (d-flex 와 같이 사용)
.flex-item{
  &__wrap{
    .flex-item{
      &:first-child{
        padding-right: 0.5rem;
        font-size: $font-size-sm;
      }
    }
    .flex-item-col + .flex-item-col{
      padding-right:1.5rem;
    }

    .tip{
      margin-top: 0;
    }
  }
}


//
//  Li Tag Style with bullets
// --------------------------------------------------
.num-list{
  @include numberLi;
  padding: 15px 25px;

  ul{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: $font-size-xs;
  }
}

.bullet-circle-list{
  @include bulletLi(50%, $gray-500);

  li{
    text-indent: -10px;
    padding-left: 10px;
  }
  &.card{
    padding:7px 15px;
  }
}

.bullet-square-list{
  @include bulletLi(0, $white);
}

.step-list{
  @include numliLayout($primary-dark);
  font-size:$font-size-xs;
}


//
//  Image (Thumbnail)
// --------------------------------------------------
.img-thumbs {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background-color: rgba($primary, .03);
  border: 1px solid rgba($primary, .1);
  border-radius: 4px;
  overflow: hidden;

  &:before {
    content: "이미지 없음";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: $font-size-xs;
    font-weight: $font-weight-bold;
    color: rgba($primary, .8);
    line-height: 78px;
  }
  img {
    width: 100%;
    height:100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $white;
  }
}

// 큐알코드
.qr-thumbs {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  background-color: $line-lighter;
  border: 1px solid $line-light;
  border-radius: 4px;
  overflow: hidden;

  img {
    width: 100%;
  }
}


// Loader
.loader{
  &-dimmer{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3000;
    background-color: rgba($black,.65);
  }
  &-wrapper{
    display: table;
    width: 100%;
    height: 100%;
  }
  &-container{
    display:table-cell;
    text-align: center;
    vertical-align: middle;
  }
  &-text{
    margin-top:2.2rem;
    font-size: $font-size-base;
    color:$white;
    @include prefix(animation, loaderTxt 1.0s linear infinite, webkit moz);
  }

  &-item-wrapper{
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
  }

  &-item {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $white;
  }

  @for $i from 1 through $loader-item-max-child {
    $i : -1 + $i;
    $delay: ($loader-transition-duration / 2) * $i;

    &-item-#{($i+1)} {
      @include prefix(animation, loaderPulse $loader-transition-duration ease $delay infinite alternate, webkit moz);
    }
  }
}


// 리스트 상세보기 전체 레이어팝업으로 변경
.view-info{
  position: fixed;
  top:0;
  right:0;
  width:30%;
  min-width:470px;
  height:100vh;
  z-index: 400;
  background-color: $white;
  overflow: hidden;

  //position: relative;

  &__dimmer{
    position: fixed;
    top:0;
    right:0;
    width:100vw;
    height:100vh;
    z-index: 300;
    background-color: rgba($black,.5);
  }
  &__container{
    position: relative;
    //top:0;
    //bottom: 0;
    //left:0;
    //right:0;
    width:100%;
    height:100%;
  }

  .card{
    //border:0;
    //border-radius: 0;
    //position: relative;
    width:100%;
    height:100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    //position: fixed;

    &-header{
      //position: fixed;
      //position: absolute;
      //top:0;
      //right:0;
      width:100%;
      //width:fit-content;
      background-color: $white;
      padding-bottom:1rem;
      border-radius: 0;
    }
    &-body{
      //position: fixed;
      height: calc(100vh - 174px);
      //padding-top:100px;
      //padding-bottom:100px;
      overflow-y: auto;
      width:100%;
      padding-top:0;
      //padding-bottom:0;
      padding-bottom:1rem;

    }
    &-footer{
      //position: fixed;
      //position: absolute;
      //bottom:0;
      //right:0;
      //width:30%;
      //width:fit-content;
      width:100%;
      background-color: $white;
      //padding:0;
      border-top:0;
      padding-top:1rem;
      border-radius: 0;

      .btn-ct-bottom{
        margin-top: 0;
      }
    }
  }


  @include media-breakpoint-down(sm) {
    &{
      width:80%;
    }
  }
}

