@charset "UTF-8";

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxIIzQ.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc-.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxM.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc-.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc-.woff) format('woff');
}

@font-face {
  font-family: "FontAwesome";
  src: url('../fonts/FontAwesome-webfont.eot');
  src: url('../fonts/FontAwesome-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/FontAwesome-webfont.woff') format('woff'), url('../fonts/FontAwesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus input:-webkit-autofill, textarea:-webkit-autofill, textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
  background: #fff !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1555e4;
}
* {
  margin: 0;
  padding: 0;
  outline: none !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  white-space-collapse: collapse;
}

.group:before, .group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}
body, html {
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

header, footer, aside, nav, hgroup, details, menu, figure, figcaption {
  display: block;
  padding: 100%;
  margin: 100%;
}
fieldset, img, abbr, acronym {
  border: 0;
}
/*180517수정*/
.rd50 {
  border-radius: 50em;
}
.btn.pdlr {
  padding-left: 1em !important;
  padding-right: 1em !important;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
ol, ul, li {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  width: 100%;
}
caption, th, td {
  font-weight: normal;
}
address, caption, strong, em, cite {
  font-weight: normal;
}
strong{
  font-weight: 700;
}
.ins {
  text-decoration: none;
}
.del {
  text-decoration: line-through;
}
.under {
  text-decoration: underline;
}
.under:hover {
  text-decoration: underline;
}
.under:active {
  text-decoration: underline;
}
.under:focus {
  text-decoration: underline;
}
em {
  font-style: normal; /*jh*/
}
a {
  text-decoration: none;
  color: #3e3e3e;
  outline: none !important;
  cursor: pointer /*180615*/
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
.inBlock {
  display: inline-block !important;
  vertical-align: top;
  position: relative; /*jh*/
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}
.hand {
  cursor: pointer;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
legend, caption {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
}
canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
input, select, textarea, button, textarea {
  font-family: Roboto, /*Malgun Gothic, '맑은고딕',*/ Dotum, '돋움';
  outline: none !important;
  line-height: inherit;
}
button {
  background: none;
  border: 0;
  cursor: pointer;
}
input {
  box-sizing: border-box;
}

input::-ms-clear {/* 180621 IE에서 x버튼 */
  width: 23px;
  height: 23px
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
/*jh*/
input::placeholder, textarea::placeholder {
  color: #999;
  font-weight: normal;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder { /*180702 input placeholder IE에서도 적용되게 */
  color: #999;
  font-weight: normal;
}

/*//jh*/
input::foucs {
  border-color: #007aff !important; /* 180508 수정 */
}
input[type="checkbox"], input[type="radio"] {
  padding: 0;
  margin: 0;
  vertical-align: middle;
  *overflow: hidden;
  -webkit-appearance: none;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  border: 0;
  background: 0;
  opacity: 0;
  cursor: pointer;
  width: 18px;
  height: 18px;
}
.input_chk {
  position: relative;
  display: inline-block;
  height: 18px;
  line-height: 18px;
  margin-left: 20px;
}
.input_chk:first-child {
  margin-left: 0px;
}
@media (max-width: 800px) {
  .chkMb .input_chk {
    width: 48%;
    margin-left: 0px;
    margin: 5px 0;
  }
}
.input_chk input[type="checkbox"] + label:before, .input_chk input[type="radio"] + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  display: inline-block;
  color: transparent;
  overflow: hidden;
  white-space: nowrap;
  background: url(../images/images.png) no-repeat;
  -webkit-background-size: 500px 500px;
  cursor: hand;
}
.input_chk input[type="checkbox"] + label:before {
  background-position: 0px -75px;
}
.input_chk input[type="checkbox"]:checked + label:before {
  background-position: 0px -93px;
}
.input_chk input[type="radio"] + label:before {
  background-position: -28px -75px;
}
.input_chk input[type="radio"]:checked + label:before {
  background-position: -28px -93px;
}
.input_chk input[type="checkbox"] + label, .input_chk input[type="radio"] + label {
  padding-left: 25px;
}
.input_chk.first input[type="checkbox"] + label, .input_chk.first input[type="radio"] + label {
  padding-left: 18px;
}
.input_info{
  padding: 10px 0;
}
.input_info p {
  font-size: 12px;
  color: #999;
  margin-top: 4px;
  line-height: 1.5em;
}
.input_info li {
  margin-bottom: 15px;
}
.input_info li:last-child {
  margin-bottom: 0px;
}
select {
  box-sizing: border-box;
}
/***********************************
 * margin
 ***********************************/
.mgl5 {
  margin-left: 5px !important;
}
.mgl10 {
  margin-left: 10px !important;
}
.mgl20 {
  margin-left: 20px !important;
}
.mgl30 {
  margin-left: 30px !important;
}

.mgr5 {
  margin-right: 5px !important;
}
.mgr10 {
  margin-right: 10px !important;
}
.mgr20 {
  margin-right: 20px !important;
}
.mgt0 {
  margin-top: 0px !important;
}
.mgt5 {
  margin-top: 5px !important;
}
.mgt10 {
  margin-top: 10px !important;
}
.mgt15 {
  margin-top: 15px !important;
}
/*0323*/
.mgt20 {
  margin-top: 20px !important;
}
.mgt30 {
  margin-top: 30px !important;
}/*0323*/
.mgb0 {
  margin-bottom: 0px !important;
}
.mgb15 {
  margin-bottom: 15px !important;
}
.mgb20 {
  margin-bottom: 20px !important;
}
.mgb25 {
  margin-bottom: 25px !important;
}
.mgb30 {
  margin-bottom: 30px !important;
}/*0323*/
.mgb10 {
  margin-bottom: 10px;
}
.mg0{
  margin:0 !important;
}
.mgt-2 {
  margin-top: -2px;
}
.mgt-3 {
  margin-top: -3px;
}
.mgr-3 {
  margin-right: -3px;
}
.mgl0 {
  margin-left: 0px !important;
}

.pBox p{
  margin-top:5px
}
.pBox:first-child{
  padding-top: 0px;
}
.pdl0 {
  padding-left: 0px !important;
}
.pdr0 {
  padding-right: 0px !important;
}
.pdr9 {
  padding-right: 9px !important;
}
.pdr10 {
  padding-right: 10px !important;
}
.pdl9 {
  padding-left: 9px !important;
}
.pdl10 {
  padding-left: 10px !important;
}
.pdl15 {
  padding-left: 15px !important;
}
.pdl30 {
  padding-left: 30px !important;
}

.pd5 {
  padding: 5px 5px;
}
.pd20 {
  padding: 20px 20px !important;
}
.pd30 {
  padding: 30px 30px !important;
}
.pd40 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
/*0323*/
.pdlr20 {
  padding: 20px 20px !important;
}/*0323*/

.plr20 {
  padding: 0 20px !important;
}
.ptb20 {
  padding: 20px 0 !important;
}
.pdt0{
  padding-top: 0 !important;
}
.pdb0{
  padding-bottom: 0 !important;
}

.borderT_none {
  border-top: none !important;
}
.borderR {
  border-right: 1px solid #d8dbe2;
}
.cwhite {
  color: #fff;
}
.a_link:hover {
  color: #007aff !important;
}/* 180508 수정 */

.bgWhite {
  background: #fff;
}

.bdt0 {
  border-top: 0px !important;
}
.bdt1{
  border-width: 1px !important;
}
.bdon{
  border: 1px solid #d8dbe2;
}
.bdon2{
  border-top: 1px solid #d8dbe2;
  border-bottom: 1px solid #d8dbe2;
}
.bdb0 {
  border-bottom: 0px !important;
}
.carrow {
  cursor: default !important;
}

/***********************************
 * wSelect-e
 ***********************************/
.wSelect-el {
  width: 0px;
  height: 0px;
  padding: 0px;
  margin: 0px;
  border: none;
  overflow: hidden;
}
.wSelect {
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.wSelect-arrow {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
}
.wSelect-arrow:after {
  font-family: FontAwesome;
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: '\f107';
  font-size: 19px;
  color: #999;
}
.wSelect-selected {
  line-height: 34px;
  padding-left: 41px !important;
  overflow: hidden;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-position: 0 center;
  width: 100%;
  border: 1px solid #c8c8c8;
  font-size: 13.5px;
}
.wSelect-options-holder {
  position: absolute;
  display: none;
  left: 0px;
  z-index: 200;
  overflow: hidden;
  margin-top: -1px;
}
.wSelect-multiple .wSelect-options-holder {
  position: relative !important;
  display: block !important;
  top: auto !important;
  z-index: auto !important;
  border: none !important;
}
.wSelect-options {
  overflow-y: scroll;
  overflow-x: hidden;
}
.wSelect-option {
  font-size: 13.5px;
}
.wSelect-option-value {
  margin: 0 13px;
  padding: 7px 0;
  background-repeat: no-repeat;
  background-position: 0 center;
  white-space: nowrap;
  overflow: hidden;
}
.wSelect-option-disabled .wSelect-option-value {
  filter: alpha(opacity=20);
  opacity: 0.2;
}
.wSelect-option-icon {
  padding-left: 28px;
  background-size: 18px;
}
.wSelect-selected.wSelect-option-icon{
  background-position-x: 13px;
}
/***********************************
 * Theme - classic
 ***********************************/
.wSelect-theme-classic.wSelect {
  min-width: 100px;
  width: 100% !important;
  padding: 0;
  height: 36px;;
  font-size: 13.5px;
  color: #2e2e2e;
  background-color: #fff;
}
.wSelect-theme-classic .wSelect-options-holder {
  background-color: #fff;
  border: 1px solid #c8c8c8;
  width: 100%;
}
.wSelect-theme-classic .wSelect-option {
  background-color: #fff;
  color: #999;
}
.wSelect-theme-classic .wSelect-option-disabled {
  background-color: #fff !important;
  color: #3e3e3e !important;
}
.wSelect-theme-classic .wSelect-option-selected, .wSelect-theme-classic .wSelect-option:hover {
  background-color: #f5f8ff;
  color: #007aff;
}
textarea {
  box-sizing: border-box;
}
.form-group {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
}
.int {
  width: 100%;
  padding: 0 10px;
  height: 36px;;
  line-height: 36px;;
  font-size: 13.5px;
  color: #2e2e2e;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  display: inline-block;
}
.int:disabled {
  background-color: #f1f1f1;
  color: #6e6e6e;
}
select.int {
  min-width: 60px;
  padding-left: 6px; /*180426*/
}
select.int {
  padding-right: 0px;
}
.input-group {
  position: relative;
  display: table;
  width: 100%;
  table-layout: fixed;
  overflow: hidden;
}
.input-group .tt {
  color: #999;
  margin-right: 12px;
  margin-bottom: 5px;
  font-size: 13.5px;
  display: block;
}
.number-group {
  position: relative;
  display: table;
  width: 100px;
  table-layout: fixed;
  overflow: hidden;
}
.number-group .input-group-btn {
  width: 30px;
}
.input-group-btn .btn{
  top: inherit;
}
.number-group .int {
  text-align: center;
  border-left: 0px;
  border-right: 0px;
  width: 100%;
  height: 30px;
  line-height: 30px; /*jh*/
  border-color: #ccc;
}
.number-group button {
  color: #007aff !important; /* 180508 수정 */
  height: 30px;
  padding: 0px !important; /* 180508 수정 */
}
.intBox {
  position: relative;
  margin-bottom: 0;
  display: table-cell;
}
.intBox .int_label {
  padding-left: 50px;
}
.intBox2 {
  position: relative;
  margin-bottom: 0;
}
.intBox2 .int_label {
  padding-left: 80px;
}
.intBox2 .int {
  text-align: right;
}
.intBox label, .intBox2 label {
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-45%);
  transform: translateY(-45%);
}
.intBox2 label {
  min-width: 80px;
}
.intBox.src .int {
  width: 180px;
  padding-right: 40px; /* 검색아이콘 보이게 여백 */
}
.schbox_wrapper .int {
  border-color: #c8c8c8 !important;
}
.intBox.src .srcBtn {
  width: 36px;;
  height: 36px;;
  line-height: 36px;;
  right: 0px;
  top: 0px;
  display: block;
  background: none;
  position: absolute;
  text-align: center;
}/*0326*/
.intBox.src .srcBtn button {
  width: 36px;;
  height: 36px;;
  line-height: 36px;;
}
@media (max-width: 800px) {
  .mw100p .int {
    width: 100% !important;
  }
}
.srcBox {
  float: right;
  min-width: 250px;
}
.intMoney {
  text-align: right;
  margin-top: 8px;
}
.intMoney span {
  padding: 0 13px;
  border-right: 1px solid #e8e9ee;
}
.intMoney span:last-child {
  border-right: 0px;
  padding-right: 0px;
}
.intMoney .pull-left span {
  padding: 0;
  border-right: 0px;
}
.icon_nara {
  margin-right: 10px;
}
.icon_nara img {
  max-width: 20px;
  max-height: 20px;
  position: relative;
  top: 2px;
}
.intMoney strong {
  font-weight: 700;
}
.intMoney label {
  color: #999;
  margin-right: 13px;
}
.input-group .custom-file {
  display: table-cell;
  align-items: center;
}
.input-group-append {
  display: table-cell;
  vertical-align: top;
  width: 100px;
}
.input-group-btn {
  display: table-cell;
  vertical-align: top;
  width: 36px;;
}
.input-group-btn button {
  width: 100%;
}

.input-btn {
  background: #f9fafc;
  border: 1px solid #c8c8c8;
  border-left: 0px;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
  line-height: 34px;
  display: block;
  width: 100%;
}
.input-group .select_aw {
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
  position: relative;
  height: 36px;;
  width: 36px;;
  display: table-cell;
  vertical-align: middle;
}
.input-group .select_aw span {
  display: block;
  /*	position: absolute;*/
  text-align: center;
  /*
     top: 50%;
     -webkit-transform: translateY(-50%);
     transform: translateY(-50%);
     */
  line-height: 36px;;
  width: 100%;
  padding: 0 12px;
}

@media (max-width: 800px) {
  .input-group .select_aw span {
    width: 100%;
  }
  .input-group .select_aw {
    margin: 0 auto;
  }
}
.btn {
  position: relative;
  z-index: 2;
}
/* jh */
.btn + .btn, .btn + .input-group-text, .input-group-text + .input-group-text, .input-group-text + .btn {
  margin-left: -1px;
  position: relative;
  margin-left: -2px; /*라인이 겹쳐서 보일때가 있어서*/
}
.btn.active {
  background: #007aff !important; /* 180508 수정 */
  border-color: #007aff !important; /* 180508 수정 */
  color: #fff !important;
}
/*//jh*/

.input-group-text {
  display: table-cell;
  align-items: center;
  margin-bottom: 0;
  font-size: 13.5px;
  text-align: center;
  white-space: nowrap;
}
/* color */
.cgray {
  color: #999 !important;
}
.cgrayblue {
  color: #abb7c1 !important;
}
.cdgray {
  color: #333 !important;
}
.cred {
  color: #f83e6a !important;
}
.cdarkgray {
  color: #d8e8e8 !important;
}
.cblack {
  color: #3e3e3e !important;
}
.cwhite {
  color: #fff !important;
}
.clightwhite {
  color: #f5f7f9 !important;
}
.cgreen {
  color: #01b8b5 !important;
}
.cmainblue {
  color: #007aff !important; /* 180508 수정 */
}
.csubblue {
  color: #4b74e0 !important;
}
.cectblue {
  color: #2f468a !important;
}
.cpurple{
  color: #7f45df !important;
}
.line {
  color: #d8dbe2 !important;
}
.subline {
  color: #f1f1f4 !important;
}
.bgray {
  background: #dddddd !important;
  border-color: #dddddd !important;
  color: #fff !important;
}
.lgray {
  background: #fff !important;
  border-color: #ddd !important;
  color: #6e6e6e !important;
}
.bdarkgray {
  background: #7d8a95 !important;
  border-color: #7d8a95 !important;
  color: #fff !important;
}
/* 180508 추가 */
.bgrayblue {
  background: #abb7c1 !important;
  border-color: #abb7c1 !important;
  color: #fff !important;
}
.lgrayblue {
  background: #fff !important;
  border-color: #abb7c1 !important;
  color: #898989 !important;
}
.bred {
  background: #eb5176 !important;
  border-color: #eb5176 !important;
  color: #fff !important;
}
.lred {
  background: #fff !important;
  border-color: #eb5176 !important;
  color: #eb5176 !important;
}
.bpurple {
  background: #7f45df !important;
  border-color: #7f45df !important;
  color: #fff !important;
}
.lpurple {
  background: #fff !important;
  border-color: #7f45df !important;
  color: #7f45df !important;
}
.bmainblue {
  background: #007aff !important; /* 180508 수정 */
  border-color: #007aff !important; /* 180508 수정 */
  color: #fff !important;
}
.lmainblue {
  background: #fff !important;
  border-color: #007aff !important; /* 180508 수정 */
  color: #007aff !important; /* 180508 수정 */
}
.bsubblue {
  background: #4b74e0 !important;
  border-color: #4b74e0 !important;
  color: #fff !important;
}
.bectblue {
  background: #2f468a !important;
  border-color: #2f468a !important;
  color: #fff !important;
}
.lectblue {
  background: #fff !important;
  border-color: #2f468a !important;
  color: #2f468a !important;
}
.bgreen {
  background: #01b8b5 !important;
  border-color: #01b8b5 !important;
  color: #fff !important;
}
.lgreen {
  background: #fff !important;
  border-color: #01b8b5 !important;
  color: #01b8b5 !important;
}
.borange {
  background: #ff9111 !important;
  border-color: #ff9111 !important;
  color: #fff !important;
}
.lorange{
  background: #fff !important;
  border-color: #ff9111 !important;
  color: #ff9111 !important;
}
.bblack{
  background: #2d3e4e !important;
  border-color: #2d3e4e !important;
  color: #fff !important;
}
.lblack {
  background: #fff !important;
  border-color: #ccc !important;
  color: #2d3e4e !important;
}
/* align */

.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
@media (max-width: 800px) {
  .mtl {
    text-align: left !important;
  }
  .mtr {
    text-align: right !important;
  }
  .mclearfix {
    float: inherit !important;
    display: block;
    width: 100%;
  }
}
/* font */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  letter-spacing: -1px;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777777;
}
h1, .h1 {
  font-size: 36px;
}
h2, .h2 {
  font-size: 30px;
}
h3, .h3 {
  font-size: 24px;
}
h4, .h4 {
  font-size: 18px;
}
h5, .h5 {
  font-size: 13.5px;
}
h6, .h6 {
  font-size: 12px;
}
/* 180508 추가 */
small {
  letter-spacing: 0px;
}
.number {
  font-size: 19px !important;
  position: relative;
  top: 2px;
}
.number_b {
  font-size: 1.6em;
  font-size: 2em; /*jh*/
  position: relative;
  top: 2px;
}
.num {
  font-size: 1.05em;
  position: relative;
  top: 1px;
}
strong.num {
  font-weight: 700;
}
.sum_num {
  font-size: 1.3em;
}

.wHalf {
  width: 48% !important;
}
.w100p {
  width: 100% !important;
}
.w220px {
  width: 220px !important;
}
.w250px {
  width: 250px !important;
}
.w320px {
  width: 320px !important;
}
.w330px {
  width: 330px !important;
}
.w100px {
  width: 100px !important;
  display: inline-block;
}
.w90px {
  width: 90px !important;
  display: inline-block;
}
.w80px {
  width: 80px !important;
  display: inline-block;
}

.w150px {
  width: 150px !important;
}



.line42 {
  line-height: 36px;;
}
.line32 {
  line-height: 32px;
}/*0326*/
@media (max-width: 800px) {
  .w250px, .w320px {
    width: 100% !important;
  }
  .mw100p {
    width: 100% !important;
    margin: 0 !important;
    margin-top: 10px !important;
    display: table;
    float: inherit !important;
  }
  .mw100p.first {
    margin-top: 0px !important;
  }
  .modal-top .pull-right {
    margin-top: 0px !important;
  }
  .info-text.line42 {
    line-height: inherit;
  }
  .mw30p{
    width: 31%  !important;
  }
}
@media (max-width: 600px) {
  .mw100p2 {
    /*width: 100% !important;*/
    margin: 0 !important;
    margin-top: 10px !important;
    display: table;
  }
}/*0326*/
/* images */
.images, .images_before:before {
  display: inline-block;
  color: transparent;
  overflow: hidden;
  white-space: nowrap;
  background: url('../images/images.png') no-repeat;
  -webkit-background-size: 500px 500px;
  background-size: 500px 500px;
  position: relative;
  top: 4px;
}
.images_before {
  padding-left: 30px;
  position: relative;
  display: inline-block;
}
.tbCoin .images_before {
  padding-left: 40px;
}
.images_before:before {
  content: '';
  clear: both;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.tbCoin .images_before:before, .td_tr .images_before:before, #canReqPop1 .images_before:before {/* 180503 추가 */
  background: url("../images/coin.png") no-repeat;
  background-position: 0 0;
  width: 20px;
  height: 20px;
}

.exmark {
  background-position: -26px 0;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.refresh {
  background-position: 0px 0;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.sell {
  background-position: -84px -40px;
  width: 19px;
  height: 16px;
  cursor: pointer;
}
.facebook {
  background-position: 0px -121px;
  width: 38px;
  height: 38px;
  cursor: pointer;
}
.kakao {
  background-position: -95px -121px;
  width: 38px;
  height: 38px;
  cursor: pointer;
}
.google {
  background-position: -48px -121px;
  width: 38px;
  height: 38px;
  cursor: pointer;
}
.twit {
  background-position: -190px -121px;
  width: 38px;
  height: 38px;
  cursor: pointer;
}
.insta {
  background-position: -143px -121px;
  width: 38px;
  height: 38px;
  cursor: pointer;
}
.coinImage_ko:before {
  background-position: 0px 0px;
}
.coinImage_bit:before {
  background-position: 0px -30px !important;
}
.coinImage_et:before {
  background-position: 0px -90px !important;
}
.coinImage_etc:before {
  background-position: 0px -330px !important;
}
.coinImage_bitg:before {
  background-position: 0px -450px !important;
}
.coinImage_bitc:before {
  background-position: 0px -60px !important;
}
.coinImage_lt:before {
  background-position: 0px -180px !important;
}
.coinImage_rp:before {
  background-position: 0px -120px !important;
}

.coin_send {
  background-position: -483px -40px;
  width: 18px;
  height: 17px;
  margin-right: 6px;
}
.coin_rec {
  background-position: -456px -40px;
  width: 17px;
  height: 17px;
  margin-right: 6px;
}
.coin_change {
  background-position: -429px -40px;
  width: 17px;
  height: 17px;
  margin-right: 6px;
}
.linkArea i {
  width: 22px;
  height: 22px;/* 180502 */
  position: relative;
  top: 6px;
}
/* 180502 */
.linkArea label {
  position: relative;
}
.linkArea .b_wide i {
  margin-right: 4px;
}
.icon_with {
  width: 28px !important;
  background-position: -122px -36px;
}

.icon_deposit {
  width: 28px !important;
  background-position: -171px -36px;/*180502*/
}

.icon_exch {
  background-position: -221px -36px;/*180502*/
}

.icon_refresh {
  background-position: -323px -1px;/* 180502 */
  width: 21px !important;/* 180502 */
}
.icon_excel {
  background-position: -376px -1px;/* 180502 */
  width: 20px !important;/* 180502 */
}
.icon_print {
  background-position: -426px 0px;
}
.icon_exchange {
  background-position: -478px 0px;
}/*0327*/
.icon_date {
  background-position: -221px 0px;
  width: 22px;
  height: 22px;
  position: relative;
  top: 6px;
}
.icon_search {
  background-position: -325px -39px;
  width: 19px;
  height: 19px;
}
.icon_mod {
  width: 20px;
  height: 20px;
  background-position: -376px -39px;
}
.icon_del {
  width: 20px;
  height: 20px;
  background-position: -351px -37px;
}
.icon_cancle {
  width: 18px;
  height: 18px;
  background-position: -297px -40px;
}
.icon_apply {
  width: 44px;
  height: 44px;
  background-position: -238px -121px;
}

.icon_search_a {
  background-position: 0px -36px;
  width: 21px;
  height: 21px;
}

/*180521추가*/
.icon_apply_big {
  width: 60px;
  height: 60px;
  background-position: -440px -121px;
}
.icon_apply_big {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
/*//180521추가*/

/* jh */
.icon_photo {
  background-position: -420px -65px;
  width: 28px;
  height: 21px;
  position: relative;
  top: 5px;
  cursor: pointer;
}
/* ykb */
.icon_write {
  width: 21px;
  height: 22px;
  background-position: -170px 0;
}
.icon_delete {
  width: 21px;
  height: 22px;
  background-position: -121px 0px;
}
.icon_soldOut {
  background-position: -75px 0px;
}
.icon_massEnroll {
  background-position: -376px -94px;
}

/*// jh */
td:hover .icon_cancle, td:active .icon_cancle, td:focus .icon_cancle {
  width: 18px;
  height: 18px;
  background-position: -269px -40px;
}
#cssmenu > ul > li > a > span:before {
  content: '';
  text-align: center;
  width: 21px;
  height: 21px;
  display: inline-block;
  color: transparent;
  /*overflow: hidden;*/
  white-space: nowrap;
  /*background: url(../images/images.png) no-repeat;*/
  -webkit-background-size: 500px 500px;
  background-size: 500px 500px;
  position: absolute;
  top: 50%;
  left: 13px;
  -webkit-transform: translateY(-52%); /* 180508 수정 */
  transform: translateY(-52%); /* 180508 수정 */
}
#cssmenu > ul > li > a > span {
  padding-left: 44px !important;
}
.icon_menu:before {
  background-position: -84px -75px !important;
}
.active .icon_menu:before, .active_important .icon_menu:before {
  background-position: -84px -97px !important;
}
.icon_menu2:before {
  background-position: -112px -75px !important;
}
.active .icon_menu2:before, .active_important .icon_menu2:before {
  background-position: -112px -97px !important;
}
.icon_menu3:before {
  background-position: -141px -75px !important;
}
.active .icon_menu3:before, .active_important .icon_menu3:before {
  background-position: -141px -97px !important;
}
.icon_menu4:before {
  background-position: -169px -74px !important;
}
.active .icon_menu4:before, .active_important .icon_menu4:before {
  background-position: -169px -96px !important;
}
.icon_menu5:before {
  background-position: -199px -74px !important;
}
.active .icon_menu5:before, .active_important .icon_menu5:before {
  background-position: -199px -96px !important;
}
.icon_menu6:before {
  background-position: -226px -74px !important;
}
.active .icon_menu6:before, .active_important .icon_menu6:before {
  background-position: -226px -96px !important;
}
/* align */

.clearfix:before, .clearfix:after, .mclearfix:before, .mclearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
  content: " ";
  display: table;
}
.clearfix:after, .mclearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-header:after, .modal-footer:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
.visible-xs, .visible-sm, .visible-md, .visible-lg {
  display: none !important;
}
.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {
  display: none !important;
}

@media (max-width: 800px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs, td.visible-xs {
    display: table-cell !important;
  }
}

@media (max-width: 800px) {
  .visible-xs-block {
    display: block !important;
  }
}

@media (max-width: 800px) {
  .visible-xs-inline {
    display: inline !important;
  }
}

@media (max-width: 800px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm, td.visible-sm {
    display: table-cell !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md, td.visible-md {
    display: table-cell !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg, td.visible-lg {
    display: table-cell !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}

@media (max-width: 800px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}

@media (min-width: 801px) {
  .web {
    display: block;
  }
  .mobile {
    display: none;
  }
}
.filebox {
  display: table;
  width: 100%;
  border: 1px solid #c8c8c8;
}
.filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.filebox .ex_filenameWrap {
  display: table-cell;
  width: 100px;
  text-align: center;
  /*height: 36px;;
     line-height: 36px;;*/
  font-size: 13.5px;
  color: #2e2e2e;
  background-color: #f9fafc;
  border-left: 1px solid #c8c8c8;
  cursor: pointer;
  vertical-align: inherit;
}
/*180419*/
.filebox .ex_filenameWrap label {
  display: block;
  width: 100%;
  height: 100%;
}
/* named upload */
.filebox .upload-name {
  display: table-cell;
  border: 1px #fff;
  width: 100%;
  height: 34px; /* ie에서 글자 안 보여서 다시 추가 */
  /*line-height: 36px;;*/
  padding: 0 10px;
  font-size: 13.5px;
  color: #2e2e2e;
  background-color: #fff;
  border-right: 0px;
}
.bankAttach .filebox{
  width:250px !important;
}


small {
  color: #999;
  font-size: 12px;
}
.cred small{
  color: #f83e6a;
}
.cmainblue small{
  color: #007aff ;
}
/* 180504 */
.int.w90pc {
  width: 91%;
  float: left;
}
.int.w90pc + small {
  float: right;
  margin-left: 0px !important;
}

/**/