@charset "UTF-8";
/* _reset.scss */

//
//  Reset Style
// --------------------------------------------------
*{outline:none;}
html,body{/*overflow-x:hidden*/}
html { font-size: 15px; background: #fff; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
body { /*font-family: $font-family;*/ font-weight: 400; line-height: 1.6em; letter-spacing: -0.45px; background: inherit; color: #222;}
input, button, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0; padding: 0; border: 0; vertical-align: baseline; box-sizing:border-box;
}
// Set html5 elements to block
article,aside,details,figcaption,figure,footer,header,hgroup,menu,main,nav,section,summary{display:block;}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,font,img,ins,q,s,samp,strike,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{border:0 none; margin:0; padding:0; }
body{position:relative;word-break:break-all;-ms-text-size-adjust:100%;text-size-adjust:100%;-webkit-text-size-adjust:100%;}
header,h1{font-size:100%;}
caption,legend{position:absolute;top:-9999px;left:-9999px;visibility:hidden;width:0;height:0;font-size:0;overflow:hidden;}
caption{display:none;}
img{vertical-align:top;border:none;}
select,input{vertical-align:top;border:0px;border-radius:0;background-color:transparent;box-shadow: none;}
hr{display:none;border:0 none;}
ol,ul,ul li{list-style:none;padding:0;margin:0;}
dl, dt, dd{padding:0; margin:0;}
em{font-style:normal;}
menu li{list-style:none;}
address{font-style:normal;display:inline;}
button{cursor:pointer;border:0px;border-radius:0;background-color:transparent;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
button:active{ outline:none;}
//button:focus{ outline:none;}
table{border-spacing:0;border-collapse:collapse;}
input,textarea,keygen,select,button{ /*font-family:$font-family;*/ }
strong{font-weight:600;}
dfn{font-style:normal;}
// Link Style
a,a:hover,a:link,a:visited,a:active,a:focus{text-decoration:none;/*color:inherit;*/cursor:pointer;}
a:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
// Forms
fieldset{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
select,input[type=radio],input[type=submit],input[type=search]{cursor:pointer;border:0px;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
select::-ms-expand {display:none;}
input:focus,button:focus,textarea:focus{}
select,div{}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button,input[type=date]::-webkit-inner-spin-button,input[type=date]::-webkit-outer-spin-button{ -webkit-appearance: none; margin: 0;}
input[type=date]::-webkit-calendar-picker-indicator {color:transparent;background:none;z-index:1;}
textarea{width:100%;border:none;background:none;resize: none;color:#666;}
// heading
h1,h2,h3,h4,h5,h6{margin:0;font-weight:normal;}
img{max-width:100%;height:auto;vertical-align:top;-ms-interpolation-mode:bicubic;}
small{font-size:88%;font-weight:400; color:inherit; /*color:$base-light;*/}

/* Chrome, Safari용 스크롤 바 */
::-webkit-scrollbar {width: 8px; height: 8px; border: 3px solid #fff; }
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {display: block; height: 10px; /*background: url('./images/bg.png') #efefef*/}
::-webkit-scrollbar-track {background: #efefef; -webkit-border-radius: 10px; border-radius:10px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.2)}
::-webkit-scrollbar-thumb {height: 50px; width: 50px; background: rgba(0,0,0,.2); -webkit-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.1)}

//
//  Init
// --------------------------------------------------

:root{
  --animate-duration:1s;
  --animate-delay:1s;
  --animate-repeat:1
}
html{
  min-width:600px;
  overflow-x: auto;
  background: $bg-base
}


//
//  Skip Navigation
// --------------------------------------------------
.skipNav {
  position: absolute;
  left: -300%;
  font-size: 2em;
  color: #fff;
  background: #555;

  &:focus,
  &:hover {
    display: block;
    position: fixed;
    left: 0;
    z-index: 9999;
    width: 100%;
    padding: 10px;
    font-size: 2em;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    text-decoration: none
  }
}


//
//   Help Style
// --------------------------------------------------

// only screen reader
.invisible {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

// text decoration
.under {
  //text-decoration: underline !important;
  text-decoration: none;
  border-bottom: 1px solid;
  line-height: initial;
  padding: 0;

  &:hover, &:active, &:focus {
    //text-decoration: none;
  }
}
a.under,
button.under{
  cursor: pointer !important;
  color:inherit;
  transition-property: color, border-top;
  transition-duration: 200ms;

  &:hover, &:active, &:focus {
    color:$primary;
    border-top: 1px solid inherit;
  }
}

.del {
  text-decoration: line-through;
}
.en{
  letter-spacing: 0 !important;
}
.hand {
  cursor: pointer;
}

.w-half{
  width:50%;
}
.w-oneThirds{
  width:33.333%;
}
.w-twoThirds{
  width:66.666%;
}
@include media-breakpoint-down(sm) {
  .w-half, .w-oneThirds, .w-twoThirds{
    width:100%;
  }
}


//
//   Custom Animation Style
// --------------------------------------------------

// use of keyframes mixin
@include keyframes(shadow-pulse1) {
  0% { box-shadow: 0 0 0 0px rgba($primary, 0.3); }
  100% { box-shadow: 0 0 0 12px rgba($primary, 0); }
}
@include keyframes(shadow-sm-pulse1) {
  0% { box-shadow: 0 0 0 0px rgba($primary, 0.3); }
  100% { box-shadow: 0 0 0 5px rgba($primary, 0); }
}
@include keyframes(shadow-pulse2) {
  0% {box-shadow: 0 0 0 0px rgba($primary, 0.3);}
  100% {box-shadow: 0 0 0 12px rgba($primary, 0);}
}
@include keyframes(shadow-pulse3) {
  0% { box-shadow: 0 0 0 0px rgba($danger, 0.3);}
  100% { box-shadow: 0 0 0 12px rgba($danger, 0);}
}
@include keyframes(shadow-pulse4) {
  0% { box-shadow: 0 0 0 0px rgba($base-light, 0.3); }
  100% { box-shadow: 0 0 0 12px rgba($base-light, 0); }
}

// 새로고침 animaiton
@keyframes spin-inf {
  100%{ transform:rotate(360deg);}
}

// menu hover animaiton
@include keyframes(burger-hover) {
  0% { width: 100%; }
  50% { width: 50%; }
  100% { width: 100%;}
}

// tv box icon animation
@include keyframes(icon-ani) {
  0% {transform: scaleX(1);}
  25% {transform: scaleX(0);}
  50% {transform: scaleX(1);}
  75% {transform: scaleX(0);}
  100% {transform: scaleX(1);}
}

@include keyframes(box-ani) {
  0% {transform: scaleX(1);}
  50% {transform: scaleX(0);}
  100% {transform: scaleX(1);}
}

// arrow icon animation
@include keyframes(arrow-icon-ani) {
  0% {margin-left:0px;}
  50% {margin-left:7px;}
  100% {margin-left:0px;}
}
// titBox bg moving animation
@include keyframes(bg-ani) {
  0% { background-position: 50% 45%; background-size: 100%; }
  50% { background-position: 50% 50%; background-size: 95%; }
  100%{ background-position: 50% 45%; background-size: 100%; }
}

// loader animation
@keyframes osc-l{
  0%{left:20%;}
  50%{left:50%;}
  100%{left:20%;}
}
@keyframes osc-r{
  0%{left:80%;}
  50%{left:50%;}
  100%{left:80%;}
}

// btn for payment in dashboard
@keyframes ripple {
  from { opacity: 1; transform: scale3d(0.75,0.75,1); }
  to { opacity: 0; transform: scale3d(1.5,1.5,1);}
}

// page loader transition
@-webkit-keyframes load8 {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes load8 {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg);}
}

@keyframes spin360 {
  100% {  -webkit-transform-origin:50% 50%; -webkit-transform: rotate(360deg);  transform-origin:50% 50%; transform: rotate(360deg);}
}

@-webkit-keyframes fadeInUp{
  0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
  to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
@keyframes fadeInUp{
  0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
  to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}

// hover, icon moving
@-webkit-keyframes hvr-icon-push {
  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
@keyframes hvr-icon-push {
  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

// alarm bell motion

@keyframes tada{
  from{
    -webkit-transform:scale3d(1,1,1);
    transform:scale3d(1,1,1)
  }
  10%,20%{
    -webkit-transform:scale3d(.95,.95,.95) rotate3d(0,0,1,-10deg);
    transform:scale3d(.95,.95,.95) rotate3d(0,0,1,-10deg)
  }
  30%,50%,70%,90%{
    -webkit-transform:scale3d(1,1,1) rotate3d(0,0,1,10deg);
    transform:scale3d(1,1,1) rotate3d(0,0,1,10deg)
  }
  40%,60%,80%{
    -webkit-transform:rotate3d(0,0,1,-10deg);
    transform:rotate3d(0,0,1,-10deg)
  }
  to{
    -webkit-transform:scale3d(1,1,1);
    transform:scale3d(1,1,1)
  }
}

// bounceInLeft
@-webkit-keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0) scaleX(3);
    transform: translate3d(-3000px, 0, 0) scaleX(3);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0) scaleX(1);
    transform: translate3d(25px, 0, 0) scaleX(1);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0) scaleX(0.98);
    transform: translate3d(-10px, 0, 0) scaleX(0.98);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0) scaleX(0.995);
    transform: translate3d(5px, 0, 0) scaleX(0.995);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0) scaleX(3);
    transform: translate3d(-3000px, 0, 0) scaleX(3);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0) scaleX(1);
    transform: translate3d(25px, 0, 0) scaleX(1);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0) scaleX(0.98);
    transform: translate3d(-10px, 0, 0) scaleX(0.98);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0) scaleX(0.995);
    transform: translate3d(5px, 0, 0) scaleX(0.995);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


@-webkit-keyframes wobble {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes wobble {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* Back entrances */
@-webkit-keyframes backInDown {
  0% {
    -webkit-transform: translateY(-1200px) scale(0.7);
    transform: translateY(-1200px) scale(0.7);
    opacity: 0.7;
  }

  80% {
    -webkit-transform: translateY(0px) scale(0.7);
    transform: translateY(0px) scale(0.7);
    opacity: 0.7;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes backInDown {
  0% {
    -webkit-transform: translateY(-1200px) scale(0.7);
    transform: translateY(-1200px) scale(0.7);
    opacity: 0.7;
  }

  80% {
    -webkit-transform: translateY(0px) scale(0.7);
    transform: translateY(0px) scale(0.7);
    opacity: 0.7;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
.animate__backInDown {
  -webkit-animation-name: backInDown;
  animation-name: backInDown;
}


/* Sliding entrances */
@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate__slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

