
@charset "UTF-8";
// Mixins
// --------------------------------------------------

// Utilities
@import "mixins/opacity";
@import "mixins/tab-focus";
@import "mixins/vendor-prefixes";

// Components
@import "mixins/buttons";
@import "mixins/pagination";
@import "mixins/forms";

// Skins
@import "mixins/border-radius";

// Layout
@import "mixins/clearfix";
@import "mixins/center-block";
@import "mixins/grid-framework";
@import "mixins/grid";






/// Mixin to prefix a property
@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  // Output standard non-prefixed declaration
  #{$property}: $value;
}

// font-family
@mixin font-family($fontFam) {
  font-family: $fontFam;
}

// content value init
@mixin content-val($content) {
  display:inline-block;
  content: $content;
}

// float clear both
@mixin clear_fix {
  &:after{
    display: block;
    content:"";
    clear:both;
  }
}

// placeholder
@mixin placeholder(){
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder{
    @content
  }
  input:-moz-placeholder,
  textarea:-moz-placeholder {
    @content
  }
  input::-moz-placeholder,
  textarea::-moz-placeholder{
    @content
  }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder{
    @content
  }
  input::placeholder,
  textarea::placeholder{
    @content
  }
}

// for placeholder
@mixin placeholder(){
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder{
    @content
  }
  input:-moz-placeholder,
  textarea:-moz-placeholder {
    @content
  }
  input::-moz-placeholder,
  textarea::-moz-placeholder{
    @content
  }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder{
    @content
  }
  input::placeholder,
  textarea::placeholder{
    @content
  }
}

