@charset "UTF-8";

/* Noto Sans KR (korean) http://www.google.com/../fonts/earlyaccess */
 
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/NotoSansKR-Thin.woff2) format('woff2'),
         url(../fonts/NotoSansKR-Thin.woff) format('woff'),
         url(../fonts/NotoSansKR-Thin.otf) format('opentype');
  }
  @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/NotoSansKR-Light.woff2) format('woff2'),
         url(../fonts/NotoSansKR-Light.woff) format('woff'),
         url(../fonts/NotoSansKR-Light.otf) format('opentype');
  }
  @font-face {
     font-family: 'Noto Sans KR';
     font-style: normal;
     font-weight: 400;
     src: url(../fonts/NotoSansKR-Regular.woff2) format('woff2'),
          url(../fonts/NotoSansKR-Regular.woff) format('woff'),
          url(../fonts/NotoSansKR-Regular.otf) format('opentype');
   }
  @font-face {
     font-family: 'Noto Sans KR';
     font-style: normal;
     font-weight: 500;
     src: url(../fonts/NotoSansKR-Medium.woff2) format('woff2'),
          url(../fonts/NotoSansKR-Medium.woff) format('woff'),
          url(../fonts/NotoSansKR-Medium.otf) format('opentype');
   }
  @font-face {
     font-family: 'Noto Sans KR';
     font-style: normal;
     font-weight: 700;
     src: url(../fonts/NotoSansKR-Bold.woff2) format('woff2'),
          url(../fonts/NotoSansKR-Bold.woff) format('woff'),
          url(../fonts/NotoSansKR-Bold.otf) format('opentype');
   }
  @font-face {
     font-family: 'Noto Sans KR';
     font-style: normal;
     font-weight: 900;
     src: url(../fonts/NotoSansKR-Black.woff2) format('woff2'),
          url(../fonts/NotoSansKR-Black.woff) format('woff'),
          url(../fonts/NotoSansKR-Black.otf) format('opentype');
   } 
  

//color
$white: #ffffff !default;
$white-dark: darken($white,2%);
$white-gray: #f5f5f5 !default;

$gray-9: #999999 !default;

$black: #20252b !default;

$base: #656c7f !default;

$blue: #006dff !default;
//$blue-dark: darken($blue,5%);
$blue-dark: #147bba;
$blue-light: #0e97fc;
$blue-a: rgba($blue, 0.15) !default;

$red: #ff2960 !default;

$line: #d5d8db !default;
$line-light: #e1e4e7 !default;

$dis-gray: #a0a9b8 !default;




//animation

$transition-base: all .2s ease-in-out !default;
$transition-fade: opacity .15s linear !default;

%trasform{
    transition: transform .3s;
}
%trasformOn{
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}


//../fontstyle

$font-family: 'Noto Sans KR', Dotum,'돋움',Helvetica,"Apple SD Gothic Neo", sans-serif !default;
$font-icon: FontAwesome;

$font-size-sm: 0.85em !default;
$font-size-base: 1em !default;
$font-size-middle: 1.17em !default;
$font-size-xslg: 1.3em !default;
$font-size-slg: 1.4em !default;
$font-size-lg: 2em !default;
$font-size-xlg: 2.588em !default;

$font-weight-light: 100 !default;
$font-weight-base: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;

$small-font-size: 80% !default;

$normal: normal;

//radius
$radius-50: 50em !default;
%button-radius {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

//shadow
%shadow {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.05);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,.05);
    transition: $transition-base;
}
%shadowBlue {
    box-shadow: 0 4px 8px 0 rgba($blue,.4);
    -webkit-box-shadow: 0 4px 8px 0 rgba($blue,.4);
}
%shadowGray {
    box-shadow: 0 4px 8px 0 rgba($dis-gray,.4);
    -webkit-box-shadow: 0 4px 8px 0 rgba($dis-gray,.4);
}
%shadowOn {
    box-shadow: 0 4px 13px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: 0 4px 13px 0 rgba(0,0,0,.15);
}



//ect

%mp_none{
    margin:0;
    padding:0;
}

%hand{
    cursor: pointer;
}

%box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

%top50 {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

%left50 {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

%group {
    zoom: 1;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

%table{
    display: table;
    width: 100%;
}

%cell{
    display: table-cell;
    vertical-align: middle;
}