@charset "UTF-8";
/* Noto Sans KR (korean) http://www.google.com/../fonts/earlyaccess */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/NotoSansKR-Thin.woff2) format("woff2"), url(../fonts/NotoSansKR-Thin.woff) format("woff"), url(../fonts/NotoSansKR-Thin.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/NotoSansKR-Light.woff2) format("woff2"), url(../fonts/NotoSansKR-Light.woff) format("woff"), url(../fonts/NotoSansKR-Light.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NotoSansKR-Regular.woff2) format("woff2"), url(../fonts/NotoSansKR-Regular.woff) format("woff"), url(../fonts/NotoSansKR-Regular.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/NotoSansKR-Medium.woff2) format("woff2"), url(../fonts/NotoSansKR-Medium.woff) format("woff"), url(../fonts/NotoSansKR-Medium.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NotoSansKR-Bold.woff2) format("woff2"), url(../fonts/NotoSansKR-Bold.woff) format("woff"), url(../fonts/NotoSansKR-Bold.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/NotoSansKR-Black.woff2) format("woff2"), url(../fonts/NotoSansKR-Black.woff) format("woff"), url(../fonts/NotoSansKR-Black.otf) format("opentype"); }
.sec6 .linkBtn dl, .downBtn {
  transition: transform .3s; }

.sec6 .linkBtn dl.btnGoogle:hover, .sec6 .linkBtn dl.btnGoogle:active, .sec6 .linkBtn dl.btnGoogle:focus, .downBtn:hover, .downBtn:active, .downBtn:focus {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px); }

.sm_btn, .md_btn, .big_btn, .r-tabs-nav, .sec2 .infoBox li dl, .sec5 .logoBox, .sec6 .linkBtn dl, .emStep {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px; }

.lgray, .sec6 .linkBtn dl, .downBtn {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in-out; }

.bblue {
  box-shadow: 0 4px 8px 0 rgba(0, 109, 255, 0.4);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 109, 255, 0.4); }

.disabled {
  box-shadow: 0 4px 8px 0 rgba(160, 169, 184, 0.4);
  -webkit-box-shadow: 0 4px 8px 0 rgba(160, 169, 184, 0.4); }

.btn.lgray:hover, .btn.lgray:active, .btn.lgray:focus, .sec6 .linkBtn dl.btnGoogle:hover, .sec6 .linkBtn dl.btnGoogle:active, .sec6 .linkBtn dl.btnGoogle:focus, .downBtn:hover, .downBtn:active, .downBtn:focus {
  box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.15); }

.sm_btn, .md_btn, .big_btn {
  margin: 0;
  padding: 0; }

select, .sm_btn, .md_btn, .big_btn, .r-tabs-nav li, .sec6 .linkBtn dl.btnGoogle:hover, .sec6 .linkBtn dl.btnGoogle:active, .sec6 .linkBtn dl.btnGoogle:focus, .downBtn:hover, .downBtn:active, .downBtn:focus {
  cursor: pointer; }

input, select, textarea, button, body, *, .sm_btn, .md_btn, .big_btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.selectWrap:after, .r-tabs-accordion-title:after, .sec6 .linkBtn dl::before {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.sec6 .linkBtn li .btnTag, .emStep {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

#header .gnb, #footer li, .container, .sec6 .linkBtn, .itemBoxWrap {
  zoom: 1; }
  #header .gnb:before, #footer li:before, .container:before, .sec6 .linkBtn:before, .itemBoxWrap:before, #header .gnb:after, #footer li:after, .container:after, .sec6 .linkBtn:after, .itemBoxWrap:after {
    content: "";
    display: table; }
  #header .gnb:after, #footer li:after, .container:after, .sec6 .linkBtn:after, .itemBoxWrap:after {
    clear: both; }

.r-tabs-nav, .section .container, .sec2 .infoBox, .sec5 .logoBox, .downBtn .btnInn, .itemBox {
  display: table;
  width: 100%; }

.r-tabs-nav li, .section .container .inn, .sec2 .infoBox li, .sec5 .logoBox li, .downBtn .btnInn dl, .itemBox .item {
  display: table-cell;
  vertical-align: middle; }

.ie9 {
  display: none \9 !important; }

.ie9_view {
  display: none; }

.ie9_view {
  display: block \9 !important; }

/* ----------------------------------------------------------------
 color
 -----------------------------------------------------------------*/
.cblue {
  color: #006dff !important; }

.lgray {
  border-color: #ffffff !important;
  background: #ffffff !important;
  color: #20252b !important; }

.bblue {
  border-color: #006dff !important;
  background: #006dff !important;
  color: #ffffff !important; }

.disabled {
  border-color: #a0a9b8 !important;
  background: #a0a9b8 !important;
  color: #ffffff !important;
  pointer-events: none !important; }

.btn.bblue:hover, .btn.bblue:active, .btn.bblue:focus {
  box-shadow: 0 1px 10px 0px #006dff;
  background-color: #147bba !important;
  border-color: #147bba !important; }
.btn.lgray:hover, .btn.lgray:active, .btn.lgray:focus {
  background-color: #fafafa !important;
  border-color: #fafafa !important; }

/* ----------------------------------------------------------------
 Helper Classes
 -----------------------------------------------------------------*/
.pull-left {
  float: left !important; }

.pull-right {
  float: right !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.vm {
  vertical-align: middle; }

.clearFix {
  clear: both; }

.group {
  zoom: 1; }
  .group:before, .group:after {
    content: "";
    display: table; }
  .group:after {
    clear: both; }

.hand {
  cursor: pointer; }

.rd50 {
  border-radius: 50em;
  padding-right: 1em;
  padding-left: 1em; }

.fade.in {
  opacity: 1; }

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear; }

/* ----------------------------------------------------------------
 margin padding
 -----------------------------------------------------------------*/
.mp_none, *, html, body, div, span, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, blockquote, p, address, pre, cite, form, fieldset, input, textarea, select, table, th, td, header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {
  margin: 0px;
  padding: 0px; }

.mg10 {
  margin: 10px 0px; }

.mgt0 {
  margin-top: 0px !important; }

.mgt5 {
  margin-top: 5px !important; }

.mgt10 {
  margin-top: 10px !important; }

.mgt15 {
  margin-top: 15px !important; }

.mgt20 {
  margin-top: 20px !important; }

.mgt30 {
  margin-top: 30px !important; }

.mgt40 {
  margin-top: 40px !important; }

.mgt60 {
  margin-top: 60px !important; }

.mgt70 {
  margin-top: 70px !important; }

.mgt80 {
  margin-top: 80px !important; }

.mgb0 {
  margin-bottom: 0px !important; }

.mgb5 {
  margin-bottom: 5px !important; }

.mgb10 {
  margin-bottom: 10px !important; }

.mgb20 {
  margin-bottom: 20px !important; }

.mgl10 {
  margin-left: 10px !important; }

.mgl20 {
  margin-left: 20px !important; }

.mgr10 {
  margin-right: 10px !important; }

/* ----------------------------------------------------------------
 Reset
 -----------------------------------------------------------------*/
* {
  outline: none !important; }

@media (min-width: 578px) {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {
  display: block; }

fieldset, img, abbr, acronym {
  border: 0px; }

ol, ul, li {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

table {
  border-collapse: collapse;
  border-spacing: 0px;
  border: 0px; }

address, caption, strong, em, cite {
  font-weight: 400;
  font-style: normal; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

legend, caption {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0; }

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

a {
  color: #656c7f;
  outline: none !important;
  text-decoration: none !important; }

button {
  border: 0px; }

input, select, textarea, button, textarea {
  outline: none !important;
  font-family: "Noto Sans KR", Dotum, "돋움", Helvetica, "Apple SD Gothic Neo", sans-serif;
  -webkit-appearance: none;
  -webkit-border-radius: 0; }

small {
  font-weight: normal;
  font-size: 0.85rem; }

input + label, input + small {
  margin-left: 3px; }

select {
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 8px;
  font-size: 1em; }

select::-ms-expand {
  display: none; }

.selectWrap {
  position: relative; }

.selectWrap:after {
  font-family: "xeicon";
  position: absolute;
  top: 50%;
  right: 8px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: '\e913';
  font-size: 15px;
  color: #a6a6a6;
  /*pointer-events: none;*/ }

/* ----------------------------------------------------------------
 keyframes
 -----------------------------------------------------------------*/
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes mover {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-20px); } }
@keyframes mover {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-20px); } }
/* ----------------------------------------------------------------
 tab
 -----------------------------------------------------------------*/
.tab-content > .tab-pane {
  display: none; }
.tab-content > .active {
  display: block; }

/*------------------------------------------------------------------
 collapse
 -----------------------------------------------------------------*/
.collapse {
  display: none; }
  .collapse.in {
    display: block; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden; }

.display_none {
  display: none;
  -webkit-animation: fadeOut 1s;
  animation: fadeOut 1s; }

/*------------------------------------------------------------------
input
 -----------------------------------------------------------------*/
/* IE9 이하를 위한 css */
.placeholder {
  color: #999999; }

/* IE10 이상을 위한 css */
input::placeholder {
  color: #999999;
  opacity: 1;
  /* 파이어폭스에서 뿌옇게 나오는 현상을 방지하기 위한 css */ }

input::-webkit-input-placeholder {
  color: #999999; }

/* IE */
input:-ms-input-placeholder {
  color: #999999; }

/* Firefox */
input:-mos-input-placeholder {
  color: #999999; }

/* input 기본 스타일 초기화 */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  outline: none; }

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear {
  display: none; }

/* input type number 에서 화살표 제거 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/* Select box 스타일 초기화 */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: none;
  background-image: none; }

/* IE 에서 Select box 화살표 제거 */
select::-ms-expand {
  display: none; }

.selSpan:after {
  display: none \9 !important; }

.selSpan select {
  appearance: default \9; }

select {
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: none;
  padding: 0 !important;
  margin: 0 !important; }

.selSpan {
  position: relative;
  display: block;
  height: 30px;
  cursor: pointer; }

.selSpan:after {
  position: absolute;
  top: 50%;
  right: 8px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: '';
  background: url(../images/udpay/icon-arrow-down.png) no-repeat;
  background-size: 13px 8px;
  width: 13px;
  height: 8px; }

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input[type=number] {
  -moz-appearance: textfield; }

.intSpan {
  position: relative;
  height: 30px;
  display: block; }

.int {
  background: transparent;
  width: 100%;
  position: relative;
  height: 30px;
  padding: 0px;
  border-bottom: 1px solid #e1e4e7;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out; }

.intSel {
  background: transparent;
  width: 100%;
  height: 30px;
  padding: 0px;
  border-bottom: 1px solid #e1e4e7;
  box-sizing: border-box !important; }

.intWon {
  width: calc(100% - 20px); }

.intSpan .int:focus {
  border: 0px;
  color: #006dff; }

.intSpan:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 1px;
  opacity: 0;
  width: 0%;
  background: #006dff;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out; }

.intSpan.focus:after {
  width: 100%;
  opacity: 1; }

input[type="checkbox"], input[type="radio"] {
  padding: 0;
  margin: 0;
  vertical-align: middle;
  *overflow: hidden;
  -webkit-appearance: none;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  border: 0;
  background: 0;
  opacity: 0;
  cursor: pointer;
  width: 20px;
  height: 20px; }

input[type="checkbox"] + label, input[type="radio"] + label {
  padding-left: 25px;
  margin-right: 25px;
  display: block;
  cursor: pointer; }

.input_chk {
  position: relative;
  display: inline-block;
  height: 20px;
  line-height: 20px; }

.input_chk input[type="checkbox"] + label:before, .input_chk input[type="radio"] + label:before, .input_chk span + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  display: inline-block;
  color: transparent;
  overflow: hidden;
  white-space: nowrap;
  background: url(../images/udpay/check-set.png) no-repeat;
  background-size: 40px 20px;
  cursor: pointer; }

.input_chk input[type="checkbox"] + label:before {
  background-position: 0px 0px; }

.input_chk input[type="checkbox"]:checked + label:before {
  background-position: 0px 0px;
  background: url(../images/udpay/check-set-on.png) no-repeat;
  background-size: 40px 20px; }

.input_chk input[type="radio"] + label:before {
  background-position: -20px 0; }

.input_chk input[type="radio"]:checked + label:before {
  background-position: -20px 0;
  background: url(../images/udpay/check-set-on.png) no-repeat;
  background-size: 40px 20px; }

/* ----------------------------------------------------------------
 default Styling
 -----------------------------------------------------------------*/
html {
  overflow-x: hidden;
  scroll-behavior: smooth; }

body {
  font-family: "Noto Sans KR", Dotum, "돋움", Helvetica, "Apple SD Gothic Neo", sans-serif;
  line-height: 1.6em;
  letter-spacing: -0.55px;
  word-spacing: -0.5px;
  color: #656c7f;
  -webkit-overflow-scrolling: touch;
  padding-top: 1px;
  margin-top: -1px;
  font-weight: 300;
  font-size: 15px; }

.us {
  letter-spacing: 1px; }

input,
select,
textarea,
button,
textarea {
  font-family: "Noto Sans KR", Dotum, "돋움", Helvetica, "Apple SD Gothic Neo", sans-serif; }

input[type="text"] {
  padding: 10px;
  border-bottom: 1px solid #d5d8db;
  background: #ffffff; }

/* ----------------------------------------------------------------
 layout
 -----------------------------------------------------------------*/
html,
body {
  width: 100%;
  height: 100%; }

.sm_btn, .md_btn, .big_btn {
  font-weight: 700;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  text-decoration: none !important;
  width: 100%; }
  .sm_btn:hover, .sm_btn:focus, .sm_btn:active, .md_btn:hover, .md_btn:focus, .md_btn:active, .big_btn:hover, .big_btn:focus, .big_btn:active {
    text-decoration: none !important;
    transition: all .25s ease; }

.sm_btn {
  height: 25px;
  line-height: 24px;
  padding: 0px 8px;
  border-width: 1px;
  border-style: solid;
  font-size: 0.85em;
  min-width: 30px; }

.md_btn {
  height: 38px;
  line-height: 36px;
  padding: 0 15px;
  border-width: 1px;
  border-style: solid;
  min-width: 40px;
  font-size: 0.85em; }

.big_btn {
  height: 55px;
  line-height: 54px;
  padding: 0 18px;
  border-width: 1px;
  border-style: solid;
  font-size: 1em; }

.r-tabs {
  position: relative; }
  .r-tabs .r-tabs-tab {
    display: inline-block;
    position: relative;
    top: 1px; }
  .r-tabs .r-tabs-panel {
    display: none; }
    .r-tabs .r-tabs-panel.r-tabs-state-active {
      display: block;
      -webkit-animation: fadeIn 1s;
      animation: fadeIn 1s; }
  .r-tabs .r-tabs-accordion-title {
    display: none; }

/* Accordion responsive breakpoint */
@media only screen and (max-width: 800px) {
  .r-tabs .r-tabs-nav {
    display: none; }
  .r-tabs .r-tabs-accordion-title {
    display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s; }

  .tabWrap {
    margin: 0 3vw; }

  .r-tabs-panel {
    padding: 2%; }

  .itemBox {
    display: block;
    zoom: 1; }
    .itemBox:before, .itemBox:after {
      content: "";
      display: table; }
    .itemBox:after {
      clear: both; }
    .itemBox .item {
      display: inline-block;
      float: left;
      width: 50% !important;
      padding: 2% !important; }
    .itemBox .imgInfo {
      font-size: 0.85em; }

  .itemBoxWrap .itemBox {
    float: inherit !important;
    width: 100% !important; }
    .itemBoxWrap .itemBox .emStep {
      width: 230px; }

  .emStep {
    font-size: 0.85em; } }
.r-tabs-nav {
  width: 100%;
  background: #f5f5f5;
  margin-bottom: 5%; }
  .r-tabs-nav li {
    text-align: center;
    width: 19.8%;
    position: relative;
    vertical-align: middle;
    font-size: 1.17em; }
    .r-tabs-nav li.r-tabs-state-active:after {
      width: 100%;
      height: 3px;
      background: #006dff;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      content: '';
      display: inline-block; }
  .r-tabs-nav .r-tabs-anchor {
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px; }
  .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
    position: relative;
    color: #006dff;
    font-weight: 400; }

.r-tabs-accordion-title {
  position: relative; }
  .r-tabs-accordion-title:after {
    font-family: "xeicon";
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    content: '\e941';
    font-size: 15px;
    color: #a6a6a6; }
  .r-tabs-accordion-title .r-tabs-anchor {
    background-color: #ffffff;
    color: #006dff;
    font-weight: 700;
    display: block;
    padding: 10px;
    border: 1px solid #e1e4e7;
    margin-bottom: -1px; }
  .r-tabs-accordion-title.r-tabs-state-active:after {
    color: #ffffff;
    content: '\e944'; }
  .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
    background-color: #006dff;
    color: #ffffff;
    border-color: #006dff; }

#header {
  background-color: #ffffff;
  border-bottom: 1px solid #e1e4e7;
  height: 60px;
  line-height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10; }
  #header .logo {
    float: left; }
    #header .logo img {
      max-width: 100px;
      position: relative;
      top: -4px; }
  #header .gnb {
    float: right; }
    #header .gnb li {
      float: left;
      margin-left: 3vw;
      position: relative; }
      #header .gnb li:first-child {
        margin-left: 0px; }
      #header .gnb li.on a {
        color: #006dff;
        font-weight: 400; }
      #header .gnb li.on:after {
        width: 100%;
        height: 3px;
        background: #006dff;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        content: '';
        display: inline-block; }
  #header a {
    font-size: 1em;
    display: block;
    width: 100%;
    height: 100%;
    position: relative; }

#footer {
  background: #20252b;
  color: #ffffff; }
  #footer li {
    padding: 0.7% 0; }
    #footer li:last-child {
      padding: 1% 0; }
    #footer li:first-child {
      border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
      #footer li:first-child a {
        color: #ffffff;
        margin: 0 0.5vw; }
    #footer li .linkText a:first-child {
      margin-left: 0px; }
    #footer li .linkText, #footer li .add {
      float: left; }
    #footer li .linkSel, #footer li .call {
      float: right; }
  #footer .call {
    padding-left: 60px;
    background: url(../images/udcheck/icon_call.png) no-repeat left 5px; }
    #footer .call h2 {
      letter-spacing: 0.1vw;
      font-weight: 700; }
    #footer .call h3 {
      font-size: 0.85em;
      letter-spacing: 0;
      opacity: 0.8; }
  #footer .familysite {
    float: right; }
  #footer .add {
    font-size: 0.85em;
    color: rgba(255, 255, 255, 0.9);
    line-height: 1.5em; }
    #footer .add span {
      margin: 0 0.3vw;
      letter-spacing: 0; }
  #footer .copy {
    letter-spacing: 0; }
  #footer .selectBox {
    padding: 3px 6px;
    min-width: 200px;
    color: #ffffff; }
  #footer .selectWrap:after {
    color: #ffffff; }
  #footer option {
    padding: 0 3px;
    color: #20252b; }

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  min-width: 320px; }

.section .ttBox h2 {
  font-size: 2.588em;
  line-height: 1.4em;
  color: #20252b;
  letter-spacing: -0.2vw; }
.section .ttBox h3 {
  margin-top: 2%;
  font-size: 1.4em;
  letter-spacing: -0.1vw;
  word-break: keep-all; }
.section .container {
  padding: 60px 0; }
  .section .container .inn {
    vertical-align: middle; }

.sec1 {
  background: #f5f5f5; }
  .sec1 .container {
    min-height: 100vh; }
    .sec1 .container .inn {
      vertical-align: top;
      padding-top: 10%; }
  .sec1 .bgImg {
    position: absolute;
    top: 100px;
    right: 0px;
    width: 50vw;
    height: 60vh; }
    .sec1 .bgImg .innImg {
      position: relative; }
      .sec1 .bgImg .innImg li {
        position: absolute; }
      .sec1 .bgImg .innImg .item {
        right: -160px;
        top: 260px; }
      .sec1 .bgImg .innImg .item2 {
        right: 0;
        top: 0; }
      .sec1 .bgImg .innImg .item3 {
        right: 400px;
        top: 400px; }
  .sec1 .ttBoxList {
    margin-top: 6%;
    font-size: 1.4em;
    position: relative; }
    .sec1 .ttBoxList:after {
      content: '';
      display: block;
      width: 1px;
      background-color: #d5d8db;
      position: absolute;
      height: 95%;
      z-index: 1;
      top: 3px;
      left: 12px; }
    .sec1 .ttBoxList li {
      line-height: 26px;
      padding: 1.5% 0;
      z-index: 3;
      position: relative;
      color: #20252b; }
      .sec1 .ttBoxList li:first-child {
        padding-top: 0; }
      .sec1 .ttBoxList li:last-child {
        padding-bottom: 0; }
      .sec1 .ttBoxList li.active {
        color: #0e97fc;
        font-weight: 400; }
        .sec1 .ttBoxList li.active em {
          background-color: #0e97fc;
          -webkit-box-shadow: 6px 6px 12px rgba(0, 109, 255, 0.13);
          box-shadow: 6px 6px 12px rgba(0, 109, 255, 0.12);
          animation: ttStep 2s infinite;
          width: 30px;
          height: 30px;
          line-height: 30px; }
    .sec1 .ttBoxList em {
      display: inline-block;
      width: 26px;
      height: 26px;
      line-height: 26px;
      text-align: center;
      font-size: 14px;
      background-color: #a0a9b8;
      border-radius: 50em;
      color: #ffffff;
      margin-right: 13px;
      transition: all 0.2s ease-in-out; }

@-webkit-keyframes ttStep {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 109, 255, 0.4); }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(0, 109, 255, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 109, 255, 0); } }
@keyframes ttStep {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 109, 255, 0.4);
    box-shadow: 0 0 0 0 rgba(0, 109, 255, 0.4); }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(0, 109, 255, 0);
    box-shadow: 0 0 0 10px rgba(0, 109, 255, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 109, 255, 0);
    box-shadow: 0 0 0 0 rgba(0, 109, 255, 0); } }
.sec2 {
  text-align: center;
  background-color: #147bba; }
  .sec2 .inn {
    padding: 1.5% 0 3% 0; }
  .sec2 .ttBox h2 {
    color: #ffffff; }
  .sec2 .infoBox {
    margin-top: 4%; }
    .sec2 .infoBox li {
      padding: 0 4%;
      width: 33.33%; }
      .sec2 .infoBox li dl {
        background: #ffffff;
        padding: 4.4em 0; }
        .sec2 .infoBox li dl dt {
          margin-bottom: 2.5%; }
          .sec2 .infoBox li dl dt p {
            position: relative;
            width: 70px;
            margin: 0 auto; }
            .sec2 .infoBox li dl dt p label {
              position: absolute;
              right: -30px;
              top: -5px; }
        .sec2 .infoBox li dl dd {
          color: #20252b; }
          .sec2 .infoBox li dl dd p {
            font-size: 1.17em;
            margin-bottom: 0.5%; }
          .sec2 .infoBox li dl dd h3 {
            font-size: 1.4em;
            font-weight: 700; }

.sec3 {
  background-attachment: fixed;
  background-image: url("../images/udcheck/bg_sec3.png");
  background-size: 100%; }
  .sec3 .container {
    padding: 5% 0; }
  .sec3 .ttBox {
    color: #ffffff; }
    .sec3 .ttBox h2 {
      color: #ffffff; }
    .sec3 .ttBox h3 {
      font-size: 1.17em;
      line-height: 1.5em;
      letter-spacing: -0.03vw; }

.sec4 .ttBox {
  text-align: center;
  margin-bottom: 4%; }
.sec4 .container {
  padding: 6% 0; }

.sec5 {
  background-attachment: fixed;
  background-image: url("../images/udcheck/bg_sec5.png");
  background-size: 100%;
  margin-bottom: 3%; }
  .sec5 .container {
    padding: 8vh 0; }
  .sec5 .ttBox {
    text-align: center;
    color: #ffffff; }
    .sec5 .ttBox h2 {
      color: #ffffff; }
    .sec5 .ttBox h3 {
      font-size: 1.17em;
      line-height: 1.5em;
      letter-spacing: -0.03vw;
      margin-top: 1%; }
  .sec5 .logoBox {
    position: absolute;
    bottom: -8vh;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 3;
    background: #ffffff;
    padding: 2.5% 0; }
    .sec5 .logoBox li {
      text-align: center; }

.sec6 {
  text-align: center; }
  .sec6 .inn {
    padding: 5% 0; }
  .sec6 .ttBox {
    margin-bottom: 4%; }
    .sec6 .ttBox img {
      margin-left: 13px; }
    .sec6 .ttBox h2:last-child {
      font-weight: 400; }
  .sec6 .linkBtn {
    margin: 0 auto;
    width: 800px; }
    .sec6 .linkBtn li {
      position: relative;
      padding: 0 3%;
      float: left;
      width: 50%; }
      .sec6 .linkBtn li:first-child dl:before {
        background: url(../images/udcheck/icon_goolge.png) no-repeat left center; }
      .sec6 .linkBtn li:last-child dl:before {
        background: url(../images/udcheck/icon_apple.png) no-repeat left center; }
      .sec6 .linkBtn li .btnTag {
        position: absolute;
        right: 50%;
        top: -10px;
        display: inline-block;
        padding: 3px 13px;
        width: 150px;
        border-radius: 50em;
        background: #147bba;
        color: #ffffff;
        z-index: 1;
        font-size: 0.85em;
        font-weight: 700;
        letter-spacing: 0.5px; }
    .sec6 .linkBtn dl {
      position: relative;
      width: 100%;
      padding: 2em 3.5em;
      background-color: #ffffff;
      text-align: center;
      border: 1px solid #e1e4e7;
      text-align: left; }
      .sec6 .linkBtn dl::before {
        position: absolute;
        content: '';
        width: 46px;
        height: 46px;
        display: inline-block; }
      .sec6 .linkBtn dl.btnApple {
        position: relative;
        opacity: 0.5;
        background-color: #f1f1f1; }
    .sec6 .linkBtn dt, .sec6 .linkBtn dd {
      padding-left: 60px; }
    .sec6 .linkBtn dd {
      margin-top: 0.5%;
      font-size: 1.4em;
      font-weight: 700;
      color: #20252b;
      letter-spacing: 0; }

.downBtn {
  position: fixed;
  z-index: 99;
  bottom: 50px;
  right: 50px;
  width: 120px;
  height: 120px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 1.5em;
  border: 1px solid #e1e4e7;
  animation: iconani 3s 0.3s ease-in-out infinite;
  transform-origin: 50% 50%; }
  .downBtn .btnInn {
    height: 100%; }
    .downBtn .btnInn dl {
      height: 100%;
      vertical-align: middle; }
    .downBtn .btnInn dt img {
      max-width: 40%; }
    .downBtn .btnInn dd {
      font-weight: 400;
      color: #20252b; }
  .downBtn:hover, .downBtn:active, .downBtn:focus {
    animation: inherit; }

@keyframes iconani {
  0% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px); }
  10% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px); }
  20% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px); }
  30% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px); }
  50% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px); }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px); }
  70% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px); }
  80% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px); } }
.itemBox {
  position: relative;
  text-align: center; }
  .itemBox img {
    width: 100%;
    max-width: 280px; }
  .itemBox .item {
    padding: 13px 0.4%;
    padding-bottom: 0;
    vertical-align: top;
    position: relative;
    width: 25%; }
  .itemBox .imgInfo {
    margin: 0 auto;
    margin-top: 2%;
    line-height: 1.5em;
    max-width: 280px;
    text-align: left;
    word-break: keep-all; }
  .itemBox small {
    line-height: 1.4em;
    display: block; }

.emStep {
  position: absolute;
  top: 0px;
  display: inline-block;
  background: rgba(32, 37, 43, 0.97);
  color: #ffffff;
  padding: 0.3em 1.5em;
  z-index: 3;
  text-align: center; }
  .emStep.emStep2 {
    width: calc(50% - 2vw); }

#tab4 .item {
  width: 33.33%; }

.itemBoxWrap .itemBox {
  float: left;
  width: 50%; }
  .itemBoxWrap .itemBox .item {
    width: 50%; }

/*--반응형--*/
@media (max-width: 1400px) {
  .container {
    max-width: 980px;
    padding-left: 3vw;
    padding-right: 3vw; }
    .container .inn {
      padding-left: 3vw;
      padding-right: 3vw; }

  .section .ttBox h2 {
    font-size: 1.4em; }
  .section .ttBox h3 {
    font-size: 1.17em; }
  .section .bgImg img {
    max-width: 400px; }
  .section .bgImg .innImg .item {
    right: -100px;
    top: 210px; }
  .section .bgImg .innImg .item3 {
    right: 295px;
    top: 295px; }
  .section body {
    overflow: hidden; } }
@media (max-width: 1020px) {
  .section .bgImg {
    top: 150px; }
    .section .bgImg img {
      max-width: 330px; }
    .section .bgImg .innImg .item {
      right: -55px;
      top: 210px; }
    .section .bgImg .innImg .item3 {
      right: 250px;
      top: 255px; } }
@media (max-width: 800px) {
  .section .ttBox h2 {
    font-size: 1.4em; }
  .section .ttBox h3 {
    font-size: 1em; }

  .sec1 .ttBoxList {
    font-size: 1.17em; }

  .sec2 .inn {
    padding: 0; }
  .sec2 .infoBox img {
    max-width: 50px; }
  .sec2 .infoBox li {
    margin: 4% 0;
    display: block;
    width: 100%; }
    .sec2 .infoBox li:first-child {
      margin-top: 0; }
    .sec2 .infoBox li:last-child {
      margin-bottom: 0; }
    .sec2 .infoBox li dl {
      padding: 2em 0; } }
@media (max-width: 660px) {
  #header .logo img {
    max-width: 80px; }

  #header a {
    font-size: 0.9em; }

  .section .bgImg {
    top: 300px; }
    .section .bgImg img {
      max-width: 270px; }
    .section .bgImg .innImg .item {
      right: -30px;
      top: 180px; }
    .section .bgImg .innImg .item3 {
      right: 195px;
      top: 195px; }
  .section .logoBox {
    bottom: -12vh;
    padding: 4% 0; }
    .section .logoBox li {
      float: left;
      display: inline-block;
      width: 50%;
      height: 40px;
      line-height: 40px; }
      .section .logoBox li img {
        max-width: 120px; }

  .sec2 .ttBox img {
    max-height: 19px; }
  .sec2 .infoBox img {
    max-width: 40px; }
  .sec2 .infoBox p {
    font-size: 0.85em; }
  .sec2 .infoBox h3 {
    font-size: 1.17em !important; }

  .sec3 {
    background-attachment: inherit; }
    .sec3 .container {
      padding: 8% 0; }
    .sec3 .ttBox h2 {
      font-size: 1.17em; }
    .sec3 .ttBox img {
      max-height: 16px; }
    .sec3 .ttBox h3 {
      font-size: 0.85em;
      opacity: 0.9; }

  .sec4 .imgInfo {
    min-height: 100px; }

  .sec5 {
    background-size: 180%;
    background-position: 60% center;
    background-attachment: inherit; }
    .sec5 .container {
      padding: 0;
      height: 140px; }

  .sec6 .inn {
    padding-top: 10%; }
  .sec6 .ttBox img {
    max-height: 19px;
    margin-left: 6px; }
  .sec6 .linkBtn {
    width: 100%;
    text-align: left; }
    .sec6 .linkBtn dl {
      padding: 1em 1em;
      line-height: 1.2em; }
      .sec6 .linkBtn dl:before {
        background-size: 40% !important; }
    .sec6 .linkBtn dt, .sec6 .linkBtn dd {
      padding-left: 35px; }
    .sec6 .linkBtn dt {
      font-size: 0.85em; }
    .sec6 .linkBtn dd {
      font-size: 1em; }

  #footer {
    font-size: 0.85em; }
    #footer .linkText, #footer .familysite, #footer .add, #footer .call {
      float: inherit !important;
      width: 100%;
      display: block; }
    #footer .call {
      margin-top: 2%; }
    #footer .selectBox {
      min-width: 100%;
      margin: 2% 0  !important;
      border: 1px solid rgba(255, 255, 255, 0.2);
      padding: 1% 2% !important; } }
@media (max-width: 500px) {
  .sec6 .linkBtn li {
    float: inherit;
    width: 100%;
    padding: 0;
    margin: 8% 0; }
    .sec6 .linkBtn li:last-child {
      margin-bottom: 0; } }

/*# sourceMappingURL=style.css.map */
