@charset "UTF-8";
/* Forms */

// Normalize non-controls
//
// Restyle and baseline non-control form elements.

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  // Chrome and Firefox set a `min-width: min-content;` on fieldsets,
  // so we reset that to ensure it behaves more like a standard block element.
  // See https://github.com/twbs/bootstrap/issues/12359.
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: $line-height-computed;
  font-size: ($font-size-base * 1.5);
  line-height: inherit;
  color: $legend-color;
  border: 0;
  border-bottom: 1px solid $legend-border-color;
}

label {
  display: inline-block;
  max-width: 100%; // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
  margin-bottom: 5px;
  font-weight: bold;
}

// Normalize form controls
//
// While most of our form styles require extra classes, some basic normalization
// is required to ensure optimum display with or without those classes to better
// address browser inconsistencies.

// Override content-box in Normalize (* isn't specific enough)
input[type="search"] {
  @include box-sizing(border-box);
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9
; // IE8-9
  line-height: normal;
}

input[type="file"] {
  display: block;
}

// Make range inputs behave like textual form controls
input[type="range"] {
  display: block;
  width: 100%;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: auto;
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  @include tab-focus;
}

// Common form controls
//


// Search inputs in iOS
//
// This overrides the extra rounded corners on search inputs in iOS so that our
// `.form-control` class can properly style them. Note that this cannot simply
// be added to `.form-control` as it's not specific enough. For details, see
// https://github.com/twbs/bootstrap/issues/11586.

input[type="search"] {
  -webkit-appearance: none;
}

// Apply same disabled cursor tweak as for inputs
// Some special care is needed because <label>s don't inherit their parent's `cursor`.
//
// Note: Neither radios nor checkboxes can be readonly.
input[type="radio"],
input[type="checkbox"] {
  &[disabled],
  &.disabled,
  fieldset[disabled] & {
    cursor: $cursor-disabled;
  }
}



// placeholder
.placeholder {
  color: $gray-9 !important;
}

@include placeholder(){
  font-size:13px;
  font-weight: normal;
  color: $gray-9;
  opacity: 1;
}



// for input/select outer
.formEleWrap {
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  display: table;
}

// for input/select title
.label_tit {
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 600;
  color: $th-color;
}



// inputBox
.inputBox {
  width: 100%;
  height: 36px;
  font-size: 14px;
  color: $gray-6;
  background: $white;
  border: 1px solid $line-c;
  input {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: $blue-sub;
  }
  input:disabled {
    background: $line-e;
  }
  // input 2 elements
  &.half {
    display: table-cell;
    width: 250px;
  }
  &.half2 {
    display: table-cell;
    width: 379px;
  }
}

.inputBtnText {
  width: 250px;
  //display: table-cell;
  display: inline-block;
}
.inputBtnWrap {
  //display: table-cell;
  display: inline-block;
  width: 128px;
  text-align: center;
  height: 33px;
  position: relative;
  vertical-align: top;
  padding-left: 10px;
  .inputBtn {
    height: 33px;
    line-height: 31px;
    width: 100%;
    font-weight: 700;
    vertical-align: middle;
    display: inline-block;
    border: 1px solid $line-c;
    position: relative;

    &:hover,
    &:focus,
    &:active{
      @include prefix(box-shadow, inset 0 3px 5px rgba(0,0,0,.105), webkit ms moz o);
      &:after{
        content:"";
        display: block;
        width: 100%;
        height:100%;
        position: absolute;
        top: 0;
        left:0;
        z-index: 0;
        background: rgba(0,0,0,0.08);
        transition: all 0.3s ease;
      }
    }

    i {
      font-weight: 700;
      font-size: 17px;
      position: relative;
      top: 2px;
      transform: rotate(-95deg);
    }
  }
}




// SelectBox
select, input[type="number"], input[type="date"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  //outline: 0;
  //box-shadow: none;
  //border: 0 !important;
  background: none;
  background-image: none;
  color: $blue-sub;
  width:100%;
  max-width:100%;
}

input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 0px;
}
.selectWrap{
  &.half {
    display: table-cell;
    width: 250px;
  }
}
.selectBox {
  position: relative;
  display: block;
  width: 100%;
  height: 34px;
  line-height: 32px;
  background: $white;
  border: 1px solid $line-c;
  overflow: hidden;

  // arrow
  &:after {
    @include font-family(LineAwesome);
    @include content-val("\f110");
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    pointer-events: none;
  }
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 12px;
  font-size: 14px;
  cursor: pointer;
  color: $blue-sub;
  &::-ms-expand {
    display: none;
  }
}
/* for IE8~9 */
.selectBox{
  // for IE8~9
  &:after {
    display: none \9;
  }
  select{
    appearance: default \9;
  }

  // for IE10~11
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    &:after {
      display: inline-block;
    }
    select{
      appearance: none;
    }
  }
  option{
    &[disabled] {
      display: none;
      color:$gray-9 !important;
    }
  }
}

// input_chk, input_radio
input[type="checkbox"], input[type="radio"] {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  vertical-align: middle;
  *overflow: hidden;
  -webkit-appearance: none;
  border: 0;
  background: 0;
  opacity: 0;
  cursor: pointer;

}
.input_chk_wrap{
  &.first{
    margin-top:7px;
  }
}
.section_cont{
  .input_chk_wrap{
    margin-top:20px;
    margin-bottom:10px;
    &.first{
      margin-top:7px;
    }
  }
}
.input_chk,
.input_radio {
  position: relative;
  display: inline-block;
  height: 20px;
  margin-left: 20px;
  line-height: 20px;
  &.first{
    margin-left: 0;
  }
}

.input_chk input[type="checkbox"],
.input_radio input[type="radio"]{
  & + label{
    padding-left: 25px;
    font-size:14px;
    font-weight: 400;
    color: $light-black;
    cursor: pointer;

    &:before{
      display: inline-block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      color: transparent;
      overflow: hidden;
      white-space: nowrap;
      background: url("../images/images.png") no-repeat;
      -webkit-background-size: 300px 300px;
      cursor: pointer;
    }
  }
}

.input_chk{
  input[type="checkbox"]{
    & + label:before{
      background-position: 0 -30px;
    }
    &:checked + label:before {
      background-position: 0 0;
    }
  }
}

.input_radio{
  input[type="radio"]{
    & + label:before{
      background-position: -142px -43px;
    }
    &:checked + label:before {
      background-position: -142px -63px;
    }
  }

  //disabled 추가
  input[type="radio"][disabled]{
    & + label{
      color:$gray-9;
      &:before{
        background-position: -143px -84px;
      }
    }
    &:checked + label{
      color:$gray-9;
      &:before{
        background-position: -143px -105px;
      }
    }
  }
}

.tbList {
  .input_chk input[type="checkbox"] + label,
  .input_radio input[type="radio"] + label {
    padding-left: 18px;
  }
}


// 수량 컨트롤러 추가
.number-group {
  position: relative;
  display: table;
  table-layout: fixed;
  overflow: hidden;
  margin: 0 auto;


  .int {
    width: 100%;
    min-width: 40px;
    height: 36px;
    line-height: 36px;
    border: 1px solid $line-d;
    border-left-width: 0px;
    border-right-width: 0px;
    text-align: center;
    font-weight: bold;
    color: $disabled;
  }

  button {
    min-width: 40px;
    height: 36px;
    padding: 0px !important;
    border-radius:0;
    border-color: $line-d;
    font-size:17px;
    font-weight: bold !important;
    color: $disabled;
  }

  .input-group-btn {
    display: table-cell;
    width: 36px;
    vertical-align: top;
    border-radius: 0;
  }

  &.on {
    .int {
      color: $light-black;
    }
    button {
      color: $light-black;
    }
  }

}

.number-group .int {
  width: 100%;
  min-width: 40px;
  height: 36px;
  line-height: 36px;
  border: 1px solid $line-d;
  border-left-width: 0px;
  border-right-width: 0px;
  text-align: center;
  button {
    width: 100%;
  }
}





/* Buttons */

// Base styles
// --------------------------------------------------
a[class*="btn"],
button[class*="btn"],
a[class*="btn-"],
button[class*="btn"],
label[class*="btn"]{
  position: relative;
  z-index:2;
  overflow: hidden;

  &:hover,
  &:active,
  &:focus{
    //@include prefix(box-shadow, inset 0 3px 5px rgba(0,0,0,.105), webkit ms moz o);
  }
}


.btnArea{
  text-align: center;
  span{
    padding: 0 3px;
    &:first-child{
      padding-left:0;
    }
    &:last-child{
      padding-right:0;
    }
    a,
    button {
      min-width: 120px;
    }
  }

  &.half{
    span{
      display: inline-block;
      float:left;
      padding:0;
      &:first-child{
        width:34%;
      }
      &:last-child{
        width:66%;
      }
    }
    &:after{
      @include clearfix;
    }
  }

}

.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
  font-size: 12px;
  @include user-select(none);
  font-weight: 700;
  background: $white;
  border-radius: 0;


  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      //@include tab-focus;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    //@include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
    @include opacity(.65);
    @include box-shadow(none);
  }

  // [converter] extracted a& to a.btn
}

a.btn {
  &.disabled,
  fieldset[disabled] & {
    pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
  }
}


// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link {
  color: $link-color;
  font-weight: normal;
  border-radius: 0;

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}


// Button Sizes
// --------------------------------------------------

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
  border-radius: 0;
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
  font-size:12px;
  font-weight: 700;
}
.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
}

.rd50{
  border-radius: 50em;
  box-sizing: border-box;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

// Block button
// --------------------------------------------------

.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

// for button layout
.btnWrap{
  position: relative;
  width:100%;
  margin:10px auto 0 auto;
  text-align: center;
  .btn{
    width:125px;
    & + .btn{
      margin-left:13px;
    }
  }
  .btn_search{
    &:before{
      @include font-family(LineAwesome);
      @include content-val('\f2eb');
      display: inline-block;
      margin-right:10px;
      transform: rotate(-90deg);
    }
  }

  //상단 검색폼 버튼 컨트롤
  @at-root .search_filter{
    .btn{
      border-radius: 50em;
      padding:7px 12px;
    }
  }
}


.search_more{
  display:none;
  position: absolute;
  right: 0px;
  bottom:6px;
  font-size:12px;
  color: #8b929e;
  button{
    padding:5px 0;
  }
  i{
    margin-left:5px;
  }
  &.detail{
    display:block;
    transition: 0.15s ease;
  }
  &.basic{
    //display:block;
    transition: 0.15s ease;
  }
}

// for buttons in table tbLIst
.tdBtnWrap{
  .btn{
    display: block;
    width: 100%;
    padding:1px 5px 2px 5px;
    margin-top: 6px;
    border: 1px solid $line-c;
    font-size: $font-size-xs;
    font-weight:400;
    color: $black;
    border-radius:3px;
    &:first-child{
      margin-top:0;
    }
  }
}


//btn color
.blue-sub{
  background: $blue-sub;
  color: $white !important;
}
.bluegrey{
  background: $bluegray;
  color: $white !important;
}
.whitegrey{
  background: $white;
  border:1px solid $line-c;
  color: $blue-sub !important;
}
.lgreen{
  background: $white;
  border:1px solid $green_dark !important;
  color: $green_dark !important;
}
.lgreen2{
  background: $white;
  border:1px solid rgba($green_dark,0.8) !important;
  color: $green_dark !important;
}
.green{
  background: $green;
  border:1px solid $green !important;
  color: $white !important;
}
.whiteblack{
  background: $white;
  border:1px solid $line-c;
  color: #2e2e2e !important;
}
.lblack{
  border: 1px solid rgba($blue-sub,0.3) !important;
}
.lred{
  border: 1px solid rgba($pink,0.5) !important;
}


// 리스트 내 인라인버튼 묶음
.btn-inline-wrap{
  margin-top:10px;
  .btn{
    padding: 3px 10px;
    font-weight: 500;
  }
}


.goodsImg{
  width:80px;
  height:80px;
  border:1px solid $line-d;
  &.onView{
    width:40px;
    height:40px;
  }
}

.qrImg{
  width:80px;
  height:80px;
  border:1px solid $line-d;
}

.textarea_wrap textarea{
  height:100px;
  padding: 13px;
  border: 1px solid #c5c7c8;
}


.browser_search .btn{
  padding: 7px 12px;
  border-radius: 0;
}

.modal{
  .pagination > li:first-child > a, .pagination > li:first-child > span{
    background: $white;
    border-color: $line-c;
    color: $green;
    font-weight: 700 !important;
  }
  .pagination > li:last-child > a, .pagination > li:last-child > span{
    background: $white;
    border-color: $line-c;
    color: $green;
    font-weight: 700 !important;
  }
  .pagination > li:first-child > a i
  .pagination > li:last-child > a i {
    font-weight: 600 !important;
  }
  .pageNav{
    margin-top:0;
    margin-bottom:15px;
  }
}