@charset "UTF-8";
/* Animation
--------------------------*/
.btn-join, .linkBtn dl {
  transition: transform .3s; }

.btn-join:hover, .btn-join:active, .btn-join:focus, .linkBtn dl.btnGoogle:hover, .linkBtn dl.btnGoogle:active, .linkBtn dl.btnGoogle:focus {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px); }

/* font Style
--------------------------*/
.btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

/* Color
--------------------------*/
/* Break-point
--------------------------*/
/* Help extend
--------------------------*/
.btn {
  margin: 0;
  padding: 0; }

select, .btn, .btn-join:hover, .btn-join:active, .btn-join:focus, .linkBtn dl.btnGoogle:hover, .linkBtn dl.btnGoogle:active, .linkBtn dl.btnGoogle:focus {
  cursor: pointer; }

body, *, .btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.selectWrap:after, .linkBtn dl::before {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.container {
  zoom: 1; }
  .container:before, .container:after {
    content: "";
    display: table; }
  .container:after {
    clear: both; }

/* _mixins.scss */
/* _fonts.scss */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/notoSansKR/notoSansKR-Thin.woff2) format("woff2"), url(../fonts/notoSansKR/notoSansKR-Thin.woff) format("woff"), url(../fonts/notoSansKR/notoSansKR-Thin.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/notoSansKR/notoSansKR-Light.woff2) format("woff2"), url(../fonts/notoSansKR/notoSansKR-Light.woff) format("woff"), url(../fonts/notoSansKR/notoSansKR-Light.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/notoSansKR/notoSansKR-Regular.woff2) format("woff2"), url(../fonts/notoSansKR/notoSansKR-Regular.woff) format("woff"), url(../fonts/notoSansKR/notoSansKR-Regular.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/notoSansKR/notoSansKR-Medium.woff2) format("woff2"), url(../fonts/notoSansKR/notoSansKR-Medium.woff) format("woff"), url(../fonts/notoSansKR/notoSansKR-Medium.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/notoSansKR/notoSansKR-Bold.woff2) format("woff2"), url(../fonts/notoSansKR/notoSansKR-Bold.woff) format("woff"), url(../fonts/notoSansKR/notoSansKR-Bold.otf) format("opentype"); }
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/notoSansKR/notoSansKR-Black.woff2) format("woff2"), url(../fonts/notoSansKR/notoSansKR-Black.woff) format("woff"), url(../fonts/notoSansKR/notoSansKR-Black.otf) format("opentype"); }
@font-face {
  font-family: 'GmarketSans';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/gmarketSans/gmarketSansTTFLight.eot");
  src: url("../fonts/gmarketSans/gmarketSansTTFLight.eot?#iefix") format("embedded-opentype"), url("../fonts/gmarketSans/gmarketSansTTFLight.svg#GmarketSansTTFLight") format("svg"), url("../fonts/gmarketSans/gmarketSansTTFLight.woff") format("woff"), url("../fonts/gmarketSans/gmarketSansTTFLight.woff2") format("woff2"); }
@font-face {
  font-family: 'GmarketSans';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/gmarketSans/gmarketSansTTFMedium.eot");
  src: url("../fonts/gmarketSans/gmarketSansTTFMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/gmarketSans/gmarketSansTTFMedium.svg#GmarketSansTTFMedium") format("svg"), url("../fonts/gmarketSans/gmarketSansTTFMedium.woff") format("woff"), url("../fonts/gmarketSans/gmarketSansTTFMedium.woff2") format("woff2"); }
@font-face {
  font-family: 'GmarketSans';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/gmarketSans/gmarketSansTTFBold.eot");
  src: url("../fonts/gmarketSans/gmarketSansTTFBold.eot?#iefix") format("embedded-opentype"), url("../fonts/gmarketSans/gmarketSansTTFBold.svg#GmarketSansTTFBold") format("svg"), url("../fonts/gmarketSans/gmarketSansTTFBold.woff") format("woff"), url("../fonts/gmarketSans/gmarketSansTTFBold.woff2") format("woff2"); }
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url(../fonts/roboto/roboto-Medium.eot);
  src: url(../fonts/roboto/roboto-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/roboto/roboto-Medium.woff2) format("woff2"), url(../fonts/roboto/roboto-Medium.woff) format("woff"), url(../fonts/roboto/roboto-Medium.ttf) format("truetype"); }
/* _reset.scss */
html {
  background: #ffffff !important;
  font-size: 15px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  color: inherit;
  background: #ffffff !important;
  font-family: "Noto Sans KR", Dotum, "돋움", Helvetica, "Apple SD Gothic Neo", sans-serif;
  font-weight: 400;
  line-height: 1.42857143; }

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  border: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, main, nav, section, summary {
  display: block; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, q, s, samp, strike, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  padding: 0;
  /*line-height:1.5;*/
  margin: 0;
  border: 0 none; }

body {
  position: relative;
  word-break: break-all;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

header, h1 {
  font-size: 100%; }

html, body {
  /*height:100%;*/ }

caption, legend {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0; }

caption {
  display: none; }

img {
  vertical-align: top;
  border: none; }

select, input {
  vertical-align: top;
  border: 0px;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none; }

hr {
  display: none;
  border: 0 none; }

ol, ul, ul li {
  padding: 0;
  margin: 0;
  list-style: none; }

dl, dt, dd {
  padding: 0;
  margin: 0; }

em {
  font-style: normal; }

menu li {
  list-style: none; }

address {
  display: inline;
  font-style: normal; }

button {
  cursor: pointer;
  border: 0px;
  border-radius: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

button:active {
  outline: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

input, textarea, keygen, select, button {
  font-family: "Noto Sans KR", Dotum, "돋움", Helvetica, "Apple SD Gothic Neo", sans-serif; }

strong {
  font-weight: 800; }

dfn {
  font-style: normal; }

a {
  color: inherit; }

a, a:hover, a:link, a:visited, a:active, a:focus {
  cursor: pointer;
  text-decoration: none;
  /*color:inherit;*/ }

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

fieldset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

select, input[type=radio], input[type=submit], input[type=search] {
  cursor: pointer;
  border: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

select::-ms-expand {
  display: none; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button, input[type=date]::-webkit-inner-spin-button, input[type=date]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none; }

input[type=date]::-webkit-calendar-picker-indicator {
  z-index: 1;
  color: transparent;
  background: none; }

textarea {
  width: 100%;
  resize: none;
  color: #3c3c3c;
  border: none;
  background: none; }

body, input, textarea, select, button {
  font-family: "Noto Sans KR", Dotum, "돋움", Helvetica, "Apple SD Gothic Neo", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal; }

img {
  height: auto;
  vertical-align: top;
  -ms-interpolation-mode: bicubic; }

small {
  color: inherit;
  font-size: 88%;
  font-weight: 400; }

@media (min-width: 578px) {
  * {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */ }
    *:focus, *:hover, *:active {
      -webkit-user-select: none;
      /* Chrome all / Safari all */
      -moz-user-select: none;
      /* Firefox all */
      -ms-user-select: none;
      /* IE 10+ */
      user-select: none;
      /* Likely future */
      outline: none; } }
.invisible {
  position: absolute !important;
  overflow: hidden !important;
  width: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important; }

.under {
  cursor: pointer;
  text-decoration: underline !important; }
  .under:hover, .under:active, .under:focus {
    text-decoration: underline; }

.del {
  text-decoration: line-through; }

.en {
  letter-spacing: 0 !important; }

.link-hover:hover, .link-hover:focus, .link-hover:active {
  color: #00d593; }

.ie9 {
  display: none \9 !important; }

.ie9_view {
  display: none; }

.ie9_view {
  display: block \9 !important; }

.mgt5 {
  margin-top: 5px; }
.mgt10 {
  margin-top: 10px; }
.mgt15 {
  margin-top: 15px; }
.mgt20 {
  margin-top: 20px; }
.mgt25 {
  margin-top: 25px; }
.mgt30 {
  margin-top: 30px; }
.mgt40 {
  margin-top: 40px !important; }
.mgb15 {
  margin-bottom: 15px !important; }
.mgl-auto {
  margin-left: auto; }
.mgl5 {
  margin-left: 5px !important; }
.mgl10 {
  margin-left: 10px !important; }
.mgl20 {
  margin-left: 20px !important; }
.mgl30 {
  margin-left: 30px !important; }
.mgl40 {
  margin-left: 40px !important; }
.mgl50 {
  margin-left: 50px !important; }

.clearfix:after {
  display: block;
  clear: both;
  content: ""; }

.pull-left {
  float: left !important; }
.pull-right {
  float: right !important; }

.text-left {
  text-align: left !important; }
.text-center {
  text-align: center !important; }
.text-right {
  text-align: right !important; }

.vertical-mid {
  vertical-align: middle !important; }

.hand {
  cursor: pointer; }

select {
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0 8px;
  border: none;
  font-size: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

select::-ms-expand {
  display: none; }

.selectWrap {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%; }

.selectWrap:after {
  position: absolute;
  top: 50%;
  right: 8px;
  display: none \0/IE9;
  content: '\e913';
  /*pointer-events: none;*/
  content: '' \0/IE9;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #a6a6a6;
  font-family: "xeicon";
  font-size: 15px; }

.selectBox {
  min-width: 200px;
  padding: 3px 6px;
  color: #ffffff; }

.selectWrap:after {
  color: #ffffff; }

option {
  padding: 0 3px;
  color: #000000; }

@-webkit-keyframes shadow-pulse1 {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 213, 147, 0.3); }
  100% {
    box-shadow: 0 0 0 12px rgba(0, 213, 147, 0); } }
@-moz-keyframes shadow-pulse1 {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 213, 147, 0.3); }
  100% {
    box-shadow: 0 0 0 12px rgba(0, 213, 147, 0); } }
@-ms-keyframes shadow-pulse1 {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 213, 147, 0.3); }
  100% {
    box-shadow: 0 0 0 12px rgba(0, 213, 147, 0); } }
@keyframes shadow-pulse1 {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 213, 147, 0.3); }
  100% {
    box-shadow: 0 0 0 12px rgba(0, 213, 147, 0); } }
@-webkit-keyframes shadow-sm-pulse1 {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 213, 147, 0.3); }
  100% {
    box-shadow: 0 0 0 5px rgba(0, 213, 147, 0); } }
@-moz-keyframes shadow-sm-pulse1 {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 213, 147, 0.3); }
  100% {
    box-shadow: 0 0 0 5px rgba(0, 213, 147, 0); } }
@-ms-keyframes shadow-sm-pulse1 {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 213, 147, 0.3); }
  100% {
    box-shadow: 0 0 0 5px rgba(0, 213, 147, 0); } }
@keyframes shadow-sm-pulse1 {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 213, 147, 0.3); }
  100% {
    box-shadow: 0 0 0 5px rgba(0, 213, 147, 0); } }
@-webkit-keyframes shadow-pulse2 {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 213, 147, 0.3); }
  100% {
    box-shadow: 0 0 0 12px rgba(0, 213, 147, 0); } }
@-moz-keyframes shadow-pulse2 {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 213, 147, 0.3); }
  100% {
    box-shadow: 0 0 0 12px rgba(0, 213, 147, 0); } }
@-ms-keyframes shadow-pulse2 {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 213, 147, 0.3); }
  100% {
    box-shadow: 0 0 0 12px rgba(0, 213, 147, 0); } }
@keyframes shadow-pulse2 {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 213, 147, 0.3); }
  100% {
    box-shadow: 0 0 0 12px rgba(0, 213, 147, 0); } }
@-webkit-keyframes shadow-pulse3 {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 56, 107, 0.3); }
  100% {
    box-shadow: 0 0 0 12px rgba(255, 56, 107, 0); } }
@-moz-keyframes shadow-pulse3 {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 56, 107, 0.3); }
  100% {
    box-shadow: 0 0 0 12px rgba(255, 56, 107, 0); } }
@-ms-keyframes shadow-pulse3 {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 56, 107, 0.3); }
  100% {
    box-shadow: 0 0 0 12px rgba(255, 56, 107, 0); } }
@keyframes shadow-pulse3 {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 56, 107, 0.3); }
  100% {
    box-shadow: 0 0 0 12px rgba(255, 56, 107, 0); } }
@keyframes spin-inf {
  100% {
    transform: rotate(360deg); } }
@-webkit-keyframes burger-hover {
  0% {
    width: 100%; }
  50% {
    width: 50%; }
  100% {
    width: 100%; } }
@-moz-keyframes burger-hover {
  0% {
    width: 100%; }
  50% {
    width: 50%; }
  100% {
    width: 100%; } }
@-ms-keyframes burger-hover {
  0% {
    width: 100%; }
  50% {
    width: 50%; }
  100% {
    width: 100%; } }
@keyframes burger-hover {
  0% {
    width: 100%; }
  50% {
    width: 50%; }
  100% {
    width: 100%; } }
@-webkit-keyframes icon-ani {
  0% {
    transform: scaleX(1); }
  25% {
    transform: scaleX(0); }
  50% {
    transform: scaleX(1); }
  75% {
    transform: scaleX(0); }
  100% {
    transform: scaleX(1); } }
@-moz-keyframes icon-ani {
  0% {
    transform: scaleX(1); }
  25% {
    transform: scaleX(0); }
  50% {
    transform: scaleX(1); }
  75% {
    transform: scaleX(0); }
  100% {
    transform: scaleX(1); } }
@-ms-keyframes icon-ani {
  0% {
    transform: scaleX(1); }
  25% {
    transform: scaleX(0); }
  50% {
    transform: scaleX(1); }
  75% {
    transform: scaleX(0); }
  100% {
    transform: scaleX(1); } }
@keyframes icon-ani {
  0% {
    transform: scaleX(1); }
  25% {
    transform: scaleX(0); }
  50% {
    transform: scaleX(1); }
  75% {
    transform: scaleX(0); }
  100% {
    transform: scaleX(1); } }
@-webkit-keyframes arrow-icon-ani {
  0% {
    margin-left: 0px; }
  50% {
    margin-left: 7px; }
  100% {
    margin-left: 0px; } }
@-moz-keyframes arrow-icon-ani {
  0% {
    margin-left: 0px; }
  50% {
    margin-left: 7px; }
  100% {
    margin-left: 0px; } }
@-ms-keyframes arrow-icon-ani {
  0% {
    margin-left: 0px; }
  50% {
    margin-left: 7px; }
  100% {
    margin-left: 0px; } }
@keyframes arrow-icon-ani {
  0% {
    margin-left: 0px; }
  50% {
    margin-left: 7px; }
  100% {
    margin-left: 0px; } }
@-webkit-keyframes bg-ani {
  0% {
    background-position: 50% 45%;
    background-size: 100%; }
  50% {
    background-position: 50% 50%;
    background-size: 95%; }
  100% {
    background-position: 50% 45%;
    background-size: 100%; } }
@-moz-keyframes bg-ani {
  0% {
    background-position: 50% 45%;
    background-size: 100%; }
  50% {
    background-position: 50% 50%;
    background-size: 95%; }
  100% {
    background-position: 50% 45%;
    background-size: 100%; } }
@-ms-keyframes bg-ani {
  0% {
    background-position: 50% 45%;
    background-size: 100%; }
  50% {
    background-position: 50% 50%;
    background-size: 95%; }
  100% {
    background-position: 50% 45%;
    background-size: 100%; } }
@keyframes bg-ani {
  0% {
    background-position: 50% 45%;
    background-size: 100%; }
  50% {
    background-position: 50% 50%;
    background-size: 95%; }
  100% {
    background-position: 50% 45%;
    background-size: 100%; } }
@keyframes osc-l {
  0% {
    left: 20%; }
  50% {
    left: 50%; }
  100% {
    left: 20%; } }
@keyframes osc-r {
  0% {
    left: 80%; }
  50% {
    left: 50%; }
  100% {
    left: 80%; } }
@keyframes ripple {
  from {
    transform: scale3d(0.75, 0.75, 1);
    opacity: 1; }
  to {
    transform: scale3d(1.5, 1.5, 1);
    opacity: 0; } }
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    -ms-transform: translate3d(0, 20px, 0);
    -moz-transform: translate3d(0, 20px, 0);
    -o-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0); }
  to {
    transform: none;
    opacity: 1; } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes gradient {
  0% {
    background-position: 0% 0; }
  50% {
    background-position: 100% 0; }
  100% {
    background-position: 0% 0; } }
@keyframes moving {
  0% {
    background-position: top center;
    background-size: 100% 100%; }
  50% {
    background-position: top center;
    background-size: 103% 103%; }
  100% {
    background-position: top center;
    background-size: 100% 100%; } }
@-webkit-keyframes scrolling {
  0% {
    transform: translateX(0%); }
  14% {
    transform: translateX(0%); }
  28% {
    transform: translateX(-25%); }
  42% {
    transform: translateX(-25%); }
  56% {
    transform: translateX(-50%); }
  70% {
    transform: translateX(-50%); }
  84% {
    transform: translateX(-75%); }
  100% {
    transform: translateX(-75%); } }
@-moz-keyframes scrolling {
  0% {
    transform: translateX(0%); }
  14% {
    transform: translateX(0%); }
  28% {
    transform: translateX(-25%); }
  42% {
    transform: translateX(-25%); }
  56% {
    transform: translateX(-50%); }
  70% {
    transform: translateX(-50%); }
  84% {
    transform: translateX(-75%); }
  100% {
    transform: translateX(-75%); } }
@-ms-keyframes scrolling {
  0% {
    transform: translateX(0%); }
  14% {
    transform: translateX(0%); }
  28% {
    transform: translateX(-25%); }
  42% {
    transform: translateX(-25%); }
  56% {
    transform: translateX(-50%); }
  70% {
    transform: translateX(-50%); }
  84% {
    transform: translateX(-75%); }
  100% {
    transform: translateX(-75%); } }
@keyframes scrolling {
  0% {
    transform: translateX(0%); }
  14% {
    transform: translateX(0%); }
  28% {
    transform: translateX(-25%); }
  42% {
    transform: translateX(-25%); }
  56% {
    transform: translateX(-50%); }
  70% {
    transform: translateX(-50%); }
  84% {
    transform: translateX(-75%); }
  100% {
    transform: translateX(-75%); } }
/* _layout.scss */
html {
  overflow-x: hidden !important;
  overflow-y: auto;
  width: 100%;
  min-width: 320px;
  font-size: 13px; }
  @media screen and (min-width: 426px) {
    html {
      font-size: 13.5px; } }
  @media screen and (min-width: 769px) {
    html {
      font-size: 14px; } }
  @media screen and (min-width: 993px) {
    html {
      font-size: 14.5px; } }
  @media screen and (min-width: 1201px) {
    html {
      font-size: 15px; } }

body {
  padding-top: 1px;
  margin-top: -1px;
  letter-spacing: -1px;
  word-spacing: -0.5px;
  color: #3c3c3c;
  font-family: "Noto Sans KR", Dotum, "돋움", Helvetica, "Apple SD Gothic Neo", sans-serif;
  font-weight: 300;
  line-height: 1.468;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

.us {
  letter-spacing: 1px; }

input, select, textarea, button {
  font-family: "Noto Sans KR", Dotum, "돋움", Helvetica, "Apple SD Gothic Neo", sans-serif; }

input[type="text"] {
  padding: 10px;
  background: #ffffff; }

html, body {
  width: 100%;
  height: 100%; }

/* _buttons.scss */
.btn {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  text-decoration: none !important;
  border: 1px solid;
  font-size: inherit;
  line-height: 1; }
  .btn:hover, .btn:focus, .btn:active {
    transition: all .25s ease;
    text-decoration: none !important; }
  .btn i {
    margin-right: 5px;
    vertical-align: middle;
    font-size: 140%; }

.btn-md {
  padding: 11px 1.467rem;
  font-size: 1.133rem; }

.btn-lg {
  padding: 0.8667rem 1.6rem;
  font-size: 1.133rem; }

.btn-login {
  color: #00d593;
  border-color: #00d593;
  background-color: #ffffff; }
  .btn-login {
    position: relative;
    overflow: hidden;
    -webkit-transition: all 175ms ease-out;
    transition: all 175ms ease-out; }
    .btn-login .btn-bg {
      background-color: #00d593; }
    .btn-login:hover .btn-bg {
      -webkit-transform: translateY(0);
      transform: translateY(0); }
    .btn-login:hover .btn-ico {
      color: #ffffff; }

.btn-join {
  -webkit-box-shadow: 0px 3px 12px -1px rgba(220, 223, 225, 0.6);
  -ms-box-shadow: 0px 3px 12px -1px rgba(220, 223, 225, 0.6);
  -moz-box-shadow: 0px 3px 12px -1px rgba(220, 223, 225, 0.6);
  -o-box-shadow: 0px 3px 12px -1px rgba(220, 223, 225, 0.6);
  box-shadow: 0px 3px 12px -1px rgba(220, 223, 225, 0.6);
  position: fixed;
  z-index: 100;
  right: 3.5%;
  bottom: 15px;
  width: 93%;
  height: 47px;
  padding: 10px 1rem;
  margin: 0 auto;
  text-align: center;
  border-width: 3px;
  border-color: #d7d9da;
  border-radius: 11px;
  background-color: #ffffff;
  font-size: 1em;
  font-weight: 700; }
  .btn-join span {
    display: inline-block;
    vertical-align: middle;
    opacity: 0.95;
    color: #253645;
    font-size: 1.067rem; }
    .btn-join span:before {
      display: inline-block;
      margin-right: 8px;
      content: "\ea64";
      vertical-align: text-top;
      color: #00d593;
      font-family: xeicon;
      font-size: 1.667rem; }
  @media screen and (min-width: 769px) {
    .btn-join {
      right: 15px;
      bottom: 15px;
      width: 8rem;
      height: 8rem;
      padding: 1.333rem;
      border-radius: 20px; }
      .btn-join span:before {
        display: block;
        margin-right: 0;
        margin-bottom: 8px;
        font-size: 2.933rem; } }
  @media screen and (min-width: 1201px) {
    .btn-join {
      right: 6vw;
      bottom: 5vh; } }

.btn-down-manual {
  color: #ffffff;
  border-color: #d7d9da; }
  .btn-down-manual {
    position: relative;
    overflow: hidden;
    -webkit-transition: all 175ms ease-out;
    transition: all 175ms ease-out; }
    .btn-down-manual .btn-bg {
      background-color: #ffffff; }
    .btn-down-manual:hover .btn-bg {
      -webkit-transform: translateY(0);
      transform: translateY(0); }
    .btn-down-manual:hover .btn-ico {
      color: #20252b; }

.btn-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  -webkit-transform: translateY(100%);
  transform: translateY(100%); }

.btn-ico {
  position: relative; }

/* _modal.scss */
.popup-layer {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
  opacity: 0; }
  .popup-layer.on {
    z-index: 999;
    opacity: 1; }
  .popup-layer .bg-dim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); }
.popup-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 480px;
  padding: 2.333rem;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px; }
  .popup-wrap .b-close {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    text-indent: -9999px;
    color: #000000;
    border: 0px;
    background: transparent;
    font-size: 1.067rem;
    line-height: 30px; }
    .popup-wrap .b-close:before, .popup-wrap .b-close:after {
      position: absolute;
      top: 5px;
      left: 15px;
      height: 20px;
      content: '';
      border-left: 1px solid #000000; }
    .popup-wrap .b-close:before {
      transform: rotate(-45deg); }
    .popup-wrap .b-close:after {
      transform: rotate(45deg); }
.popup-head {
  position: relative;
  text-align: center; }
  .popup-head .b-close {
    position: absolute;
    top: -25px;
    right: -20px;
    cursor: pointer;
    text-decoration: underline;
    color: #00d593; }
.popup-title {
  color: #000000;
  font-size: 1.267rem;
  font-weight: 700; }
  .popup-title svg, .popup-title span {
    display: inline-block;
    vertical-align: middle; }
  .popup-title svg {
    width: 110px;
    margin-top: -5px;
    vertical-align: middle; }
  .popup-title .logo-svg {
    fill: #00d593;
    fill-rule: evenodd; }
.popup-exp {
  margin-top: 5px;
  color: #999999;
  font-size: 0.9333rem; }
.popup-body {
  padding: 0 1.667rem;
  margin: 1.667rem auto 0 auto; }

.popup-body .hpInput {
  position: relative;
  display: table;
  width: 100%;
  padding: 3px;
  margin-bottom: 3px;
  border: 1px solid #dcdfe1; }
  .popup-body .hpInput .btn {
    display: block;
    padding: 13px;
    text-align: center;
    color: #ffffff;
    background: #00d593; }
  .popup-body .hpInput > span {
    display: table-cell;
    vertical-align: middle; }
    .popup-body .hpInput > span:first-child {
      position: relative;
      width: 70%; }
      .popup-body .hpInput > span:first-child input {
        width: 100%;
        padding: 13px;
        font-size: 14px; }
    .popup-body .hpInput > span:last-child {
      width: 30%; }
      .popup-body .hpInput > span:last-child .btn {
        width: 100%;
        cursor: pointer; }
.popup-body .hpAgree {
  color: #000000;
  font-size: 0.8667rem; }
  .popup-body .hpAgree a {
    margin-left: 6px;
    text-decoration: underline !important;
    color: #999999; }
  .popup-body .hpAgree input,
  .popup-body .hpAgree input + span {
    vertical-align: middle; }
.popup-body .hpInfo {
  margin-top: 1.333rem;
  font-size: 0.8667rem;
  line-height: 1.5; }

/* _pages.scss */
.web {
  display: block; }

.mb {
  display: none; }

@media (max-width: 800px) {
  .web {
    display: none; }

  .mb {
    display: block; } }
#header {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  background-color: #ffffff;
  line-height: 50px; }
  #header:after {
    display: block;
    clear: both;
    content: ""; }
  #header .logo {
    float: left;
    overflow: hidden;
    width: 18px; }
    #header .logo a {
      display: inline-block;
      padding: 5px 0; }
    #header .logo svg {
      width: 103px; }
      #header .logo svg path {
        fill: #00d593;
        fill-rule: evenodd;
        filter: url(#filter1); }
  #header .top-nav {
    float: right; }
    #header .top-nav:after {
      display: block;
      clear: both;
      content: ""; }
  #header .gnb {
    display: inline-block;
    vertical-align: middle; }
    #header .gnb:after {
      display: block;
      clear: both;
      content: ""; }
    #header .gnb li {
      position: relative;
      float: left;
      margin-left: 3vw;
      font-size: 1rem;
      font-weight: 400; }
      #header .gnb li:first-child {
        margin-left: 0; }
      #header .gnb li.on, #header .gnb li:active, #header .gnb li:focus, #header .gnb li:hover {
        font-weight: 500; }
        #header .gnb li.on a, #header .gnb li:active a, #header .gnb li:focus a, #header .gnb li:hover a {
          color: #00d593; }
      #header .gnb li.on a:after {
        width: 100%;
        transition: width 0.2s ease-in-out; }
    #header .gnb a {
      position: relative;
      display: block;
      color: #1e1e1e; }
      #header .gnb a:after {
        position: absolute;
        bottom: 0;
        left: 0;
        display: inline-block;
        width: 0;
        height: 3px;
        content: '';
        transition: width 0.2s ease-in-out;
        background: #00d593; }
    #header .gnb + .btn-login {
      display: none; }
  @media screen and (min-width: 426px) {
    #header .logo, #header .logo svg {
      width: 110px; }
    #header .gnb li {
      font-size: 1.067rem; } }
  @media screen and (min-width: 599px) {
    #header {
      height: 78px;
      padding: 19px 0;
      line-height: inherit; }
      #header .logo {
        width: 134px; }
        #header .logo a {
          padding: 6.5px 0; }
        #header .logo svg {
          width: 134px;
          height: 23px; }
      #header .gnb a {
        padding-bottom: 5px; }
        #header .gnb a:after {
          bottom: -5px;
          content: ''; }
      #header .gnb + .btn-login {
        display: inline-block;
        margin-left: 4vw;
        vertical-align: middle; } }
  @media screen and (min-width: 769px) {
    #header .logo a {
      padding: 8.5px 0; }
    #header .gnb li {
      font-size: 1.133rem; }
    #header .gnb + .btn-login {
      margin-left: 5.667rem; } }

#footer {
  color: #ffffff;
  background: #20252b; }

.footer-menu {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
  .footer-menu .container {
    padding: 0; }
  .footer-menu .terms-link {
    padding: 1rem 1.133rem; }
    .footer-menu .terms-link a {
      display: inline-block;
      width: 33%;
      text-align: center;
      color: #ffffff;
      font-size: 0.9333rem; }
      .footer-menu .terms-link a:hover {
        color: #00d593; }
  .footer-menu .familysite {
    border-top: 1px solid rgba(255, 255, 255, 0.05); }
    .footer-menu .familysite .selectBox {
      width: 100%;
      padding: 0.8rem 1.133rem; }
.footer-address {
  padding: 1rem 0; }
  .footer-address .add, .footer-address .copy {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8667rem; }
  .footer-address .add {
    letter-spacing: -0.5px;
    font-weight: 400; }
    .footer-address .add span {
      margin: 0 4px; }
      .footer-address .add span:first-child {
        margin-left: 0; }
      .footer-address .add span:last-child {
        margin-right: 0; }
  .footer-address .copy {
    margin-top: 7px;
    letter-spacing: 1px;
    font-weight: 100; }
  .footer-address .btn-down-manual {
    width: 100%;
    margin-top: 1rem; }
@media screen and (min-width: 599px) {
  .footer-menu {
    padding: 1.133rem 0; }
    .footer-menu .container {
      padding: 0 20px; }
      .footer-menu .container:after {
        display: block;
        clear: both;
        content: ""; }
    .footer-menu .terms-link {
      float: left;
      padding: 0; }
      .footer-menu .terms-link a {
        width: auto;
        margin: 0 1vw;
        text-align: left;
        font-size: 1rem; }
        .footer-menu .terms-link a:first-child {
          margin-left: 0; }
        .footer-menu .terms-link a:last-child {
          margin-right: 0; }
    .footer-menu .familysite {
      float: right;
      border-top: 0; }
      .footer-menu .familysite .selectBox {
        padding: 0; } }
@media screen and (min-width: 769px) {
  .footer-menu {
    padding: 1.133rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
    .footer-menu .terms-link a {
      margin: 0 1.467rem;
      font-size: 1.067rem; }
  .footer-address .container:after {
    display: block;
    clear: both;
    content: ""; }
  .footer-address .address-wrap {
    float: left;
    width: 65%; }
  .footer-address .btn-down-manual {
    float: right;
    width: 30%;
    margin-top: 0; } }
@media screen and (min-width: 993px) {
  .footer-menu .terms-link a {
    font-size: 1.133rem; }
  .footer-address .address-wrap {
    width: 75%; }
  .footer-address .btn-down-manual {
    width: 24%; } }
@media screen and (min-width: 1201px) {
  .footer-address .address-wrap {
    width: auto; }
  .footer-address .btn-down-manual {
    width: auto;
    margin-top: 7px; } }

.container {
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto; }
  @media screen and (min-width: 1240px) {
    .container {
      padding: 0; }
    .footer-menu .container {
      padding: 0 !important; } }

#content-wrap {
  padding-top: 50px; }
  @media screen and (min-width: 599px) {
    #content-wrap {
      padding-top: 78px; } }
  @media screen and (min-width: 1240px) {
    #content-wrap {
      min-height: 784px; } }

.section {
  padding: 4.333rem 0; }
  .section.align-left {
    text-align: left; }
  .section.align-center {
    text-align: center; }
  .section.section1 {
    padding-top: 0;
    padding-bottom: 0;
    background: #09e291;
    background-position: 0 0; }
    .section.section1 #ddd {
      width: 100%;
      height: 100%;
      padding-top: 75px;
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) 1s;
      background: url("../img/bg_section1.png") no-repeat;
      background-position: top center;
      background-size: cover; }
  .section.section2 {
    background-color: #ffffff; }
  .section.section3 {
    background-color: #f3f6fb; }
  .section.section4 {
    background-color: #ffffff; }
  @media screen and (min-width: 426px) {
    .section.section1 #ddd {
      padding-top: 100px; } }
  @media screen and (min-width: 769px) {
    .section {
      padding: 5.333rem 0; }
      .section.section1 #ddd {
        padding-top: 8rem; } }
  @media screen and (min-width: 993px) {
    .section {
      padding: 6.667rem 0; } }
  @media screen and (min-width: 1201px) {
    .section.section1 {
      animation: gradient 15s ease infinite;
      animation-delay: 2s;
      background: #09e291;
      background: linear-gradient(120deg, #02ed77 0%, #10e79a 13.5%, #13e6bb 32.5%, #15d8d0 44%, #13e6bb 72%, #10e79a 83%, #02ed77 95%);
      background-size: 300% 150%; } }
.section-inner {
  width: 100%;
  max-width: 1210px;
  padding: 0 1.333rem;
  margin: 0 auto; }
.section-header .main-title {
  color: #ffffff;
  font-family: 'GmarketSans'; }
  .section-header .main-title small, .section-header .main-title strong {
    display: block; }
  .section-header .main-title small {
    font-size: 1.667rem; }
  .section-header .main-title .bi-svg {
    width: 215px;
    height: auto; }
  .section-header .main-title strong {
    margin-top: 1.133rem; }
.section-header .title {
  color: #3c3c3c;
  font-family: 'GmarketSans';
  font-weight: 500; }
  .section-header .title.md {
    font-size: 1.6rem; }
  .section-header .title.sm {
    font-size: 1.333rem; }
.section-header .exp {
  width: 95%;
  margin: 0 auto;
  margin-top: 6px;
  word-break: keep-all;
  color: rgba(60, 60, 60, 0.8);
  font-size: 1.133rem;
  font-weight: 400; }
  .section-header .exp br {
    display: none; }
@media screen and (min-width: 426px) {
  .section-header .main-title small {
    font-size: 1.933rem; }
  .section-header .main-title .bi-svg {
    width: 250px; }
  .section-header .title.md {
    font-size: 1.867rem; }
  .section-header .title.sm {
    font-size: 1.533rem; } }
@media screen and (min-width: 769px) {
  .section-header .main-title small {
    font-size: 2.333rem; }
    .section-header .main-title small br {
      display: none; }
  .section-header .main-title .bi-svg {
    width: 310px; }
  .section-header .title.md {
    font-size: 2.333rem; }
  .section-header .title.sm {
    font-size: 1.867rem; }
  .section-header .exp {
    width: 100%;
    font-size: 1.2rem; }
    .section-header .exp br {
      display: block; } }
@media screen and (min-width: 993px) {
  .section-header .title.md {
    font-size: 2.933rem; }
  .section-header .title.sm {
    font-size: 2.2rem; }
  .section-header .exp {
    font-size: 1.4rem; } }
.section-body {
  margin-top: 2.267rem; }
  @media screen and (min-width: 769px) {
    .section-body {
      margin-top: 4rem; } }
.section-row:after {
  display: block;
  clear: both;
  content: ""; }
.section-divider {
  float: left; }
.col-2 .section-divider {
  width: 100%; }
  .col-2 .section-divider:not(:first-child) {
    margin-top: 2.267rem; }
  .col-2 .section-divider .section-body {
    margin-top: 0.8rem; }
  @media screen and (min-width: 769px) {
    .col-2 .section-divider .section-body {
      margin-top: 1.2rem; } }
  @media screen and (min-width: 993px) {
    .col-2 .section-divider:first-child {
      width: 40%; }
    .col-2 .section-divider:last-child {
      width: 60%; }
    .col-2 .section-divider:not(:first-child) {
      margin-top: 0; } }
  @media screen and (min-width: 1201px) {
    .col-2 .section-divider:first-child, .col-2 .section-divider:last-child {
      width: 50%; } }

.section1 .main-title .bi-svg path {
  fill: #ffffff;
  fill-rule: evenodd; }

.app-img {
  position: relative;
  width: 88px;
  height: 163px; }
  .app-img:before {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    background: url("../img/app_frame.png") 0 0 no-repeat;
    background-size: 88px 163px; }
  .app-img-moving {
    position: absolute;
    z-index: 5;
    top: 17px;
    right: 0;
    bottom: 0;
    left: 13.5px;
    overflow: hidden;
    width: 65px;
    height: 133px;
    background-color: #ffffff; }
  .app-img img {
    width: 260px;
    animation: scrolling 8s infinite; }

.webb {
  position: relative;
  width: 320px;
  margin: 0 auto;
  text-align: center; }
  .webb > img {
    width: 100%; }
  .webb .appp {
    position: absolute;
    bottom: 0;
    left: -5vw; }

@media screen and (min-width: 426px) {
  .webb {
    width: 425px; }

  .app-img {
    width: 115px;
    height: 214px; }
    .app-img:before {
      z-index: 10;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url("../img/app_frame.png") 0 0 no-repeat;
      background-size: 115px 214px; }
    .app-img-moving {
      top: 17px;
      right: 0;
      bottom: 0;
      left: 17px;
      width: 87px;
      height: 180px; }
    .app-img img {
      width: 353px; } }
@media screen and (min-width: 769px) {
  .webb {
    width: 739px;
    margin-bottom: -41px; }

  .app-img {
    top: 0;
    left: 0;
    width: 217px;
    height: 404px; }
    .app-img:before {
      background-size: 217px 404px; }
    .app-img-moving {
      position: absolute;
      z-index: 5;
      top: 43px;
      right: 0;
      bottom: 0;
      left: 33px;
      overflow: hidden;
      width: 161px;
      height: 329px;
      background-color: #ffffff; }
    .app-img img {
      width: 644px;
      animation: scrolling 8s infinite; } }
@media screen and (min-width: 1201px) {
  .app-img {
    top: 0;
    left: 1.5vw; } }
.intro-list {
  display: block;
  width: 100%; }
  .intro-list:after {
    display: block;
    clear: both;
    content: ""; }
  .intro-list li {
    position: relative;
    float: left;
    width: 50%;
    padding: 1rem 0.8rem; }
  .intro-list__item {
    text-align: center; }
    .intro-list__item:before {
      display: inline-block;
      width: 5.333rem;
      height: 5.333rem;
      content: "";
      text-align: center;
      color: #ffffff;
      border-radius: 50%;
      background-color: inherit;
      font-family: xeicon;
      font-size: 2.2rem;
      font-weight: 500;
      line-height: 5.333rem; }
    .intro-list__item .intro-title {
      margin-top: 1.267rem;
      word-break: keep-all;
      color: inherit;
      font-size: 1.2rem;
      font-weight: 500; }
    .intro-list__item .intro-exp {
      margin-top: 0.8667rem;
      color: rgba(60, 60, 60, 0.8);
      font-size: 1.067rem;
      font-weight: 400; }
      .intro-list__item .intro-exp br {
        display: none; }
  .intro-list .item1:before {
    content: "\e9a1";
    background-color: #ff386b; }
  .intro-list .item1 .intro-title {
    color: #ff386b; }
  .intro-list .item2:before {
    content: "\ea79";
    background-color: #0698fb; }
  .intro-list .item2 .intro-title {
    color: #0698fb; }
  .intro-list .item3:before {
    content: "\e9c0";
    background-color: #c047da; }
  .intro-list .item3 .intro-title {
    color: #c047da; }
  .intro-list .item4:before {
    background: #00d593 url("../img/logo_ciderpay.png") center 55% no-repeat;
    background-size: 43px 31px; }
  .intro-list .item4 .intro-title {
    color: #00d593; }
  @media screen and (min-width: 426px) {
    .intro-list li {
      padding: 1.2rem 1rem; }
    .intro-list__item:before {
      width: 6rem;
      height: 6rem;
      line-height: 6rem; }
    .intro-list__item .intro-title {
      margin-top: 1.4rem;
      font-size: 1.267rem; }
    .intro-list__item .intro-exp br {
      display: block; }
    .intro-list .item4:before {
      background-size: 55px 39px; } }
  @media screen and (min-width: 769px) {
    .intro-list__item .intro-title {
      font-size: 1.4rem; } }
  @media screen and (min-width: 993px) {
    .intro-list {
      display: table;
      padding-top: 15px; }
      .intro-list li {
        position: relative;
        display: table-cell;
        width: 25%;
        padding: 0 1.667rem;
        vertical-align: top; } }

.flow-list {
  width: 100%; }
  .flow-list li {
    display: inline-block;
    width: 33%;
    padding: 1.2rem 1rem;
    vertical-align: top; }
  .flow-list__item {
    text-align: center; }
    .flow-list__item:before {
      display: inline-block;
      width: 5.333rem;
      height: 5.333rem;
      content: "";
      text-align: center;
      color: #00d593;
      border-radius: 50%;
      background-color: #ffffff;
      font-family: xeicon;
      font-size: 2.2rem;
      font-weight: 500;
      line-height: 5.333rem; }
    .flow-list__item .flow-index {
      margin-top: 1.333rem;
      color: #00d593;
      font-family: 'GmarketSans';
      font-size: 1rem;
      font-weight: 700; }
    .flow-list__item .flow-name {
      margin-top: 0.3333rem;
      color: #3c3c3c;
      font-size: 1.133rem;
      font-weight: 400; }
  .flow-list .step1:before {
    content: "\e9a1"; }
  .flow-list .step2:before {
    content: "\e9a4"; }
  .flow-list .step3:before {
    content: "\e9dc"; }
  .flow-list .step4:before {
    content: "\ea01"; }
  .flow-list .step5:before {
    content: "\e9c0"; }
  @media screen and (min-width: 426px) {
    .flow-list li {
      position: relative; }
      .flow-list li:before {
        position: absolute;
        top: 50%;
        left: 0;
        display: inline-block;
        content: "\e93e";
        transform: translate(-1.067rem, -50%);
        color: #b8c3d6;
        font-family: xeicon;
        font-size: 2.2rem;
        font-weight: 500; }
      .flow-list li:first-child:before {
        display: none;
        content: ""; }
    .flow-list__item:before {
      width: 6rem;
      height: 6rem;
      line-height: 6rem; }
    .flow-list__item .flow-index {
      margin-top: 1.533rem;
      font-size: 1.067rem; }
    .flow-list__item .flow-name {
      margin-top: 0.5333rem;
      font-size: 1.2rem; } }
  @media screen and (min-width: 769px) {
    .flow-list {
      display: table; }
      .flow-list li {
        display: table-cell;
        width: 20%;
        vertical-align: top; }
      .flow-list__item .flow-index {
        font-size: 1.133rem; }
      .flow-list__item .flow-name {
        font-size: 1.4rem; } }

.cs-info {
  font-family: 'GmarketSans'; }
.cs-tel, .cs-hours {
  display: inline-block; }
.cs-tel {
  letter-spacing: 2.7px;
  color: #00d593;
  font-size: 2rem;
  font-weight: 700; }
  .cs-tel:before {
    display: inline-block;
    margin-right: 0.8667rem;
    content: "\ea64";
    vertical-align: sub;
    color: #00d593;
    font-family: xeicon;
    font-size: 2.4rem; }
.cs-hours {
  padding-left: 3.4rem;
  margin-top: 3px;
  font-size: 1rem;
  font-weight: 500; }
@media screen and (min-width: 426px) {
  .cs-tel {
    font-size: 2.467rem; }
    .cs-tel:before {
      margin-right: 1.2rem;
      font-size: 2.933rem; }
  .cs-hours {
    padding-left: 65px;
    font-size: 1rem; } }
@media screen and (min-width: 768px) {
  .cs-tel, .cs-hours {
    display: inline-block;
    vertical-align: middle; } }
@media screen and (min-width: 993px) {
  .cs-tel, .cs-hours {
    display: block; } }

.linkBtn {
  width: 100%; }
  .linkBtn li {
    position: relative; }
    .linkBtn li:not(:first-child) {
      margin-top: 1.867rem; }
    .linkBtn li:first-child dl:before {
      background: url("../img/icon_google.png") no-repeat left center; }
    .linkBtn li:last-child dl:before {
      background: url("../img/icon_apple.png") no-repeat left center; }
    .linkBtn li .btnTag {
      position: absolute;
      z-index: 1;
      top: -10px;
      left: 9%;
      display: inline-block;
      width: 50%;
      padding: 3px 13px;
      letter-spacing: 0.5px;
      color: #ffffff;
      border-radius: 50em;
      background: #0698fb;
      font-size: 0.85em;
      font-weight: 700; }
  .linkBtn dl {
    position: relative;
    width: 100%;
    padding: 1.4rem 2.6rem;
    text-align: left;
    border: 1px solid #dcdfe1;
    border-radius: 10px;
    background-color: #ffffff; }
    .linkBtn dl::before {
      position: absolute;
      display: inline-block;
      width: 46px;
      height: 46px;
      content: ''; }
    .linkBtn dl.btnApple {
      position: relative;
      opacity: 0.5;
      background-color: #f1f1f1; }
  .linkBtn dt, .linkBtn dd {
    padding-left: 60px; }
  .linkBtn dt {
    color: #999999;
    font-size: 1.133rem; }
  .linkBtn dd {
    margin-top: 0.5%;
    color: #3c4b58;
    font-family: 'Roboto';
    font-size: 1.6rem;
    font-weight: 700; }
  @media screen and (min-width: 769px) {
    .linkBtn {
      width: 100%; }
      .linkBtn:after {
        display: block;
        clear: both;
        content: ""; }
      .linkBtn li {
        float: left;
        width: 50%; }
        .linkBtn li:not(:first-child) {
          margin-top: 0; }
        .linkBtn li:first-child {
          padding-right: 3%; }
        .linkBtn li:last-child {
          padding-left: 3%; } }

.terms_wrapper {
  width: 100%;
  height: 100%;
  padding-top: 30px;
  border-top: 1px solid #dcdfe1;
  scroll-behavior: smooth; }
  .terms_wrapper * {
    font-size: 1rem;
    line-height: 2; }
  .terms_wrapper strong {
    font-weight: 400; }
  .terms_wrapper .paragraph_rule {
    margin-bottom: 10px; }
  .terms_wrapper .tit_rule.first {
    margin-top: 0; }
  .terms_wrapper .tit_rule.st {
    margin-bottom: 0;
    color: #2e2e2e;
    font-size: 1.067rem; }
    .terms_wrapper .tit_rule.st .tit_rule {
      margin-top: 0; }
  .terms_wrapper .list_rule.first {
    margin-top: 10px; }
  .terms_wrapper .list_rule.last {
    margin-bottom: 10px; }
  .terms_wrapper .list_case {
    padding-left: 18px; }
  .terms_wrapper .table {
    margin: 10px 0;
    text-align: left;
    color: #666666;
    border: 1px solid #dcdfe1;
    border-collapse: collapse;
    line-height: 1.5; }
    .terms_wrapper .table thead {
      border-right: 1px solid #dcdfe1;
      border-bottom: 1px solid #dcdfe1;
      border-left: 1px solid #dcdfe1;
      background: #f3f6fb; }
      .terms_wrapper .table thead th {
        padding: 5px 10px;
        text-align: left;
        color: #333333;
        font-weight: 500; }
    .terms_wrapper .table tbody th {
      padding: 5px 10px;
      vertical-align: top;
      border-bottom: 1px solid #dcdfe1;
      font-weight: 500; }
    .terms_wrapper .table td {
      padding: 5px 10px;
      vertical-align: top;
      border-bottom: 1px solid #dcdfe1;
      border-left: 1px solid #dcdfe1; }
    .terms_wrapper .table th, .terms_wrapper .table td {
      font-size: 0.9333rem; }

/*# sourceMappingURL=style.css.map */
