<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="initial-scale=0.2, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>Dashboard : 유디페이</title>

    <link rel="shortcut icon" type="image/x-icon" href="./assets/img/favicon.ico">
    <link rel="icon" type="image/png" href="./assets/img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="./assets/img/favicon-16x16.png" sizes="16x16" />

    <!-- based on bootstrap library  -->
    <!--<link rel="stylesheet" type="text/css" href="./assets/scss/bootstrap/bootstrap-reboot.css" media="all"/>-->
    <!--<link rel="stylesheet" type="text/css" href="./assets/scss/bootstrap/bootstrap-grid.css" media="all"/>-->

    <link rel="stylesheet" type="text/css" href="./assets/scss/bootstrap/bootstrap.css" media="all" />
    <link rel="stylesheet" href="./assets/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
    <!--<link rel="stylesheet" href="./assets/css/animate.min.css" />-->
    <link rel="stylesheet" href="./assets/scss/custom/udpay.css" />


    <script type="text/javascript" src="./assets/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="./assets/js/popper.min.js"></script>
    <script type="text/javascript" src="./assets/js/bootstrap.min.js"></script>
</head>
<body>
<div id="app" :class="{ loaded: isLoaded }">
    <div class="skipNav_wrap">
        <a href="#header" class="skipNav">상단메뉴 바로가기</a>
        <a href="#content-wrap" class="skipNav">본문 영역 바로가기</a>
    </div>
    <!--// skipNav_wrap -->
    <header id="site-header">
        <div class="header-area">
            <div class="logo-box">
                <h1><a href="index.html">유디페이 판매점</a></h1>
            </div>
            <!-- //logo-box -->

            <div class="top-navbar">
                <div class="user-menu">
                    <div class="util-item left">
                        <button type="button" class="btn-menu-opener" title="메뉴 여닫기" @click="toggler">
                            <span class="invisible">메뉴 여닫기</span>
                            <span class="btn-menu-opener__inn">
                        <span class="bar top"></span>
                        <span class="bar mid"></span>
                        <span class="bar bottom"></span>
                    </span>
                        </button>
                        <ul class="fee-info">
                            <li><i class="xi-credit-card"></i> <span>카드</span> <em class="label-card">2.7%</em></li>
                            <li><i class="xi-mobile"></i> <span>휴대폰</span> <em class="label-mobile">3.6%</em></li>
                            <li><i class="xi-kakaotalk"></i> <span>카카오</span> <em class="label-kakao">3.6%</em></li>
                            <li><i class="xi-naver-square"></i> <span>네이버</span> <em class="label-naver">3.6%</em></li>
                        </ul>
                    </div>
                    <!-- //util-item.left -->

                    <div class="util-item right">
                        <ul class="option-menu">
                            <li class="hello">
                                <div>
                                    <strong><i class="xi-profile"></i> OnlyShop(onlyshop1234)</strong>님, 안녕하세요.
                                </div>
                            </li>
                            <li class="convert">
                                <button type="button" title="유디페이 API 바로가기">
                          <span class="btn_inn">
                              <span><i class="xi-renew"></i></span>
                              <span class="t">API 바로가기</span>
                          </span>
                                </button>
                            </li>
                            <li class="alarm active">
                                <a href="list_alarm.html">
                                    <i class="la la-bell-o"></i><span class="invisible">알림내역</span>
                                </a>
                            </li>
                            <li class="mypage">
                                <a href="set_mypage.html">
                                    <i class="la la-cog"></i> <span class="invisible">마이페이지</span>
                                </a>
                            </li>
                            <li class="logout">
                                <button type="button" onclick="location.href='login.html'"><i class="la la-sign-out"></i><span class="invisible">로그아웃</span></button>
                            </li>
                        </ul>
                    </div>
                    <!-- //util-item.right -->
                </div>
                <!-- //user-menu -->
            </div>
            <!-- //top-navbar -->
        </div>
    </header>
    <!-- //site-header -->

    <div id="content-wrap">
        <nav id="lnb" class="sidebar" :class="{ show: isActive }">
            <h2 class="invisible">전체메뉴</h2>
            <div class="sidebar-content">
                <!--  ul.el-menu  -->
                <el-menu
                        default-active="1"
                        class="el-menu-vertical"
                        :unique-opened="true"
                        @open="handleOpen"
                        @close="handleClose">
                    <el-menu-item index="1" class="depth1-menu">
                        <i class="xi-dashboard-o depth1-ico"></i>
                        <span>Dashboards</span>
                    </el-menu-item>
                    <el-submenu index="2" class="depth1-menu">
                        <template slot="title">
                            <i class="xi-document depth1-ico"></i>
                            <span>결제요청</span>
                        </template>
                        <el-submenu index="2-1">
                            <template slot="title">원격결제</template>
                            <el-menu-item index="2-1-1"><a href="#none" onclick="location.href='form_payRemote.html'">결제요청</a></el-menu-item>
                            <el-menu-item index="2-1-2"><a href="#none" onclick="location.href='form_payRemote_large.html'">결제요청 (대량)</a></el-menu-item>
                        </el-submenu>
                        <el-menu-item index="2-2"><a href="#none" onclick="location.href='list_payLink.html'">링크결제</a></el-menu-item>
                        <el-submenu index="2-3">
                            <template slot="title">등록결제</template>
                            <el-menu-item index="2-3-1"><a href="#none" onclick="location.href='form_payManual.html'">등록요청</a></el-menu-item>
                            <el-menu-item index="2-3-2"><a href="#none" onclick="location.href='list_payManual.html'">등록내역</a></el-menu-item>
                            <el-menu-item index="2-3-3"><a href="#none" onclick="location.href='form_payManual_large.html'">등록요청 (대량)</a></el-menu-item>
                            <el-menu-item index="2-3-4"><a href="#none" onclick="location.href='form_payManual_reqLarge.html'">결제요청 (대량)</a></el-menu-item>
                            <el-menu-item index="2-3-5"><a href="#none" onclick="location.href='list_statusFinManual.html'" >결제내역</a></el-menu-item>
                        </el-submenu>
                        <el-submenu index="2-4">
                            <template slot="title">정기결제</template>
                            <el-menu-item index="2-4-1"><a href="#none" onclick="location.href='form_payRegular.html'">승인요청</a></el-menu-item>
                            <el-menu-item index="2-4-2"><a href="#none" onclick="location.href='form_payRegular_large.html'">승인요청 (대량)</a></el-menu-item>
                            <el-menu-item index="2-4-2"><a href="#none" onclick="location.href='list_payRegular.html'">승인내역</a></el-menu-item>
                            <el-menu-item index="2-4-2"><a href="#none" onclick="location.href='list_statusFinRegular.html'">결제내역</a></el-menu-item>
                        </el-submenu>
                        <el-menu-item index="2-5"><a href="#none" onclick="location.href='form_payHand.html'">수기결제</a></el-menu-item>
                    </el-submenu>
                    <el-submenu index="3" class="depth1-menu">
                        <template slot="title">
                            <i class="xi-list-dot depth1-ico"></i>
                            <span>결제현황</span>
                        </template>
                        <el-menu-item index="3-1"><a href="#none" onclick="location.href='list_statusFin.html'">완료/취소</a></el-menu-item>
                        <el-menu-item index="3-2"><a href="#none" onclick="location.href='list_payRegular.html'">결제요청</a></el-menu-item>
                        <el-menu-item index="3-3"><a href="#none" onclick="location.href='list_statusCancel.html'">취소요청</a></el-menu-item>
                    </el-submenu>
                    <el-submenu index="4" class="depth1-menu">
                        <template slot="title">
                            <i class="xi-piggy-bank depth1-ico"></i>
                            <span>정산관리</span>
                        </template>
                        <el-menu-item index="4-1"><a href="#none" onclick="location.href='form_adjust.html'">정산안내</a></el-menu-item>
                        <el-menu-item index="4-2"><a href="#none" onclick="location.href='list_adjust.html'">정산내역</a></el-menu-item>
                        <el-menu-item index="4-3"><a href="#none" onclick="location.href='form_adjust_nextDay.html'">익일정산 신청</a></el-menu-item>
                        <el-menu-item index="4-4"><a href="#none" onclick="location.href='list_vat.html'">부가세 자료</a></el-menu-item>
                    </el-submenu>
                    <el-submenu index="5" class="depth1-menu">
                        <template slot="title">
                            <i class="xi-paper-o depth1-ico"></i>
                            <span>현금영수증</span>
                        </template>
                        <el-menu-item index="5-1"><a href="#none" onclick="location.href='list_cashst.html'">현금영수증 내역</a></el-menu-item>
                        <el-menu-item index="5-2"><a href="#none" onclick="location.href='form_cashst.html'">현금영수증 발행</a></el-menu-item>
                    </el-submenu>
                    <el-submenu index="6" class="depth1-menu">
                        <template slot="title">
                            <i class="xi-box depth1-ico"></i>
                            <span>상품관리</span>
                        </template>
                        <el-menu-item index="6-1"><a href="#none" onclick="location.href='list_goods.html'">상품 내역</a></el-menu-item>
                        <el-menu-item index="6-2"><a href="#none" onclick="location.href='form_goods.html'">상품 등록</a></el-menu-item>
                    </el-submenu>
                    <el-submenu index="7" class="depth1-menu">
                        <template slot="title">
                            <i class="xi-profile depth1-ico"></i>
                            <span>부계정 관리</span>
                        </template>
                        <el-submenu index="7-1">
                            <template slot="title">부계정 관리</template>
                            <el-menu-item index="7-1-1"><a href="#none" onclick="location.href='list_subAccount.html'">부계정 내역</a></el-menu-item>
                            <el-menu-item index="7-1-2"><a href="#none" onclick="location.href='form_subAccount.html'">부계정 등록</a></el-menu-item>
                        </el-submenu>
                        <el-menu-item index="7-2"><a href="#none" onclick="location.href='list_sale_subAccount.html'">부계정 매출</a></el-menu-item>
                    </el-submenu>
                    <el-menu-item index="8" class="depth1-menu" onclick="location.href='http://uddocs.net/v/udpay'" target="_blank">
                        <i class="xi-all depth1-ico"></i>
                        <span>API 연동</span>
                    </el-menu-item>
                    <el-submenu index="9" class="depth1-menu">
                        <template slot="title">
                            <i class="xi-cog depth1-ico"></i>
                            <span>설정</span>
                        </template>
                        <el-menu-item index="9-1"><a href="#none" onclick="location.href='set_payment.html'">결제설정</a></el-menu-item>
                        <el-menu-item index="9-2"><a href="#none" onclick="location.href='set_mypage.html'">정보변경</a></el-menu-item>
                        <el-menu-item index="9-3"><a href="#none" onclick="location.href='set_payOption.html'">결제 옵션 설정</a></el-menu-item>
                        <el-menu-item index="9-4"><a href="#none" onclick="location.href='set_adjust.html'">정산 정보</a></el-menu-item>
                    </el-submenu>
                    <el-submenu index="10" class="depth1-menu">
                        <template slot="title">
                            <i class="xi-message-o depth1-ico"></i>
                            <span>고객센터</span>
                        </template>
                        <el-menu-item index="10-1"><a href="#none" onclick="location.href='list_notice.html'">공지사항</a></el-menu-item>
                        <el-menu-item index="10-2"><a href="#none" onclick="location.href='list_faq.html'">자주묻는질문</a></el-menu-item>
                        <el-submenu index="10-3">
                            <template slot="title">고객문의</template>
                            <el-menu-item index="10-3-1"><a href="#none" onclick="location.href='list_qna.html'">문의내역</a></el-menu-item>
                            <el-menu-item index="10-3-2"><a href="#none" onclick="location.href='form_qna.html'">문의하기</a></el-menu-item>
                        </el-submenu>
                    </el-submenu>
                </el-menu>
            </div>
            <!-- //sidebar-content -->

            <div class="cs-info__wrap">
                <div class="cs-info">
                    <p class="cs-tit"><i class="xi-mail-o"></i> <span class="ml-1">세무문의</span></p>
                    <p class="cs-tel">1566-0186</p>
                    <div class="cs-time">
                        <p>
                            <span>평일</span>
                            <span class="ml-1">9:00 ~ 18:00</span>
                        </p>
                        <p>
                            <span>휴무</span>
                            <span class="ml-1">주말, 공휴일 휴무</span>
                        </p>
                    </div>
                </div>
                <div class="cs-info">
                    <p class="cs-tit"><i class="xi-emoticon-happy-o"></i> <span class="ml-1">고객상담문의</span></p>
                    <p class="cs-tel">1544-6893</p>
                    <div class="cs-time">
                        <p>
                            <span>평일</span>
                            <span class="ml-1">9:00 ~ 18:00</span>
                        </p>
                        <p>
                            <span>휴무</span>
                            <span class="ml-1">주말, 공휴일 휴무</span>
                        </p>
                    </div>
                </div>
            </div>
            <!-- //cs-info__wrap -->
        </nav>
        <!-- //sidebar -->
        <section id="content">
            <h2 class="invisible">본문</h2>
            <section id="content-inner">
                <div class="container-fluid page-container">

                    <div class="page-header">
                        <div class="page-title">
                            <h3 class="tt">결제내역</h3>
                        </div>
                        <div class="page-location" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="xi-home-o"></i><span class="invisible">홈</span></a></li>
                                <li class="breadcrumb-item"><a href="#">등록결제</a></li>
                                <li class="breadcrumb-item active" aria-current="page">결제내역</li>
                            </ol>
                        </div>
                    </div>
                    <!-- //page-header -->
                    <div class="row page-body">
                        <div class="col-12 col-md-8 order-2 order-md-1">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-list-head">
                                        <div class="list-total">
                                            총 11건의 내역이 있습니다.
                                        </div>
                                        <div class="btn-ct-top">
                                            <button class="btn btn-sm btn-outline-success btn-ico-hover"><i class="xi-download"></i> 엑셀다운로드</button>
                                        </div>
                                    </div>
                                    <!-- //table-list-head -->
                                    <div class="table-responsive-md">
                                        <table class="table table-hover text-center">
                                            <caption>등록결제를 이용한 결제내역</caption>
                                            <thead class="thead-light">
                                            <tr>
                                                <th scope="col">NO</th>
                                                <th scope="col">결제내역</th>
                                                <th scope="col">결제자정보</th>
                                                <th scope="col">상품정보</th>
                                                <th scope="col">처리일시</th>
                                                <th scope="col">정산정보</th>
                                                <th scope="col" class="list-controller"><span class="invisible">관리</span></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <div class="td-cell">
                                                        2
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="td-cell">
                                                        <dl class="list-data-text block-layout">
                                                            <dt>
                                                                <p class="inline-span-wrap">
                                                    <span>
                                                        <%--<span class="badge badge-primary-light">결제완료</span>--%>
                                                        <span class="badge badge-danger-light">결제취소</span>
                                                    </span>
                                                                    <span>SMS 결제</span>
                                                                </p>
                                                            </dt>
                                                            <dd>
                                                                <p class="inline-span-wrap">
                                                                    <span>현대카드</span>
                                                                    <span> 321234****7878</span>
                                                                </p>
                                                            </dd>
                                                        </dl>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="td-cell">
                                                        <dl class="list-data-text block-layout">
                                                            <dt>
                                                                <p class="inline-span-wrap">
                                                    <span>
                                                        <%--<span class="badge badge-primary-light">주계정</span>--%>
                                                        <span class="badge badge-success-light">부계정</span>
                                                        <%--<span class="badge badge-additional-light">대리결제</span>--%>
                                                    </span>
                                                                    <span>고객번호?</span>
                                                                </p>
                                                            </dt>
                                                            <dd>
                                                                <p class="inline-span-wrap">
                                                                    <span>마동석</span>
                                                                    <span>010-1234-5678</span>
                                                                </p>
                                                            </dd>
                                                        </dl>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="td-cell">
                                                        <dl class="list-data-text block-layout">
                                                            <dt>
                                                                맞춤형 귀걸이 19788
                                                            </dt>
                                                            <dd>
                                                                10,000원
                                                            </dd>
                                                        </dl>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="td-cell">
                                                        <dl class="list-data-text inline-layout stretch">
                                                            <dt>결제완료</dt>
                                                            <dd>19/11/01 15:32:00</dd>
                                                        </dl>
                                                        <dl class="list-data-text inline-layout stretch">
                                                            <dt>취소완료</dt>
                                                            <dd>19/11/01 15:32:00</dd>
                                                        </dl>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="td-cell">
                                                        <dl class="list-data-text block-layout center">
                                                            <dt>
                                                                <span class="badge badge-success-light">정산완료</span>
                                                                <%--<span class="badge badge-info-light">정산대기</span>--%>
                                                            </dt>
                                                            <dd>
                                                                <p><strong>971원</strong></p>
                                                                <p>19/03/23</p>
                                                            </dd>
                                                        </dl>
                                                    </div>
                                                </td>
                                                <td class="list-controller">
                                                    <div class="td-cell">
                                                        <div class="btn-control btn-control-web">
                                                            <button type="button" class="btn btn-block btn-outline-secondary btn-xs">결제정보</button>
                                                            <button type="button" class="btn btn-block btn-outline-secondary btn-xs">영수증</button>
                                                            <button type="button" class="btn btn-block btn-outline-danger btn-xs">취소</button>
                                                            <button type="button" class="btn btn-block btn-outline-additional btn-xs">취소요청</button>
                                                        </div>
                                                        <div class="btn-control btn-control-m">
                                                            <el-dropdown>
                                                                <span class="el-dropdown-link btn-controller"><i class="xi-ellipsis-v"></i></span>
                                                                <el-dropdown-menu slot="dropdown">
                                                                    <el-dropdown-item>결제정보</el-dropdown-item>
                                                                    <el-dropdown-item>영수증</el-dropdown-item>
                                                                    <el-dropdown-item class="text-danger">취소</el-dropdown-item>
                                                                    <el-dropdown-item class="text-additional">취소요청</el-dropdown-item>
                                                                </el-dropdown-menu>
                                                            </el-dropdown>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="none-hover">
                                                <td colspan="7">
                                                    <div class="table-empty__block">
                                                        <div class="empty-info__text">
                                                            <div class="roundbox-wrap roundbox-wrap-md roundbox-secondary-light">
                                                                <svg xmlns="http://www.w3.org/2000/svg" class="roundbox" viewBox="0 0 55 55">
                                                                    <path class="roundbox-shape" d="M49.093,49.094C44.584,53.819,36.041,54.888,27.5,55c-8.542-.112-17.085-1.181-21.594-5.907C1.179,44.585.11,36.042,0,27.5,0.11,18.957,1.179,10.415,5.9,5.906,10.414,1.18,18.956.111,27.5,0,36.041,0.111,44.584,1.18,49.093,5.906,53.819,10.415,54.887,18.957,55,27.5,54.887,36.042,53.819,44.585,49.093,49.094Z"></path>
                                                                </svg>
                                                                <span class="ico"><i class="xi-plus"></i></span>
                                                            </div>
                                                            <p class="empty__info-text">내역이 없습니다.</p>
                                                        </div>
                                                    </div>
                                                    <!-- //el-table__empty-block -->
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- //table-responsive-md -->
                                    <div class="table-list-foot">
                                        <el-pagination
                                                layout="prev, pager, next"
                                                :total="50"
                                                class="list-pager">
                                        </el-pagination>

                                        <div class="list-sort-change">
                                            <%--                            <el-select placeholder="보기 구분" v-model="pageSize" @change="changePageSize" size="medium">--%>
                                            <%--                                <el-option v-for="list in options"--%>
                                                <%--                                           :key="list.value"--%>
                                                <%--                                           :label="list.label"--%>
                                                <%--                                           :value="list.value"></el-option>--%>
                                            <%--                            </el-select>--%>
                                        </div>
                                    </div>
                                    <!-- //table-list-foot -->
                                </div>
                                <!-- //card-body -->
                            </div>
                            <!-- //card -->
                        </div>
                        <!-- 결제정보 간략보기 -->
                        <div class="col-12 col-md-4 order-1 order-md-2">
                            <div class="card card-line">
                                <div class="card-header">
                                    <h4 class="card-title en">결제정보</h4>
                                    <div class="card-actions float-right">
                                        <button type="button" class="card-close">
                                            <i class="xi-close"><span class="invisible">닫기</span></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- //card-header -->
                                <div class="card-body">
                                    <table class="table table-view">
                                        <caption>결제완료의 결제정보</caption>
                                        <colgroup>
                                            <col width="135">
                                            <col>
                                        </colgroup>
                                        <tbody>
                                        <tr>
                                            <th scope="row">
                                                결제구분
                                            </th>
                                            <td>
                                                대면결제
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                결제상품
                                            </th>
                                            <td>
                                                맞춤형 귀걸이 19788
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                결제금액
                                            </th>
                                            <td>
                                                <p class="num-txt">
                                                    <strong>35,000</strong><small>원</small>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                면세
                                            </th>
                                            <td>
                                                35,000원
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                결제수단
                                            </th>
                                            <td>
                                                구인증(카드)
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                결제카드
                                            </th>
                                            <td>
                                                <dl class="list-data-text inline-layout">
                                                    <dt>현대카드</dt>
                                                    <dd>321234****7878</dd>
                                                </dl>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th scope="row">
                                                상태
                                            </th>
                                            <td class="text-danger">
                                                결제취소
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                결제일시
                                            </th>
                                            <td>
                                                <dl class="list-data-text inline-layout">
                                                    <dt>결제요청</dt>
                                                    <dd>19/11/01 15:32:00</dd>
                                                </dl>
                                                <dl class="list-data-text inline-layout">
                                                    <dt>결제완료</dt>
                                                    <dd>19/11/01 15:32:00</dd>
                                                </dl>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                취소일시
                                            </th>
                                            <td>
                                                <dl class="list-data-text inline-layout">
                                                    <dt>취소완료</dt>
                                                    <dd>19/11/01 15:32:00</dd>
                                                </dl>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                결제자
                                            </th>
                                            <td>
                                                주계정
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <div class="btn-ct-bottom block">
                                        <button type="button" class="btn btn-lg btn-more-view rounded-sm">영수증보기</button>
                                        <a href="detail_statusFin.html" class="btn btn-lg btn-outline-primary rounded-sm">상세보기</a>
                                    </div>
                                </div>
                                <!-- //card-body -->
                            </div>
                        </div>
                        <!-- 상세검색창 -->
                        <div class="col-12 col-md-4 order-1 order-md-2">
                            <form action="" method="get">
                                <div class="card card-line">
                                    <div class="card-header">
                                        <div class="card-title__wrap float-left">
                                            <h4 class="card-title en">검색조건 설정</h4>
                                            <button type="reset" class="btn btn-reload btn-outline-primary rounded-circle" title="검색조건 초기화">
                                                <i class="xi-refresh"></i>
                                            </button>
                                        </div>
                                        <div class="card-actions float-right">
                                            <button type="button" class="card-close">
                                                <i class="xi-close"><span class="invisible">닫기</span></i>
                                            </button>
                                        </div>
                                    </div>
                                    <!-- //card-header -->
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label class="form-label" for="state">상태</label>
                                            <select class="form-control custom-select" id="state">
                                                <option selected>전체</option>
                                                <option value="COMPLETE">결제완료</option>
                                                <option value="CANCEL">결제취소</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="keyword">키워드 검색</label>
                                            <input type="text" class="form-control" id="keyword" placeholder="키워드명을 입력해주세요.">
                                        </div>
                                        <div class="form-group">
                                            <div class="form-label">결제 완료일</div>
                                            <div class="form-control form-control__wrap">
                                                <div class="input-group-wrap input-date-group">
                                                    <div class="input-date">
                                                        <label for="startDate" class="invisible">기간 시작일 선택</label>
                                                        <input type="text" class="form-control" id="startDate" placeholder="연도/월/일">
                                                    </div>
                                                    <div class="input-joint center">
                                                        ~
                                                    </div>
                                                    <div class="input-date">
                                                        <label for="endDate" class="invisible">기간 말일 선택</label>
                                                        <input type="text" class="form-control" id="endDate" placeholder="연도/월/일">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <el-button-group class="btn-group-toggle">
                                                <el-button size="medium" class="btn-toggle__active">오늘</el-button>
                                                <el-button size="medium">일주일</el-button>
                                                <el-button size="medium">1개월</el-button>
                                                <el-button size="medium">3개월</el-button>
                                                <el-button size="medium">전체</el-button>
                                            </el-button-group>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="goodsName">상품명</label>
                                            <input type="text" class="form-control" id="goodsName" placeholder="상품명을 입력해주세요.">
                                        </div>
                                        <div class="form-group">
                                            <div class="form-label">상품금액</div>
                                            <div class="form-control form-control__wrap">
                                                <div class="input-group-wrap">
                                                    <div>
                                                        <label for="minTotalPrice" class="invisible">상품 최소금액</label>
                                                        <input type="text" class="form-control" id="minTotalPrice" min="0" placeholder="0">
                                                    </div>
                                                    <div class="input-joint center">
                                                        ~
                                                    </div>
                                                    <div>
                                                        <label for="maxTotalPrice" class="invisible">상품 최대금액</label>
                                                        <input type="text" class="form-control" id="maxTotalPrice" min="0" max="10000000" placeholder="10,000,000">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="customerMobile">구매자 휴대폰번호</label>
                                            <input type="tel" class="form-control" id="customerMobile" maxlength="11" placeholder="구매자 휴대폰번호를 입력해주세요.">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="cardNum">카드번호 뒷 4자리</label>
                                            <input type="number" class="form-control" id="cardNum" min="0" max="9999" placeholder="카드번호 뒷 4자리를 입력해주세요.">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="subMemberIdOrName">부계정 아이디/이름</label>
                                            <input type="text" class="form-control" id="subMemberIdOrName" placeholder="부계정 아이디/이름을 입력해주세요.">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="hostType">결제자 구분</label>
                                            <select class="form-control custom-select" id="hostType">
                                                <option value="ALL" selected>전체</option>
                                                <option value="MAIN_ID">주계정</option>
                                                <option value="SUB_ID">부계정</option>
                                                <option value="DELEGATE">대리결제</option>
                                            </select>
                                        </div>
                                        <div class="btn-ct-bottom block">
                                            <button type="submit" class="btn btn-lg btn-filter-search btn-primary rounded-sm"><i class="xi-search"></i> 검색</button>
                                        </div>
                                    </div>
                                    <!-- //card-body -->
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- //page-body -->


                    <button type="button" class="btn-open-search" title="상세 검색창 열기" @click="searchboxOpener">
                        <i class="xi-search"></i>
                    </button>
                </div>
                <!-- //.container-fluid.page-container -->
            </section>
            <!-- //content-inner -->
        </section>
        <!-- //content -->
    </div>
    <!-- //content-wrap -->

    <footer id="site-footer">
        <h2 class="invisible">하단 정보</h2>
    </footer>
</div>


<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import elemnet-ui JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>



<script src="https://unpkg.com/vuescroll"></script>
<!-- import vuescroll-slide -->
<script src="https://unpkg.com/vuescroll/dist/vuescroll-slide.js"></script>
<!-- import vuescroll-native -->
<script src="https://unpkg.com/vuescroll/dist/vuescroll-native.js"></script>


<script>
    var app = new Vue({
        el: '#app',
        // components: {
        //     AnimatedNumber
        // },
        data(){
            return{
                // lnb menu show
                isActive: false,

                // page load check
                isLoaded: false,

                // popover
                visible: false,

                // dialog
                dialogVisible1: false,
                dialogVisible2: false,
                dialogVisible3: false,
                dialogVisible4: false,
                dialogVisible5: false,
                dialogVisible6: false,
                dialogVisible7: false,
                dialogVisible8: false,
                dialogVisible9: false,
                dialogVisible10: false,
                dialogVisible11: false,

                // open search box
                searchbox: false,

                countValue: 760000,
            }
        },

        methods: {
            // 정산 신청내역 확인 메시지박스
            open() {
                this.$alert('심사 진행중입니다.', '정산 신청내역 상태', {
                    confirmButtonText: '확인',
                });
            },

            // 메뉴 토글 작동
            toggler() {
                this.isActive = !this.isActive
            },

            searchboxOpener(){
                this.searchbox = !this.searchbox
            },

            /*
            formatToPrice(countValue) {
                return `${countValue.toFixed(0)}`;
            }
            */
        },
        created() {
            // 페이지 로드 후, 클래스 추가
            this.isLoaded = !this.isLoaded
        }
    })
</script>
</body>
</html>