/* ----------------------------------------------------------------
 default Styling
 -----------------------------------------------------------------*/
html {
  overflow-x: hidden;
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: 1.6em;
  letter-spacing: -0.55px;
  color: $base;
  -webkit-overflow-scrolling: touch;
  padding-top: 1px;
  margin-top: -1px;
  height: auto;
  overflow: hidden;
  // 나눔스퀘어 웹폰트 깨지는 거 보정
  //transform: skew(-0.03deg);
}

.us {
  font-family: $font-family-us;
  letter-spacing: 1px;
}

input, select, textarea, button, textarea {
  font-family: $font-family;
}

input[type="text"] {
  padding: 8px 10px;
  border: 1px solid $line;
  background: $white;
  @extend %box;

  table & {
    width: 100%;
  }
}

.centerThis {
  margin: 0 auto;
  position: relative;
  // width: 1280px;
  width:1170px;
}

.img {
  max-width: 100%;
  max-height: 100%;
}

/* ----------------------------------------------------------------
 layout
 -----------------------------------------------------------------*/
#header {
  /*border-bottom: 1px solid $line;*/
  background: $white;
  height: 67px;
  h1 {
    width: 150px;
    position: absolute;
    left: 0px;
    top: 21px;
    img{
      max-width: 87px;
    }
  }
  .headerBtn {
    float: right;
    padding-top: 14px;
  }
}

/* ----------------------------------------------------------------
 gnb
 -----------------------------------------------------------------*/
.gnbWrap {
  display: inline-block;
  float: right;
}

.gnb {
  display: inline-block;
  float: left;
  margin-right: 50px;
  > li {
    height: 67px;
  }
}

.gnb li {
  float: left;
  display: inline-block;
  position: relative;
  &:hover > a {
    color: #3ea0ff;
  }
  a {
    display: block;
    padding: 20px 30px;
    font-size: $font-size-sm;
  }
  ul {
    background: $blue;
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 180px;
    z-index: 99;
    li {
      float: none;
      width: 100%;
      a {
        padding: 10px 20px;
      }
      &:hover {
        background: rgba(255, 255, 255, 0.3);
        -webkit-transition: all 0.1s;
        -o-transition: all 0.1s;
        transition: all 0.1s;
        a {
          color: $white;
        }
      }
    }
    a {
      left: 100%;
      top: 0;
      color: $white;
    }
  }
}

/* ----------------------------------------------------------------
 ltnav
 -----------------------------------------------------------------*/
#header_mobile .inner {
  border-bottom: 1px solid $line;
  height: 48px;
  position: relative;
  display: table;
  width: 100%;
  h1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    img {
      max-width: 87px;
      position: relative;
      top: 3px;
    }
  }
}

#ltnav_btn {
  position: absolute;
  font-size: 30px;
  display: table;
  left: 0px;
  height: 48px;
  width: 60px;
  cursor: pointer;
  text-align: center;
  i {
    display: table-cell;
    vertical-align: middle;
  }
}

#ltnav_mask {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 991;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#ltnav {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 99999;
  display: none;
  .ltnav_inner {
    width: 239px;
    vertical-align: top;
    height: 100%;
    background: $white;
    overflow-x: hidden !important;
    overflow-y: auto;
    -webkit-box-shadow: 3px 0px 15px -3px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 3px 0px 15px -3px rgba(0, 0, 0, 0.6);
    box-shadow: 3px 0px 15px -3px rgba(0, 0, 0, 0.6);
  }
  #ltnav_title {
    padding: 0px 0px 0 15px;
    background: $blue-black;

    span {
      float: left;
      display: inline-block;
      line-height: 48px;
      color: $white;
    }

    #ltnav_close {
      float: right;
      height: 48px;
      width: 48px;
      line-height: 48px;
      text-align: center;
      cursor: pointer;
      display: inline-block;
      color: $white;
      i {
        font-size: 26px;
        padding-top: 10px;
      }
    }

  }

  .btnArea {
    padding: 20px 10px;
    a {
      width: 100%;
    }
  }

}

/* main menu */
#cssmenu, #cssmenu ul, #cssmenu li, #cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
}

#cssmenu {
  width: 239px;
  > ul > li:last-child {
    margin: 0;
  }
  > ul > li > div {
    display: block;
    padding: 0px 15px;
    height: 44px;
    line-height: 44px;
    border-bottom: 1px solid $line-light;
    cursor: pointer;
  }
  ul ul {
    display: block;
    color: #6e6e6e;
  }
  ul ul li {
    line-height: 22px;
    cursor: pointer;
    &:hover {
      color: $blue;
    }
  }
  .has-sub {
    .ltnav_tt {
      position: relative;
      cursor: pointer;
      &:after {
        font-family: FontAwesome;
        position: absolute;
        @extend %top50;
        right: 15px;
        content: '\f107';
        font-size: 26px;
      }
    }
    &.active {
      .ltnav_tt {
        color: $blue;
        &:after {
          content: '\f106';
        }
      }
    }
    &.hover {
      .ltnav_tt {
        color: $blue;
      }
    }
    ul {
      display: none;
      border-bottom: 1px solid $line-light;
      background: #f9f9f9;
      padding: 10px 8px 10px 15px;
    }
    > ul > li {
      padding: 8px 0px;
    }
    li:first-child {
      border-top: 0;
    }
  }

}

/* ----------------------------------------------------------------
 panel-group
 -----------------------------------------------------------------*/
.panel-group {
  text-align: left;
  border-top: 2px solid $black;
  .panel-heading {
    a{
      padding: 13px;
      display: block;
      position: relative;
      color: $blue;
      border-bottom: 0px;
      &:after{
        position: absolute;
        @extend %top50;
        content: "\f113";
        font-family: LineAwesome;
        right: 13px;
      }
      &.collapsed{
        color: $black;
        border-bottom: 1px solid $line;
      }
      &.collapsed:after{
        content: "\f110";
      }
    }
  }
  .panel-body {
    padding: 10px 13px 20px 13px;
    border-bottom: 1px solid $line;
    font-size: $font-size-sm;
    p{
      margin-top: 10px;
      &:first-child{
        margin-top: 0px;
      }
    }
    dl{
      margin-top: 10px;
      dt{
        font-weight: $font-weight-bold;
        margin-bottom: 8px;
      }
      dd{
        padding-left: 10px;
        position:relative;
        &:before{
        top: 10px;
          left: 0px;
          width: 4px;
          height: 4px;
          position: absolute;
          display: block;
          content:'';
          background: $grey-blue;
        }
      }
    }
  }
}

/* ----------------------------------------------------------------
 footer css
 -----------------------------------------------------------------*/
.footer {
  background: $white;
  border-top:1px solid $line;
  color: #a7a7a7;
  padding: 30px 0;
  position: relative;
  a {
    color: #a7a7a7;
  }
  .ftRow1 {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    .privacy_menu span {
      padding: 0 8px;
      &:first-child {
        padding-left: 0 !important;
      }
    }
  }
  .ftRow2 {
    padding-top: 15px;
    text-align: left;
    .add, .copy {
      font-size: $font-size-sm;
      //color: rgba(255, 255, 255, 0.7);
      @include fontSt;
    }
    span:before {
      content: "|";
      display: inline-block;
      padding-left: 8px;
      padding-right: 8px;
      //color: rgba(255, 255, 255, 0.2);
    }
    span:first-child:before {
      content: "";
      padding: 0;
    }
  }
  .select_wrap {
    padding-right: 5px;
    position: relative;
    &:after {
      position: absolute;
      right: 0px;
      @extend %top50;
      font-size: $font-size-middle;
      font-family: LineAwesome;
      content: "\f110";
      color: $white;
      margin-left: -17px;
    }
  }
  .family_site {
    font-size: $font-size-base;
    position: relative;
    padding-right: 20px;
    border: 0;
    color: $white;
    cursor: pointer;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    option {
      color: $black;
    }
    i {
      margin-left: 30px;
    }
  }

}


