/*==================== Reset ==========================*/
@font-face {
  font-family: "FontAwesome";
  src: url('../fonts/FontAwesome-webfont.eot');
  src: url('../fonts/FontAwesome-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/FontAwesome-webfont.woff') format('woff'), url('../fonts/FontAwesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  @include prefix(box-sizing, border-box, webkit ms moz o);
  &:before,
  &:after{
    @include prefix(box-sizing, border-box, webkit ms moz o);
  }
}

html {
  font-size: 12px;
  background: $lwhite;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

body {
  font-family: $font-family;
  font-weight: 500;
  line-height: 1.42857143;
  color: #333333;

}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


a {
  text-decoration: none;
  &:hover,
  &:focus {
    color: inherit;
  }
  &:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}

/* Set html5 elements to block */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,main,nav,section,summary{display:block;}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,font,img,ins,q,s,samp,strike,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{border:0 none; margin:0; padding:0; /*line-height:1.5;*/}
body{position:relative;word-break:break-all;-ms-text-size-adjust:100%;text-size-adjust:100%;-webkit-text-size-adjust:100%;}
header,h1{font-size:100%;}
html,body{height:100%;}
caption,legend{position:absolute;top:-9999px;left:-9999px;visibility:hidden;width:0;height:0;font-size:0;overflow:hidden;}
caption{display:none;}
img{vertical-align:top;border:none;}
select,input{vertical-align:top;border:0px;border-radius:0;background-color:transparent; box-shadow: none;}
hr{display:none;border:0 none;}
ol,ul,ul li{list-style:none; padding:0; margin:0;}
dl, dt, dd{ padding:0; margin:0;}
em{font-style:normal;}
menu li{list-style:none;}
address{font-style:normal;display:inline;}
button{cursor:pointer;border:0px;border-radius:0;background-color:transparent;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
button:active{ outline:none;}
//button:focus{ outline:none;}
table{border-spacing:0;border-collapse:collapse;}
input,textarea,keygen,select,button{font-family: $font-family;}
strong{font-weight:normal;}
dfn{font-style:normal;}
/* Link Style */
a:link,a:visited,a:active,a:focus{text-decoration:none; color: inherit;}
a:focus{}
a:hover{text-decoration:none;}
/* Forms */
fieldset{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
select,input[type=radio],input[type=submit],input[type=search]{cursor:pointer;border:0px;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
select::-ms-expand {display:none;}
input:focus,button:focus,textarea:focus{}
select,div{}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
input[type=date]::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 1;
}
textarea{
  width:100%;
  border:none;
  background: none;
  border:1px solid $line-d;
  resize: none;
  color:$gray-6;
}
/* heading */
body,input,textarea,select,button{font-family: $font-family;}
h1,h2,h3,h4,h5,h6{margin:0;font-weight:normal;}
img{max-width:100%;height:auto;vertical-align:top;-ms-interpolation-mode:bicubic;}
small{font-size: 11px;color:$th-color;}




/*==================== Helper CSS ==========================*/

.mgt0{
  margin-top: 0px !important;
}

// Floats
.clearfix {
  @include clearfix;
}
.center-block {
  @include center-block;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}

// Toggling content
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  @include text-hide;
}

// Hide from screenreaders and browsers
.hidden {
  display: none !important;
}

// for only screen-reader
.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  &-focusable:active,
  &-focusable:focus{
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}

// For Affix plugin
.affix {
  position: fixed;
}

// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }


// text decoration
strong,.strong{
  font-weight:600;
}
.under{
  text-decoration: underline;
}


// color
.corange{
  color: $orange_dark !important;
}
.cblue{
  color: $blue !important;
}
.cgreen{
  color: $green !important;
}
.cbluelight{
  color: $blue-light !important;
}
.cpink{
  color: $pink !important;
}
.cpurple{
  color: $purple !important;
}
.cgray{
  color:$gray-6 !important;
}
.cblack{
  color: $black !important;
}
.csky{
  color:$sky !important;
}
.cdsky{
  color:$dark-sky !important;
}


// margin & padding

.mgt10{
  margin-top:10px;
}
.mgt20{
  margin-top:20px;
}
.mgb5{
  margin-bottom:5px;
}
.mgb10{
  margin-bottom:10px;
}
.mgb15{
  margin-bottom:15px;
}
.mgb20{
  margin-bottom:20px;
}
.mgb25{
  margin-bottom:25px;
}


.pd_horiz0{
  padding-left:0 !important;
  padding-right:0 !important;
}




// Images Background ICON
.images{
  //position: absolute;
  display:inline-block;
  background: url("../images/images.png") no-repeat;
  vertical-align: top;
  top: 50%;
  transform: translateY(-48%);

  &:before{
    position: relative;
  }
}


.i_change {
  position: absolute;
  width: 16px;
  height: 17px;
  background-position: 0 0;
}
.i_alertOn {
  position: absolute;
  width: 17px;
  height: 16px;
  background-position: -48px 0;
}
.i_alert{
  position: absolute;
  width: 13px;
  height: 16px;
  background-position: -25px 0;
}




// animate
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes sonar {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}