/* ----------------------------------------------------------------
 Reset
 -----------------------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
	outline: none !important;
	-webkit-tap-highlight-color: transparent;
}
.block{
	display: block;
}
.none{
	display: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}
a {
	outline: none !important;
}
body, html {
	height: 100%;
}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {
	display: block;
	padding: 0;
	margin: 0;
}
/*요소 여백 초기화 */
html, body, div, span, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, blockquote, p, address, pre, cite, form, fieldset, input, textarea, select, table, th, td {
	margin: 0;
	padding: 0;
}
/*테투리 없애기*/
fieldset, img, abbr, acronym {
	border: 0 none;
}

/*목록*/
ol, ul, li {
	list-style: none;
}
/*테이블 -마크업에 'cellspacion="0" 지정 함께 필요 */
table {
	border-collapse: collapse;
	border-spacing: 0px;
	width: 100%;
	border: 0px;
}
table caption{
	text-indent: -9999px;
	overflow:hidden;
	width:0;
	height:0;
}
caption, th, td {
	/*text-align: left;*/
	font-weight: normal;
}
/*텍스트 관련 요소 초기화*/
address, caption, strong, em, cite {
	font-weight: normal;
	font-style: normal;
}
small {
	font-weight: normal;
}
.ins {
	text-decoration: none;
}
.nor {
	font-weight: normal;
}
.del {
	text-decoration: line-through;
}
.und {
	text-decoration: underline;
}
.fa-chevron-right {
	color: #a6a6a6;
}
.not_scroll {
	position: fixed;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.not_scroll #table-fixed {
	position: relative;
	top: 0;
}
/*인용문*/
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}
/*수평선*/
hr {
	display: none;
}
legend, caption {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	font-size: 0;
	line-height: 0;
}
a {
	text-decoration: none;
	color: #222;
	outline: none !important;
}
a:hover, a:active, a:focus {
	text-decoration: none;
}

input::placeholder, textarea::placeholder {
	color: #aeaeae;
	font-weight: normal;
}
:-ms-input-placeholder, :-ms-textarea-placeholder {color: #aeaeae;} /* M$ */
::-webkit-input-placeholder, ::-ms-textarea-placeholder {color: #aeaeae;} /* webkit */
::-moz-placeholder{color: #aeaeae;} /* firefox */

input[type="file"] {
	display: none;
	cursor: pointer;
}
.bdt{
	border-top: 1px solid #d1d8e8 !important;
}
.bdtn{
	border-top: 0px !important;
}
.fileBox {
	position: relative;
}
.delFile {
	z-index: 3;
	position: absolute;
	top: 0px;
	right: 0px;
}
.delFile i {
	position: relative;
	width: 32px;
	height: 32px;
	display: block;
	background: rgba(0,0,0,0.8);
}
.delFile i:before {
	content: '\f00d';
	color: #ffffff;
	position: absolute;
	right: 0px;
	top: 0px;
	font-family: fontAwesome;
	font-style: normal;
	display: block;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	font-size: 13px;
}
input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="time"], input[type="date"], input[type="tel"] {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0 8px;
}
input[type="text"] {
	ime-mode: active;
}
input.input_login {
	ime-mode: disabled;
}
input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="time"], input[type="date"], input[type="tel"], textarea, button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="time"], input[type="date"], input[type="tel"], textarea, button, select {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}
select {
	position: relative;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 0 8px;
	-webkit-appearance: listbox;
}
select::-ms-expand {
	display: none;
}
.selectWrap {
	position: relative;
}
.selectWrap:after {
	font-family: FontAwesome;
	position: absolute;
	top: 50%;
	right: 8px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	content: '\f107';
	font-size: 19px;
	color: #a6a6a6;
	/*pointer-events: none;*/
}
.selectWrap.bdn:after {
	right: 0px;
}
.selectWrap.inputDate:after {
	content: '\f073';
}
input[type="checkbox"], input[type="radio"] {
	padding: 0;
	margin: 0;
	vertical-align: middle;
	*overflow: hidden;
	-webkit-appearance: none;
	position: absolute;
	z-index: 9;
	top: 0;
	left: 0;
	border: 0;
	background: 0;
	opacity: 0;
	cursor: pointer;
	width: 25px;
	height: 25px;
}

input[type="checkbox"] + label, input[type="radio"] + label {
	padding-left: 30px;
	margin-right: 30px;
	display: block;
}
.input_chk:last-child input[type="checkbox"] + label, .input_chk:last-child input[type="radio"] + label {
	margin-right: 0px;
	cursor:pointer;
}
@media screen and (max-width: 320px) {
	input[type="checkbox"] + label, input[type="radio"] + label {
		padding-left: 30px;
		margin-right: 15px;
	}
}
.input_chk {
	position: relative;
	display: inline-block;
	height: 25px;
	line-height: 19px;
	/*line-height: 25px;*/
}
/* 180226 추가 */
.input_chk span + label{
	padding-left: 30px;
	margin-right: 30px;
	cursor : pointer;
}

/* input checkbox */
.input_chk input[type="checkbox"] + label:before, .input_chk input[type="radio"] + label:before, .input_chk span + label:before {
	content: '';
	position: absolute;
	top: -3px;
	left: 0;
	width: 19px;
	height: 22px;
	display: inline-block;
	color: transparent;
	overflow: hidden;
	white-space: nowrap;
	background: url(../images/images.png) 0 0 no-repeat;
	-webkit-background-size: 266px 266px;
	background-size: 266px 266px;
	cursor: hand;
}
.input_chk input[type="checkbox"] + label:before, .input_chk span + label:before {
	-webkit-background-position: -24px 2.5px;
	background-position: -24px 2.5px;

}
.input_chk input[type="checkbox"]:checked + label:before, .input_chk span.on + label:before {
	-webkit-background-position: 0 2.5px;
	background-position: 0 2.5px;


}
/* input radio */
.input_chk input[type="radio"] + label:before {
	top: 0;
	-webkit-background-position: -75px 0px;
	background-position: -75px 0px;

}
.input_chk input[type="radio"]:checked + label:before {
	top: 0;
	-webkit-background-position: -50px 0px;
	background-position: -50px 0px;
}



input[type="checkbox"].check_toggle {
	position: relative;
}
input[type="checkbox"].check_toggle {
	display: none;
}
input[type="checkbox"].check_toggle + label {
	display: inline-block;
	float: left;
	margin-bottom: 0;
	color: #a6a6a6;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #d7d9dc;
	border-left: 0px;
	height: 41px;
	line-height: 41px;
	padding: 0;
	margin: 0px;
}
input[type="checkbox"].check_toggle:first-child + label {
	border-left: 1px solid #d7d9dc;
}
input[type="checkbox"].check_toggle:checked + label, input[type="radio"].radio_taggle:checked + label {
	background: #0093d9;
	color: #ffffff;
	font-weight: bold;
	border-color: rgba(255,255,255,0.2);
}

input[type="radio"].radio_toggle {
	position: relative;
}
input[type="radio"].radio_toggle {
	display: none;
}
input[type="radio"].radio_toggle + label {
	display: inline-block;
	float: left;
	margin-bottom: 0;
	color: #103760;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #103760;
	border-left: 0px;
	height: 41px;
	line-height: 41px;
	padding: 0;
	margin: 0px;
}
input[type="radio"].radio_toggle.first + label {
	border-left: 1px solid #103760;
	-webkit-border-top-left-radius: 50em;
	-webkit-border-bottom-left-radius: 50em;
	-moz-border-radius-topleft: 50em;
	-moz-border-radius-bottomleft: 50em;
	border-top-left-radius: 50em;
	border-bottom-left-radius: 50em;
}
input[type="radio"].radio_toggle.last + label {
	-webkit-border-top-right-radius: 50em;
	-webkit-border-bottom-right-radius: 50em;
	-moz-border-radius-topright: 50em;
	-moz-border-radius-bottomright: 50em;
	border-top-right-radius: 50em;
	border-bottom-right-radius: 50em;
}
input[type="radio"].radio_toggle:checked + label {
	background: #103760;
	color: #ffffff;
	font-weight: bold;
}

input[type="radio"].radio_toggle_chk {
	position: relative;
}
input[type="radio"].radio_toggle_chk {
	display: none;
}
input[type="radio"].radio_toggle_chk + label {
	display: inline-block;
	margin-bottom: 0;
	color: #2e2e2e;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	height: 41px;
	line-height: 41px;
	padding: 0;
	margin: 0px;
}
input[type="radio"].radio_toggle_chk:checked + label {
	font-weight: bold;
	color: #0093d9;
}
input[type="radio"].radio_toggle_chk:checked + label:before {
	content: "\f00c";
	font-family: FontAwesome;
}
/*---------------------------
 * switch toggle
 -----------------------------*/
/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 55px;
	height: 27px;
	margin-top: 5px;
}

/* Hide default HTML checkbox */
.switch input {
	display: none;
}

/* The slider */
.check_slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.check_slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .check_slider {
	background-color: #0093d9;
}

input:focus + .check_slider {
	box-shadow: 0 0 1px #0093d9;
}

input:checked + .check_slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.check_slider.round {
	border-radius: 50em;
}
.check_slider.round:before {
	border-radius: 50em;
}


/*---------------------------
 * inputBox
 -----------------------------*/
.inputBox {
	background: #ffffff !important;
	border: 1px solid #ddd !important;
	font-size: 13px;
	width: 100%;
	position: relative;
	height: 40px;
	color:#2e2e2e;
}
.inputBox_none {
	background: none;
	border: 0;
	font-size: 14px;
	width: 100%;
	position: relative;
}
.rd50 {
	border-radius: 50em;
	padding: 0 15px !important;
	box-sizing: border-box;
}
.selectBox {
	position: relative;
	width: 100%;
	height: 40px;
	background: #ffffff;
	border: 1px solid #ddd !important;
	font-size: 13px;
	/*color: #999;*/
	box-sizing: border-box;
}
.selectBox option:checked {
	color: #2e2e2e;
}

.timeBox {
	background: #ffffff;
	border: 0 !important;
	font-size: 14px;
	width: 100%;
	position: relative;
	height: 41px;
}
textarea {
	background: #ffffff;
	border: 1px solid #d7d9dc;
	font-size: 14px;
	width: 97%;
	position: relative;
	padding: 1.5%;
	line-height: 1.6em;
}
.inputLabel{
	display: table;
	width: 100%;
	height: 40px;
}
.inputLabel .form_left{
	width: 90%;
	display: table-cell;
	text-align: left;
	vertical-align: middle;
}
.inputLabel .form_right{
	width: 10%;
	display:table-cell;
	text-align: right;
	color: #999;
	vertical-align: middle;
}
/* ----------------------------------------------------------------
 Helper Classes
 -----------------------------------------------------------------*/
strong {
	font-weight: bold;
}
.fno {
	font-weight: normal;
}
.fl {
	float: left !important;
}
.fr {
	float: right !important;
}
.tbList th, .tbList td {
	text-align: left;
}
.td_tr td, .td_tr input[type="text"], .td_tr input[type="number"], .td_tr input[type="time"], .td_tr input[type="date"], .td_tr input[type="tel"] {
	/*text-align: right;*/
}

.tl {
	text-align: left !important;
}
.tr {
	text-align: right !important;
}
.tc {
	text-align: center !important;
}
.vm {
	vertical-align: middle !important;
}
.vt {
	vertical-align: top !important;
}
.group:before, .group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
.group {
	zoom: 1;
}
.hand {
	cursor: hand;
	cursor: pointer;
}
.mg10 {
	margin: 10px 0px;
}
.mgt0 {
	margin-top: 0px !important;
}
.mgt5 {
	margin-top: 5px !important;
}
.mgt10 {
	margin-top: 10px !important;
}
.mgt20 {
	margin-top: 20px !important;
}
.mgt30 {
	margin-top: 30px !important;
}
.mgt40 {
	margin-top: 40px !important;
}
.mgt60 {
	margin-top: 60px !important;
}
.mgb0 {
	margin-bottom: 0px !important;
}

.mgb5 {
	margin-bottom: 5px !important;
}
.mgb10 {
	margin-bottom: 10px !important;
}
.mgb20 {
	margin-bottom: 20px !important;
}
.mgl5 {
	margin-left: 5px !important;
}
.mgl10 {
	margin-left: 10px !important;
}
.mgl15 {
	margin-left: 15px !important;
}
.mgr5 {
	margin-right: 5px !important;
}
.mgr10 {
	margin-right: 10px !important;
}
.pt_none {
	padding-top: 0px !important;
}
.pb_none {
	padding-bottom: 0px !important;
}

/* ----------------------------------------------------------------
 font Classes - color
 -----------------------------------------------------------------*/
.bgWhite {
	background: #ffffff !important;
}
.cwhite{
	color: #ffffff !important;
}
.cgray {
	color: #a6a6a6 !important;
}
.cgray2{
	color: #c5c5c5 !important;
}
.cred {
	color: #e64c57 !important;
}
.cyel {
	color: #feab1d !important;
}
.clyel{
	color: #feff97 !important;
}
.corg{
	color: #ed5821 !important;
}
.cblue {
	color: #007aff !important;
}
.cdblue {
	color: #0c6fa0 !important;
}
.cnavy {
	color: #223153 !important;
}
.cdnavy{
	color: #121f2c !important;
}
.cpurple{
	color: #454b74 !important;
}


.sm_text {
	color: #9d9d9d;
	font-size: 11px;
}
.price {
	font-size: 20px;
}

.f11{
	font-size: 11px;
}
.f14 {
	font-size: 14px;
}
.f16 {
	font-size: 16px;
}
.f18 {
	font-size: 18px !important;
	position: relative;
	/*top: 1px;*//*vetical-align:middle로 바꿔서 필요없어서 지움*/
}
.f20 {
	font-size: 20px;
	position: relative;
	top: 3px;
}
.number {
	font-size: 1.3em;
	position: relative;
	top: 2px;
}


/* ----------------------------------------------------------------
 btn Styling
 -----------------------------------------------------------------*/
#fixedBtn_bottom {
	width: 100%;
	padding: 3px 0;
	border-top: 1px solid #d7d9dc;
	background: #ffffff;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
#fixedBtn_bottom .centerThis {
	padding: 0 5px;
}
.btn_area {
	margin-top: 25px;
}
.btn_global {
	font-size: 16px;
	font-weight: bold;
	line-height: 48px;
	display: inline-block;
	width: 100%;
	height: 48px;
	cursor: pointer;
	text-align: center;
	color: #6e6e6e;
	border: 1px solid #ccc;
	background: #ffffff;
	white-space: nowrap;
}
.btn_xsmall {
	font-size: 11px;
	font-weight: bold;
	line-height: 22px;
	display: inline-block;
	vertical-align: middle;
	height: 22px;
	cursor: pointer;
	text-align: center;
	color: #999;
	border: 1px solid #dadbdc;
	background: #ffffff;
	white-space: nowrap;
	min-width: 65px;
}

.btn_small {
	font-size: 12px;
	font-weight: bold;
	line-height: 30px;
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	cursor: pointer;
	text-align: center;
	color: #6e6e6e;
	border: 1px solid #ccc;
	background: #ffffff;
	white-space: nowrap;
	min-width: 80px;
}
.btn_plus {
	min-width: auto !important;
	width: 70px !important;
}
.btn_plus strong {
	font-size: 17px;
	margin-right: 3px;
}
.btn_md {
	font-size: 14px;
	font-weight: bold;
	line-height: 40px;
	display: inline-block;
	height: 40px;
	cursor: pointer;
	text-align: center;
	color: #6e6e6e;
	border: 1px solid #ccc;
	background: #ffffff;
	white-space: nowrap;
	width: 100%;
	box-sizing: border-box;
}


.cmainblue{
	color: #007aff !important;
}

.bmainblue{
	background: #007aff !important;
	border-color: #007aff !important;
	color: #fff !important;
}
.lmainblue{
	background: #fff !important;
	border-color: #007aff !important;
	color: #007aff !important;
}

.lblack {
	background: #fff !important;
	border-color: #2e2e2e !important;
	color: #2e2e2e !important;
}
.llgray {
	background: #ffffff !important;
	border-color: #d8d8d8 !important;
	color: #2e2e2e !important;
}
.lblue {
	background: #ffffff !important;
	color: #007aff !important;
	border-color: #007aff !important;
}

.lwhite {
	background: none !important;
	border-color: #ffffff !important;
	color: #ffffff !important;
}
.bgray {
	background: #d7d9dc !important;
	border-color: #d7d9dc !important;
	color: #ffffff !important;
}
.bdgray {
	background: #c8c8c8 !important;
	border-color: #c8c8c8 !important;
	color: #ffffff !important;
}


.wSmall {
	width: 27%;
}
.wBig {
	width: 70%;
}
.wHalf {
	width: 48%;
}

.bdt0{
	border-top: none !important;
}



/* 180508 */
.inner{ padding: 0 15px;}

.inputBtn{
	width: 100%;
	height: 40px;
	font-size: 13px;
	background: #fff;
	border: none;
	border: 1px solid #d7d9dc !important;
	cursor: pointer;
	box-sizing: border-box;
}
.inputBtn i{
	display:inline-block;
	width:14px;
	height:14px;
	color: #2e2e2e;
	margin-right: 5px;
}

.under{
	padding-bottom: 3px;
	border-bottom:1px solid #2e2e2e;
}
